body {
	margin: 0;
	font-family: Helvetica Neue, Arial;
}
a {
	color: #003e6d;
}
header {
	display: block;
	background-image: url(../images/header_back.png);
	color: #fff;
	padding: 13px 0 30px 50px;
	h1 {
		font-size: 70pt;
		margin: 0;
		a {
			font-weight: 400;
			color: #fff;
			text-decoration: none;
		}
	}
	h2 {
		font-size: 11pt;
		margin: -17px 0 0 5px;
		a {
			font-weight: 400;
			color: #fff;
			text-decoration: none;
		}
	}
}
section {
	display: block;
}
section#top {
	background: #00213e;
	float: left;
	width: 100%;
	-moz-box-shadow: 0 2px 5px #888;
	-webkit-box-shadow: 0 2px 5px #888;
	box-shadow: 0 2px 5px #888;
	div {
		max-width: 1024px;
	}
}
section#main {
	width: 100%;
	margin: 30px 0 0 0;
	max-width: 1024px;
	min-height: 1000px;
}
section#content {
	margin: auto 264px auto 50px;
	h1 {
		color: #003e6d;
		margin: 0 auto auto auto;
		font-size: 22pt;
		text-shadow: 1px 1px 1px #dbdada;
	}
	h2 {
		color: #2586cf;
		a {
			color: #2586cf;
			text-decoration: none;
		}
	}
	ul {
		list-style-type: square;
		li {
			margin: 5px auto;
		}
	}
	ol {
		li {
			margin: 5px auto;
		}
	}
	h3 {
		color: #757374;
	}
	div.read_more {
		font-size: 11pt;
		margin-top: 0;

		&:after {
			content: "";
			display: block;
			clear: left;
		  }
	}
	#badges {
		img {
			vertical-align: top;
			margin-right: 20px;
		}
	}

	p {
		line-height: 135%;
	}

}
section.summary {
	margin-bottom: 20px;
	h1 {
		a {
			text-decoration: none;
		}
	}
	img {
		float: left;
		margin: 0 10px 10px 0;
		width: 280px;
		box-shadow: 2px 2px 2px lightgrey;

		&.no-shadow {
			box-shadow: none;
		}
	}

	h2 {
		margin-bottom: 5px;
	}
	p {
		margin-top: 0;
		margin-bottom: 9px;
	}
}
section.mobile_topics {
	margin-top: -12px;
	a {
		display: block;
		padding: 20px 15px;
		border-bottom: 2px solid #b9b9b9;
		position: relative;
		margin-left: -15px;
		width: 100%;
		font-size: 14pt;
		text-decoration: none;
	}
}
nav {
	display: block;
	a {
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 11px 22px;
		float: left;
		font-size: 11pt;
		-webkit-transition-property: color, background;
		-webkit-transition-duration: 1s, 1s;
		-webkit-transition-timing-function: ease, ease;
		-moz-transition-property: color, background;
		-moz-transition-duration: 1s, 1s;
		-moz-transition-timing-function: ease, ease;
		-o-transition-property: color, background;
		-o-transition-duration: 1s, 1s;
		-o-transition-timing-function: ease, ease;
		transition-property: color, background;
		transition-duration: 1s, 1s;
		transition-timing-function: ease, ease;
	}
}
nav#mobile {
	display: none;
}
nav#primary {
	float: left;
	padding: 0 0 0 50px;
	a {
		&:hover {
			color: #fff;
			background: #2586cf;
		}
	}
	nav {
		a {
			&:active {
				color: #fff;
				background: #2586cf;
			}
		}
	}
	a.active {
		color: #2586cf;
		background: #fff;
	}
}
nav#secondary {
	float: right;
	padding: 0 50px 0 0;
	a {
		&:hover {
			color: #2586cf;
		}
	}
	nav#secondary {
		a.active {
			color: #2586cf;
		}
		a {
			&:active {
				color: #2586cf;
			}
		}
	}
}
aside {
	display: block;
	width: 234px;
	float: right;
	padding: 0 auto auto auto;
	h1 {
		font-weight: 400;
		font-size: 12pt;
		border-bottom: 1px solid #000;
		padding: 0 0 10px 0;
		margin: 0 50px 20px auto;
	}
	section {
		padding: 0;
		margin: auto auto 30px auto;
	}
	section#connect {
		img {
			margin: auto 6px auto auto;
			border: none;
		}
	}
	section#topics {
		a {
			display: block;
			color: #003e6d;
			font-size: 11pt;
			margin: 0 0 9px 0;
		}
	}
}
footer {
	display: block;
	background: #e6e7e8;
	color: #8b8b8f;
	font-size: 10pt;
	padding: 20px;
	text-align: center;
	a {
		color: #8b8b8f;
	}
}
section.thumbnails {
	display: block;
	margin-bottom: 30px;
	div.flickrLink {
		font-style: italic;
		margin: 20px auto;
		color: #757374;
	}

	a {
		text-decoration: none;

		img {
			margin: 20px 20px 0 0;
			border: 1px solid #175d8a;
			box-shadow: 2px 2px 2px #eeefef;
		}
	}	
}
#mobile_connect {
	display: none;
}
#view_all {
	display: none;
}
.code {
	border: 1px dashed #003e6d;
	padding: 10px;
	font-size: 10pt;
	background: #e8e6e6;
	span {
		font-family: Monaco;
	}
}
.terminal {
	background: #000;
	color: #51fd05;
	font-family: Monaco;
	padding: 5px;
}
.screenshot {
	border: 1px solid #175d8a;
	box-shadow: 2px 2px 2px #eeefef;
}
.right {
	float: right;
	margin: 20px;
}
#cannonball_callout {
	border: 2px dashed #f5782a;
	padding: 5px;
	text-align: center;
	margin-bottom: 20px;
	a {
		font-weight: 700;
	}
}
#cannonball_map {
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
	img {
		float: left;
		border: 1px solid #003e6d;
		-moz-box-shadow: 0 2px 5px #888;
		-webkit-box-shadow: 0 2px 5px #888;
		box-shadow: 0 2px 5px #888;
	}
	.latest {
		margin-left: 50px;
	}
}
.caption {
	font-size: smaller;
	font-style: italic;
	clear: both;
	text-align: center;
	margin-bottom: 20px;
}
div.date_tags {
	font-style: italic;
	color: #5b5b5b;
	font-size: 11pt;
	margin-bottom: 10px;
}
#lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	img {
		width: auto;
		height: auto;
	}
	a {
		img {
			border: none;
		}
	}
}
#outerImageContainer {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#imageContainer {
	padding: 10px;
	>#hoverNav {
		left: 0;
	}
}
#loading {
	position: absolute;
	top: 40%;
	left: 0;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	a {
		outline: 0;
	}
}
#nextLink {
	width: 49%;
	height: 100%;
	background-image: url(data:image/gif;base64,AAAA);
	display: block;
	right: 0;
	float: right;
	&:hover {
		background: url(../images/lightbox/nextlabel.gif) right 15% no-repeat;
	}
	&:visited {
		&:hover {
			background: url(../images/lightbox/nextlabel.gif) right 15% no-repeat;
		}
	}
}
#prevLink {
	width: 49%;
	height: 100%;
	background-image: url(data:image/gif;base64,AAAA);
	display: block;
	left: 0;
	float: left;
	&:hover {
		background: url(../images/lightbox/prevlabel.gif) left 15% no-repeat;
	}
	&:visited {
		&:hover {
			background: url(../images/lightbox/prevlabel.gif) left 15% no-repeat;
		}
	}
}
#imageDataContainer {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
}
#imageData {
	padding: 0 10px;
	color: #666;
	#imageDetails {
		width: 70%;
		float: left;
		text-align: left;
	}
	#caption {
		font-weight: 700;
	}
	#numberDisplay {
		display: block;
		clear: left;
		padding-bottom: 1em;
	}
	#bottomNavClose {
		float: right;
		padding-bottom: 0.7em;
		outline: 0;
	}
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
}
@media screen and (max-width: 872px) {
	header {
		padding: 0 10px 10px 10px;
		h1 {
			margin: 0 0 15px 0;
			font-size: 40pt;
			a {
				font-size: 40pt;
			}
		}
		h2 {
			a {
				display: none;
			}
		}
	}
	section#top {
		display: none;
	}
	nav#mobile {
		display: block;
		background: #00213e;
		float: left;
		width: 100%;
		-moz-box-shadow: 0 2px 5px #888;
		-webkit-box-shadow: 0 2px 5px #888;
		box-shadow: 0 2px 5px #888;
		a {
			padding: 5px 10px 5px 13px;
		}
	}
	aside {
		display: none;
	}
	section#main {
		margin: 15px 10px 10px 0;
		h1 {
			font-size: 18pt;
		}
	}
	section#content {
		margin: 0;
		padding: 0 13px 0 13px;
		div.date_tags {
			margin-bottom: 0;
		}
	}
	footer {
		div#container {
			padding: 13px;
		}
		div#contact {
			display: none;
		}
		div#designed {
			margin-right: 0;
		}
	}
	div.date_tags {
		padding-bottom: 10px;
	}
	.mobile_hide {
		display: none;
	}
	#mobile_connect {
		display: block;
		a {
			float: left;
			margin-right: 20px;
			img {
				border: 0;
			}
		}
	}
	#view_all {
		display: block;
	}
	section.thumbnails {
		margin: 0;
		padding: 0;
		img {
			width: 100%;
			margin: 0 0 8px 0;
			padding: 0;
		}
	}
}
@media screen and (max-width: 767px) {
	.screenshot {
		width: 100%;
		float: none;
	}
	.inline {
		width: 100%;
		float: none;
	}

	iframe {
		width: 100%;
		float: none;
	}

	section.summary {
		margin-bottom: 30px;

		img {
			float: none;
			width: 100%;
		}

		p {
			display: inline;
		}

		.read_more {
			display: inline;
		}
	}
}
