<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-78GD979B3J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-78GD979B3J');
</script>

<meta charset="utf-8" />
<meta name="description" content="{{#if summary}}{{ summary }}{{else}}Personal website of Matt Toigo. Code, Bikes, Building Stuff, Travel, and anything else I'm up to.{{/if}}" />
<title>matt.toigo{{#if title}} - {{ title }}{{/if}}</title>

{{#if image}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@toigo">
<meta name="twitter:creator" content="@toigo">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ summary }}">
<meta name="twitter:image" content="https://matt-toigo.com{{ image }}">
<meta name="title" property="og:title" content="{{ title }}">
<meta name="description" property="og:description" content="{{ summary }}">
<meta name="image" property="og:image" content="{{ image }}">
<meta name="author" property="og:author" content="Matt Toigo">
{{/if}}

<link rel="stylesheet" type="text/css" href="/css/all.css" />
<script src="/fe-build/all.js"></script>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<link rel="canonical" href="{{ canonical }}" />
</head>
<body>
<header>
<h1><a href="/">matt.toigo</a></h1>
<h2><a href="/">GET EXCITED AND MAKE THINGS</a></h2>
</header>

<section id="top">
	<div>
		<nav id="primary">
			<a href="/"{{#if_eq tag 'home'}} class="active"{{/if_eq}}>HOME</a>
			<a href="/dev.html"{{#if_eq tag 'dev'}} class="active"{{/if_eq}}>DEV</a>
			<a href="/wheels.html"{{#if_eq tag 'wheels'}} class="active"{{/if_eq}}>WHEELS</a>
			<a href="/build.html"{{#if_eq tag 'build'}} class="active"{{/if_eq}}>BUILD</a>
			<a href="/travel.html"{{#if_eq tag 'travel'}} class="active"{{/if_eq}}>TRAVEL</a>
			<a href="/photos.html"{{#if_eq tag 'photos'}} class="active"{{/if_eq}}>PHOTOS</a>
		</nav>
		<nav id="secondary">
			<a href="/about.html">ABOUT</a>
			<a href="/contact.html">CONTACT</a>
		</nav>
	</div>
</section>
<nav id="mobile">
	<a href="/">HOME</a>
	<a href="/topics.html">TOPICS</a>
	<a href="/photos.html">PHOTOS</a>
	<a href="/about.html">ABOUT</a>
	<a href="/contact.html">CONTACT</a>
</nav>

<div style="clear: both"> </div>
<section id="main">

	<aside>
		<h1>CONNECT</h1>
		<section id="connect">
			<a href="http://www.linkedin.com/in/toigo"><img src="/images/linked_in.png" alt="LinkedIn" /></a>
			<a href="http://github.com/mtoigo"><img src="/images/git.png" alt="GitHub" /></a>
			<a href="https://www.strava.com/athletes/5890466"><img src="/images/strava.png" alt="Strava" /></a>
		</section>
		<!--
		{{#if_eq tag 'home'}}
			<h1>SKIBISCUIT</h1>
			<section id="topics">
				<a href="/skibiscuit.html"><img src="/images/skibiscuit.png"></a>
			</section>
		{{/if_eq}}
		-->
	</aside>
	<section id="content">
    {{#if title}}<h1>{{ title }}</h1>{{/if}}
		{{#if published}}
		<div class="date_tags">
			{{ published }} <a href="../{{ tag }}.html">{{ tag }}</a>
		</div>
		{{/if}}
    {{{ contents }}}
	</section>
</section>

<footer>
	Designed by <a href="http://www.hollytcollier.com">Holly Collier</a> and coded by me with <a href="https://metalsmith.io">Metalsmith</a>.
</footer>

</body>
</html>
