---
title: 5 Pointz
summary: Photos of some of the best aerosol art around. These were taken about a week before everything was painted over.
published: 2013-10-06
tag: travel
image: /photos/3678/10158071094_71495f6bfe_z.jpg
layout: default.hbs
---

	Photos of some of the best aerosol art around. These were taken about a week before everything was painted over. More info at <a href="http://en.wikipedia.org/wiki/5_Pointz">http://en.wikipedia.org/wiki/5_Pointz</a>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/2844/10158073444_7034659ba7_z.jpg" title="Photos"><img src="/photos/2844/10158073444_7034659ba7_q.jpg" data-thumb="/photos/2844/10158073444_7034659ba7_q.jpg"></a><a rel="lightbox[set]" href="/photos/7357/10158072314_cd1732dedb_z.jpg" title="Photos"><img src="/photos/7357/10158072314_cd1732dedb_q.jpg" data-thumb="/photos/7357/10158072314_cd1732dedb_q.jpg"></a><a rel="lightbox[set]" href="/photos/3678/10158071094_71495f6bfe_z.jpg" title="Photos"><img src="/photos/3678/10158071094_71495f6bfe_q.jpg" data-thumb="/photos/3678/10158071094_71495f6bfe_q.jpg"></a><a rel="lightbox[set]" href="/photos/2885/10158070434_c203dc522d_z.jpg" title="Photos"><img src="/photos/2885/10158070434_c203dc522d_q.jpg" data-thumb="/photos/2885/10158070434_c203dc522d_q.jpg"></a><a rel="lightbox[set]" href="/photos/7382/10158153415_86f297e52d_z.jpg" title="Photos"><img src="/photos/7382/10158153415_86f297e52d_q.jpg" data-thumb="/photos/7382/10158153415_86f297e52d_q.jpg"></a><a rel="lightbox[set]" href="/photos/5346/10158298653_936dd00314_z.jpg" title="Photos"><img src="/photos/5346/10158298653_936dd00314_q.jpg" data-thumb="/photos/5346/10158298653_936dd00314_q.jpg"></a><a rel="lightbox[set]" href="/photos/5340/10158248216_c319039a64_z.jpg" title="Photos"><img src="/photos/5340/10158248216_c319039a64_q.jpg" data-thumb="/photos/5340/10158248216_c319039a64_q.jpg"></a><a rel="lightbox[set]" href="/photos/3799/10158247516_dc35481d49_z.jpg" title="Photos"><img src="/photos/3799/10158247516_dc35481d49_q.jpg" data-thumb="/photos/3799/10158247516_dc35481d49_q.jpg"></a>		</section>
