---
title: Dolly Sods Winter Backpacking
summary: Two long days of hiking and camping through Dolly Sods in the winter.
published: 2021-03-07
tag: travel
image: /photos/dolly-sods/big/PXL_20210306_120234721.jpg
layout: default.hbs
---

<img src="/photos/dolly-sods/big/PXL_20210306_120234721.jpg" alt="Tent" class="inline">

<p>2 long days and one night of winter backpacking in <a href="https://www.fs.usda.gov/recarea/mnf/recarea/?recid=12366">Dolly Sods</a>. First time doing a serious cold weather overnighter and everything went pretty smoothly once we crossed a few freezing streams. The trails are extremely difficult to follow in the winter so make sure you have a phone or something else you can see your location on. Only saw about 5 people the entire time.</p>

<h2>Tips for Backpacking in the Cold</h2>
<ul>
    <li>Trekking poles were a must for crossing icey rocks, streams, and frozen snow.</li>
    <li>A serious winter rated camping pad like a <a href="https://www.thermarest.com/sleeping-pads/fast-and-light/neoair-xtherm-sleeping-pad/neoair-xtherm.html">therm-a-rest neoair xtherm</a> is absolutely worth it. Paired with a low degree bag it was actually too hot.</li>
    <li>Our water purification gear froze and luckily we had some extra fuel to boil water instead.</li>
    <li>Crossing streams barefoot is brutal, but always better than having wet boots.</li>
    <li>Always pack yourself a treat for the end of the day. Wine, cheese, candybars, etc. will never taste better than they do at the end of these kid of days.</li>
</ul>

<h2>Route</h2>
<h3>Day 1</h3>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/4903066576/embed/c0f3ea64b9deb980c07298f5cb8784a726d6c65f'></iframe>
<h3>Day 2</h3>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/4903067208/embed/33c0abae217e5f6ca57e84aa8eca15540eed97ac'></iframe>

<h2>Photos</h2>

<section class="thumbnails">
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210305_184659655.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210305_184659655.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210305_184659655.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210305_215316689.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210305_215316689.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210305_215316689.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210305_215336192.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210305_215336192.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210305_215336192.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210305_215558947.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210305_215558947.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210305_215558947.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210305_222613553.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210305_222613553.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210305_222613553.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_002658610.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_002658610.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_002658610.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_115243343.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_115243343.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_115243343.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_120234721.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_120234721.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_120234721.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_134150495.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_134150495.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_134150495.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_143804615.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_143804615.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_143804615.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_151322843.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_151322843.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_151322843.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_155131821.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_155131821.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_155131821.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_160900816.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_160900816.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_160900816.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/dolly-sods/big/PXL_20210306_164334752.jpg">
    <img src="/photos/dolly-sods/small/PXL_20210306_164334752.jpg" data-thumb="/photos/dolly-sods/small/PXL_20210306_164334752.jpg">
    </a>
</section>
