---
title: Hiking and Camping in Cental Shenandoah
summary: A weekend of camping nearly ruined by storms turned out pretty awesome.
published: 2011-05-01
tag: travel
image: /photos/5228/5629389543_341c1fb7fa_z.jpg
layout: default.hbs
---

	<p>
Got in late Friday to Big Meadows and setup tents in some of the worst wind I've ever been outside in. Drank and played cards until we passed out and then woke up to find one of the tents trashed by the wind and the other one barely hanging on.
</p>
<p>
Regrouped at a nearby diner and managed to snag an awesome little cabin with a woodstove. Hung out, dried out, drank plenty, and played more cards while we waited out the rain until the next day.
</p>
<p>Hiked 6 miles the next day back to <a href="http://en.wikipedia.org/wiki/Rapidan_Camp">Rapidan Camp</a> for some beers and Trout fishing.</p>
<p><em>There are more photos <a href="http://www.flickr.com/photos/bamckinney/sets/72157626532238814/">here</a> too.</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/5029/5629938882_28eeaa46cc_z.jpg" title="DSCF8831"><img src="/photos/5029/5629938882_28eeaa46cc_t.jpg" data-thumb="/photos/5029/5629938882_28eeaa46cc_t.jpg"></a><a rel="lightbox[set]" href="/photos/5269/5629357947_c2380b4afb_z.jpg" title="DSCF8832"><img src="/photos/5269/5629357947_c2380b4afb_t.jpg" data-thumb="/photos/5269/5629357947_c2380b4afb_t.jpg"></a><a rel="lightbox[set]" href="/photos/5109/5629358193_0a6de5aa5e_z.jpg" title="DSCF8833"><img src="/photos/5109/5629358193_0a6de5aa5e_t.jpg" data-thumb="/photos/5109/5629358193_0a6de5aa5e_t.jpg"></a><a rel="lightbox[set]" href="/photos/5222/5629939560_6fc96a142f_z.jpg" title="DSCF8834"><img src="/photos/5222/5629939560_6fc96a142f_t.jpg" data-thumb="/photos/5222/5629939560_6fc96a142f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5226/5629939804_15e8d6d878_z.jpg" title="DSCF8835"><img src="/photos/5226/5629939804_15e8d6d878_t.jpg" data-thumb="/photos/5226/5629939804_15e8d6d878_t.jpg"></a><a rel="lightbox[set]" href="/photos/5023/5629358861_a607c4f83d_z.jpg" title="DSCF8836"><img src="/photos/5023/5629358861_a607c4f83d_t.jpg" data-thumb="/photos/5023/5629358861_a607c4f83d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5021/5629940308_e78b3b7237_z.jpg" title="DSCF8837"><img src="/photos/5021/5629940308_e78b3b7237_t.jpg" data-thumb="/photos/5021/5629940308_e78b3b7237_t.jpg"></a><a rel="lightbox[set]" href="/photos/5063/5629359319_d2b35ce2c5_z.jpg" title="DSCF8838"><img src="/photos/5063/5629359319_d2b35ce2c5_t.jpg" data-thumb="/photos/5063/5629359319_d2b35ce2c5_t.jpg"></a><a rel="lightbox[set]" href="/photos/5106/5629940768_bff07b8eba_z.jpg" title="DSCF8839"><img src="/photos/5106/5629940768_bff07b8eba_t.jpg" data-thumb="/photos/5106/5629940768_bff07b8eba_t.jpg"></a><a rel="lightbox[set]" href="/photos/5189/5629941020_a746e53046_z.jpg" title="DSCF8840"><img src="/photos/5189/5629941020_a746e53046_t.jpg" data-thumb="/photos/5189/5629941020_a746e53046_t.jpg"></a><a rel="lightbox[set]" href="/photos/5103/5629941548_2d807a0260_z.jpg" title="DSCF8841"><img src="/photos/5103/5629941548_2d807a0260_t.jpg" data-thumb="/photos/5103/5629941548_2d807a0260_t.jpg"></a><a rel="lightbox[set]" href="/photos/5070/5629360695_da4fe24744_z.jpg" title="DSCF8842"><img src="/photos/5070/5629360695_da4fe24744_t.jpg" data-thumb="/photos/5070/5629360695_da4fe24744_t.jpg"></a><a rel="lightbox[set]" href="/photos/5223/5629361169_793744c1b4_z.jpg" title="DSCF8843"><img src="/photos/5223/5629361169_793744c1b4_t.jpg" data-thumb="/photos/5223/5629361169_793744c1b4_t.jpg"></a><a rel="lightbox[set]" href="/photos/5141/5629942472_8d5895eb01_z.jpg" title="DSCF8844"><img src="/photos/5141/5629942472_8d5895eb01_t.jpg" data-thumb="/photos/5141/5629942472_8d5895eb01_t.jpg"></a><a rel="lightbox[set]" href="/photos/5182/5629942824_605735af13_z.jpg" title="DSCF8845"><img src="/photos/5182/5629942824_605735af13_t.jpg" data-thumb="/photos/5182/5629942824_605735af13_t.jpg"></a><a rel="lightbox[set]" href="/photos/5302/5629943184_99326d99e7_z.jpg" title="DSCF8846"><img src="/photos/5302/5629943184_99326d99e7_t.jpg" data-thumb="/photos/5302/5629943184_99326d99e7_t.jpg"></a><a rel="lightbox[set]" href="/photos/5268/5629943476_77c8e92c82_z.jpg" title="DSCF8847"><img src="/photos/5268/5629943476_77c8e92c82_t.jpg" data-thumb="/photos/5268/5629943476_77c8e92c82_t.jpg"></a><a rel="lightbox[set]" href="/photos/5230/5629362619_397af32ef7_z.jpg" title="DSCF8848"><img src="/photos/5230/5629362619_397af32ef7_t.jpg" data-thumb="/photos/5230/5629362619_397af32ef7_t.jpg"></a><a rel="lightbox[set]" href="/photos/5185/5629362885_b802716867_z.jpg" title="DSCF8849"><img src="/photos/5185/5629362885_b802716867_t.jpg" data-thumb="/photos/5185/5629362885_b802716867_t.jpg"></a><a rel="lightbox[set]" href="/photos/5061/5629375803_8f8fb9c380_z.jpg" title="DSCF8852"><img src="/photos/5061/5629375803_8f8fb9c380_t.jpg" data-thumb="/photos/5061/5629375803_8f8fb9c380_t.jpg"></a><a rel="lightbox[set]" href="/photos/5188/5629957206_01ba3944fb_z.jpg" title="DSCF8853"><img src="/photos/5188/5629957206_01ba3944fb_t.jpg" data-thumb="/photos/5188/5629957206_01ba3944fb_t.jpg"></a><a rel="lightbox[set]" href="/photos/5228/5629957628_f09db2eb3f_z.jpg" title="DSCF8854"><img src="/photos/5228/5629957628_f09db2eb3f_t.jpg" data-thumb="/photos/5228/5629957628_f09db2eb3f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5145/5629958008_0b93dd1085_z.jpg" title="DSCF8855"><img src="/photos/5145/5629958008_0b93dd1085_t.jpg" data-thumb="/photos/5145/5629958008_0b93dd1085_t.jpg"></a><a rel="lightbox[set]" href="/photos/5221/5629958218_41f9567df1_z.jpg" title="DSCF8856"><img src="/photos/5221/5629958218_41f9567df1_t.jpg" data-thumb="/photos/5221/5629958218_41f9567df1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5306/5629377713_76daf3abf6_z.jpg" title="DSCF8857"><img src="/photos/5306/5629377713_76daf3abf6_t.jpg" data-thumb="/photos/5306/5629377713_76daf3abf6_t.jpg"></a><a rel="lightbox[set]" href="/photos/5304/5629959136_79d3a2f5c0_z.jpg" title="DSCF8858"><img src="/photos/5304/5629959136_79d3a2f5c0_t.jpg" data-thumb="/photos/5304/5629959136_79d3a2f5c0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5222/5629378453_de43098307_z.jpg" title="DSCF8859"><img src="/photos/5222/5629378453_de43098307_t.jpg" data-thumb="/photos/5222/5629378453_de43098307_t.jpg"></a><a rel="lightbox[set]" href="/photos/5264/5629378757_4a23f5d923_z.jpg" title="DSCF8860"><img src="/photos/5264/5629378757_4a23f5d923_t.jpg" data-thumb="/photos/5264/5629378757_4a23f5d923_t.jpg"></a><a rel="lightbox[set]" href="/photos/5267/5629378999_11b2e4da09_z.jpg" title="DSCF8861"><img src="/photos/5267/5629378999_11b2e4da09_t.jpg" data-thumb="/photos/5267/5629378999_11b2e4da09_t.jpg"></a><a rel="lightbox[set]" href="/photos/5187/5629960386_1510fe2a2a_z.jpg" title="DSCF8862"><img src="/photos/5187/5629960386_1510fe2a2a_t.jpg" data-thumb="/photos/5187/5629960386_1510fe2a2a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5306/5629960844_372c920ee1_z.jpg" title="DSCF8863"><img src="/photos/5306/5629960844_372c920ee1_t.jpg" data-thumb="/photos/5306/5629960844_372c920ee1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5303/5629379981_7661787f31_z.jpg" title="DSCF8864"><img src="/photos/5303/5629379981_7661787f31_t.jpg" data-thumb="/photos/5303/5629379981_7661787f31_t.jpg"></a><a rel="lightbox[set]" href="/photos/5141/5629380229_1f2fced23f_z.jpg" title="DSCF8865"><img src="/photos/5141/5629380229_1f2fced23f_t.jpg" data-thumb="/photos/5141/5629380229_1f2fced23f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5061/5629380565_a6da4762e8_z.jpg" title="DSCF8866"><img src="/photos/5061/5629380565_a6da4762e8_t.jpg" data-thumb="/photos/5061/5629380565_a6da4762e8_t.jpg"></a><a rel="lightbox[set]" href="/photos/5062/5629380721_cd52918c2c_z.jpg" title="DSCF8867"><img src="/photos/5062/5629380721_cd52918c2c_t.jpg" data-thumb="/photos/5062/5629380721_cd52918c2c_t.jpg"></a><a rel="lightbox[set]" href="/photos/5028/5629962094_7d0b36be8f_z.jpg" title="DSCF8868"><img src="/photos/5028/5629962094_7d0b36be8f_t.jpg" data-thumb="/photos/5028/5629962094_7d0b36be8f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5227/5629962540_ea55563a7c_z.jpg" title="DSCF8869"><img src="/photos/5227/5629962540_ea55563a7c_t.jpg" data-thumb="/photos/5227/5629962540_ea55563a7c_t.jpg"></a><a rel="lightbox[set]" href="/photos/5308/5629385291_1902f17a34_z.jpg" title="DSCF8872"><img src="/photos/5308/5629385291_1902f17a34_t.jpg" data-thumb="/photos/5308/5629385291_1902f17a34_t.jpg"></a><a rel="lightbox[set]" href="/photos/5068/5629966924_71564e4beb_z.jpg" title="DSCF8873"><img src="/photos/5068/5629966924_71564e4beb_t.jpg" data-thumb="/photos/5068/5629966924_71564e4beb_t.jpg"></a><a rel="lightbox[set]" href="/photos/5102/5629386119_129cc15104_z.jpg" title="DSCF8874"><img src="/photos/5102/5629386119_129cc15104_t.jpg" data-thumb="/photos/5102/5629386119_129cc15104_t.jpg"></a><a rel="lightbox[set]" href="/photos/5186/5629386361_447bab4de4_z.jpg" title="DSCF8875"><img src="/photos/5186/5629386361_447bab4de4_t.jpg" data-thumb="/photos/5186/5629386361_447bab4de4_t.jpg"></a><a rel="lightbox[set]" href="/photos/5143/5629968032_37b6d3f9db_z.jpg" title="DSCF8876"><img src="/photos/5143/5629968032_37b6d3f9db_t.jpg" data-thumb="/photos/5143/5629968032_37b6d3f9db_t.jpg"></a><a rel="lightbox[set]" href="/photos/5262/5629968404_2ec2f074aa_z.jpg" title="DSCF8877"><img src="/photos/5262/5629968404_2ec2f074aa_t.jpg" data-thumb="/photos/5262/5629968404_2ec2f074aa_t.jpg"></a><a rel="lightbox[set]" href="/photos/5185/5629387523_65ca48aac1_z.jpg" title="DSCF8879"><img src="/photos/5185/5629387523_65ca48aac1_t.jpg" data-thumb="/photos/5185/5629387523_65ca48aac1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5229/5629969140_9980c59154_z.jpg" title="DSCF8881"><img src="/photos/5229/5629969140_9980c59154_t.jpg" data-thumb="/photos/5229/5629969140_9980c59154_t.jpg"></a><a rel="lightbox[set]" href="/photos/5225/5629388247_0602b47e57_z.jpg" title="DSCF8882"><img src="/photos/5225/5629388247_0602b47e57_t.jpg" data-thumb="/photos/5225/5629388247_0602b47e57_t.jpg"></a><a rel="lightbox[set]" href="/photos/5263/5629969604_3c4b02e860_z.jpg" title="DSCF8883"><img src="/photos/5263/5629969604_3c4b02e860_t.jpg" data-thumb="/photos/5263/5629969604_3c4b02e860_t.jpg"></a><a rel="lightbox[set]" href="/photos/5270/5629969858_6f962fd85b_z.jpg" title="DSCF8884"><img src="/photos/5270/5629969858_6f962fd85b_t.jpg" data-thumb="/photos/5270/5629969858_6f962fd85b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5106/5629389211_a87cb60218_z.jpg" title="DSCF8885"><img src="/photos/5106/5629389211_a87cb60218_t.jpg" data-thumb="/photos/5106/5629389211_a87cb60218_t.jpg"></a><a rel="lightbox[set]" href="/photos/5063/5629970458_224d7dde63_z.jpg" title="DSCF8886"><img src="/photos/5063/5629970458_224d7dde63_t.jpg" data-thumb="/photos/5063/5629970458_224d7dde63_t.jpg"></a><a rel="lightbox[set]" href="/photos/5228/5629389543_341c1fb7fa_z.jpg" title="DSCF8887"><img src="/photos/5228/5629389543_341c1fb7fa_t.jpg" data-thumb="/photos/5228/5629389543_341c1fb7fa_t.jpg"></a><a rel="lightbox[set]" href="/photos/5229/5629970870_81b52ac2be_z.jpg" title="DSCF8888"><img src="/photos/5229/5629970870_81b52ac2be_t.jpg" data-thumb="/photos/5229/5629970870_81b52ac2be_t.jpg"></a><a rel="lightbox[set]" href="/photos/5024/5629950304_31d4c9ea3e_o.jpg" title="DSCF8850"><img src="/photos/5024/5629950304_0e319fbc31_t.jpg" data-thumb="/photos/5024/5629950304_0e319fbc31_t.jpg"></a><a rel="lightbox[set]" href="/photos/5189/5629374905_3b62ced057_o.jpg" title="DSCF8851"><img src="/photos/5189/5629374905_1ac4a2f163_t.jpg" data-thumb="/photos/5189/5629374905_1ac4a2f163_t.jpg"></a><a rel="lightbox[set]" href="/photos/5149/5629965622_78a39ce975_o.jpg" title="DSCF8870"><img src="/photos/5149/5629965622_7d9953c0dc_t.jpg" data-thumb="/photos/5149/5629965622_7d9953c0dc_t.jpg"></a>		</section>
