---
title: Massanutten and Gap Trail Backpacking
summary: A short 1 nighter winter backpacking trip just west of Luray, VA
published: 2023-01-15
tag: travel
image: /photos/massanutten/big/PXL_20230114_123145323.jpg
layout: default.hbs
---

<img src="/photos/massanutten/big/PXL_20230114_135535622.jpg" alt="View" class="inline">

<p>Well at this point it's an annual tradition since this is the third time. Planning a not so sensible winter backpacking trip to get outta the house since there's not really much fun outdoor winter sports around DC. Past episodes were the <a href="/travel/dolly-sods.html">Dolly Sods</a> trip and <a href="/travel/strickler-knob.html">Strickler Knob</a>. On the last one of these we wanted to hike to Duncan Knob, but we were short on time so the goal with this trip was to make it up there.</p>

<ul>
    <li>The Ollie Cat Cafe is by far the best place to eat in Luray at this point. They had a great impossible burger and good local beers.</li>
    <li>We parked where FR74 (Crisman Hollow), Moreland Gap Road, and Camp Roosevelt Road meet.</li>
    <li>On maps it looks like you can walk through Duncan Hollow road, but you can't since it's private property so we ended up bushwhacking east to catch the Massanutten Trail.</li>
    <li>The hike in on the Massanutten trial is easy and there's a stream crossing to purify water right before you catch the Gap Creek Trail up the mountain. The Gap Creek Trail is steep and rocky switchbacks.</li>
    <li>There's a nice camp site right where the Gap Creek trail meets the off shoot for Duncan Knob. We got a little too late of a start and it was getting dark when we got up there and we needed to get firewood.  We decided to bail on Duncan Knob that day and go for it the next morning. We got a nice fire going and finished off some wine before passing out.</li>
    <li>We woke up to about an inch of snow and did not do a good job putting things away since there was no snow in the forecast. We got everything sorted and got breakfast going and decided to bail on Duncan Knob since it was really windy and it looked like a rock scramble which would have been dicey with snow and ice.</li>
    <li>Hiked down out on the Gap Creek trail and cruised out on Crisman Hollow back to the car.</li>
</ul>

<h2>Route</h2>
<h3>Day 1</h3>
<div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="8387252661"></div><script src="https://strava-embeds.com/embed.js"></script>

<h3>Day 2</h3>
<div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="8391142005"></div><script src="https://strava-embeds.com/embed.js"></script>

<h2>Photos</h2>

<section class="thumbnails">
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_145720677.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_145720677.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_145720677.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_194659001.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_194659001.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_194659001.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_195430449.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_195430449.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_195430449.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_203336638.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_203336638.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_203336638.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_211226247.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_211226247.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_211226247.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_211416254.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_211416254.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_211416254.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_215332929.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_215332929.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_215332929.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230113_222113049.jpg">
    <img src="/photos/massanutten/small/PXL_20230113_222113049.jpg" data-thumb="/photos/massanutten/small/PXL_20230113_222113049.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_000545197.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_000545197.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_000545197.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_001600534.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_001600534.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_001600534.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_123145323.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_123145323.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_123145323.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_135535622.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_135535622.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_135535622.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_135556177.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_135556177.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_135556177.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_142234036.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_142234036.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_142234036.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_144237657.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_144237657.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_144237657.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_144342181.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_144342181.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_144342181.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_145154126.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_145154126.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_145154126.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/massanutten/big/PXL_20230114_153446137.jpg">
    <img src="/photos/massanutten/small/PXL_20230114_153446137.jpg" data-thumb="/photos/massanutten/small/PXL_20230114_153446137.jpg">
    </a>
    </section>

