---
title: Mount Washington
summary: A trip up north to hike Mt Washington and climb some ice.
published: 2014-02-13
tag: travel
image: /photos/7390/12667356495_e653f13dd3_z.jpg
layout: default.hbs
---

	<p>So my two buddies (Anthony and Stephan) have taken this trip for the last two years. A few months ago they started trying to convince me to come which I was dead set against. I had just started a new job and had no vacation time and have plenty of other stuff going on later in the year, but they slowly wore me down with a combination of taunting and convincing me how great it would be. I took notes during the trip and then wrote the story up below when I got home.
</p>

<h2>Friday</h2>

<p>
Headed out from work with all of my gear which everyone had been asking about all day and hopped on a yellow line to DCA. Metup there with Stephan and shortly later Anthony and Sean. We shuffled all of our no fly gear like knives, ice axes, lighters, tent stakes, flasks and any other TSA gotchas into a giant duffel bag which checked in at a whopping 71lbs and then we shockingly sailed through security without incident. Grabbed our first of many beers on the trip and hopped onboard a very tiny plane bound for Manchester, NH. The plan was to summit Mt Washington, go ice climbing, and enjoy time away from the sprawl of DC.
</p>
<img src="/photos/5534/12511536504_953438a270_z.jpg" class="screenshot" />
<p>
About 2 hours later we landed without anyone complaining about the 4 loud obnoxious dudes on the plane. We got all of our gear and picked up the rental car. We went with a mid sized SUV to get all wheel drive and still had to cram ourselves and all of our gear into it. Took off and headed 2 hours north towards North Conway, NH. The car was brand new and had way too much business going on in the center dash and all kinds of modern over engineered features that are a pain. My inability to get used to a nice modern car would be the running joke for the rest of the trip. I can't completely trust the back up camera for some reason.
</p>
<p>
Rolled into town around 10PM starving and hit a local Irish joint called Delaney's. Polished off a nice large warm meal and a couple of beers while watching the opening ceremonies of the Olympics. Checked into a nice hotel not too far and quickly passed out.
</p>

<h2>Saturday</h2>
<p>Slept like crap due to a hot hotel and snoring, but woke up excited nonetheless. Headed out to the lobby for some coffee and reading near the fireplace in the lobby. On a side note, <a href="http://en.wikipedia.org/wiki/Mutiny_on_the_Bounty">Mutiny on the Bounty</a> is well worth reading. Anthony and Stephan wandered out and we grabbed a quick breakfast before we headed to the Mt Washington Visitors Center. We got our first real glimpse of the mountain standing prominently over the skyline.</p>
<img src="/photos/5529/12512153494_bb71a83774_z.jpg" class="screenshot" />
<p>We would be hiking to the top over the next two days. As far as where we would stay on the first night there were two options. A warm little cabin or a tent on the snow with temperatures well below 0. There were only 16 or spaces in the cabin and we got the last 4 when we got to the sign in sheet at 8AM. This would be the first of many things that went right on this trip. The cabin was originally built by the Harvard Mountaineering Club and serves as a base for anyone hiking, ice climbing, or skiiing on the mountain.</p>
<p>Headed back into town and staged all of our gear on the hotel beds and separated everything that would be coming up the mountain with us.
</p>
<img src="/photos/5473/12511630085_b5ee7ecfa0_z.jpg" class="screenshot" />
<p>We stuffed our full packs into the car and stopped by <a href="http://www.ime-usa.com/">International Mountain Equipment</a> to get the rest of the gear. I ended up renting boots, crampons, a mountaineering axe, and an extra down jacket. They had great rates and also a consignment shop for used gear in the basement which could easily save anyone hundreds of dollars. We picked up a few small items at the EMS outlet in town and stocked up at the grocery store. Oatmeal for breakfast, salami sandwiches for lunch, and a bag of wine. We now had everything we needed and left town excited for the next two days.
</p>
<img src="/photos/3739/12511583565_370158402a_z.jpg" class="screenshot" />
<p>We were back at the base of the mountain in the visitor's center at around 3PM. They had indoor tables where we laid out all of our gear and got changed.
</p>
<img src="/photos/7350/12511753933_7dfdbc42fb_z.jpg" class="screenshot" />
<p>
It was beautiful as we headed out and the sun was just beginning to set. The hike up to the cabin was only about an hour and I ended up wearing nothing but a base layer.
</p>
<img src="/photos/3673/12511644955_40a1347827_z.jpg" class="screenshot" />
<p>
Figuring out how to layer properly and what to wear took almost the entire trip to figure out. We saw a dog blasting down the trail followed by two guys on snowmobiles trying to find it.
</p>
<p>
We arrived at the cabin at around 5PM just as it was getting dark.
</p>
<img src="/photos/3666/12511653865_e84cb9c1b0_z.jpg" class="screenshot" />
<p>
The cabin is about 20 x 30 feet with 16 people crammed in it around a woodstove and loft upstairs to sleep in.
</p>
<img src="/photos/3793/12512125524_a6ee61bc1f_z.jpg" class="screenshot" />
<p>
A caretaker and his wife live there and maintain it. Gas lamps provide light and there's even a stove. Anyone camping nearby can also use the cabin as well for cooking or drying off their gear in. Ice climbers and other hikers started to roll in looking exhausted and everyone started to cook dinner and gather around the table.
</p>
<img src="/photos/3772/12512125054_938f24afb9_z.jpg" class="screenshot" />
<p>
It's probably the most cramped space full of people and gear I've ever been in, but it was great. Everyone traded stories of past trips and what they were up to here. Polished off some wine and a freeze dried meal which surprisingly didn't make me completely sick like the last time I ate one. Everyone was exhausted and folks started passing around 9PM.
</p>
<a name="2"> </a>
<h2>Sunday</h2>
<p>
Woke up little before 6AM and tried to determine what everyone's sleeping bags looked like and someone managed to nudge the right people awake. Went outside in the freezing cold air for an obvious reason. Some people opt to just keep a bottle next to them during the night so they don't have to put on shoes and go outside, but I would always be too worried about it leaking or kicking it over. Some people even then keep the bottle in their sleeping bags to warm themselves up. I'm not one of those people.
</p>
<p>
We put some hot water on the stove and had instant coffee and oatmeal. I made baloney and cheese sandwiches for everyone while we quietly made sure we had everything we needed in our packs. We were able to leave some of our gear in the cabin so we could travel light, bringing only what we needed to get to the top and back.
</p>
<p>
A ranger stopped by to give a report on the avalanche danger which changes daily and the weather for the day was also relayed up via a ham radio. It looked like today was our day to head to the top.
</p>
<img src="/photos/7460/12667154175_fccf635864_z.jpg" class="screenshot" />
<p>
We cinched up our packs and headed out at 7:30AM to a beautiful day. We went back a little on the same trail we came up on and then cut right into dense pines that started the Lions Head Trail which would take us most of the way to the top.
</p>
<img src="/photos/7383/12667584484_1e4264f6d2_z.jpg" class="screenshot" />
<p>
The trail quickly turned very steep and we ran into two very technical sessions where people sometimes set ropes. We all managed to get up safely with just our mountaineering axes and then I had the "maybe I should be wearing a helmet thought", but luckily this was the only difficult part of the entire day.
</p>
<img src="/photos/7314/12667452043_34a1cee2bb_z.jpg" class="screenshot" />
<p>
We made it out past the trees and got our first clear view.
</p>
<img src="/photos/3827/12667634544_cd5ea9b271_z.jpg" class="screenshot" />
<p>
The day was slightly cloudy but we could still see for miles including the ski slopes on a nearby mountain.
</p>
<img src="/photos/7372/12667139125_7c4805ca53_z.jpg" class="screenshot" />
<p>
We took a quick water and snack break and then started moving again. It took me nearly 2 hours but I had perfected combining my various clothing layers to stay a little bit chilly while I was hiking which is just where I wanted to be. The absolute last thing you want to do is get sweaty when you're somewhere this cold. Anthony and Stefan explained <a href="http://www.youtube.com/watch?v=94QFImjdEAo" target="_blank">self arrest technique</a> with the mountaineering axes which is how you stop yourself if you're every uncontrollably sliding down a mountain.
</p>
<img src="/photos/7381/12667183255_88912097f2_z.jpg" class="screenshot" />
<p>
The trail turned into mostly ice with rocks jetting out.
</p>
<img src="/photos/7410/12667189395_2085574770_z.jpg" class="screenshot" />
<p>
You get a slightly uneasy feeling stepping on rocks with crampons on initially, but you quickly get used to it. We spotted the next overlook and before we knew it we were in the alpine garden.
</p>
<img src="/photos/3781/12667683064_3b3592e522_z.jpg" class="screenshot" />
<p>
This is a relatively flat section to the right of <a href="http://en.wikipedia.org/wiki/Tuckerman_Ravine">Tuckerman Ravine</a>. The wind is usually whipping through this area because there's no cover, but we had exceptionally good weather with bright sun and only a slight breeze.
</p>
<img src="/photos/5508/12667341783_fa71a6f051_z.jpg" class="screenshot" />
<p>
This was by far the prettiest part of the hike with the view down into Tuckerman and Mt Washington peak dead ahead of us.
</p>
<img src="/photos/5484/12667462053_a507e19de6_z.jpg" class="screenshot" />
<img src="/photos/7447/12667676094_edbce49f21_z.jpg" class="screenshot" />
</p>
We made our way through the the flats and then cut right for our final assent to the top.
</p>
<img src="/photos/7440/12667232455_b9cbb19206_z.jpg" class="screenshot" />
<img src="/photos/7457/12667712324_cd59fa8fc2_z.jpg" class="screenshot" />
<p>
This was the longest sustained incline so far. We took plenty of breaks and each ate one of our two sandwiches after putting them in our jacket pockets to warm them up for a bit. I was very glad we had something other than energy bars even if it was a cold sandwich made with the cheapest meat you can buy.
</p>
<img src="/photos/3702/12667357323_7ed6cd9a97_z.jpg" class="screenshot" />
<p>
It finally started to get colder and windier as we got closer to the top. We put on our goggles and balaclavas and immediately threw our down jackets on anytime we stopped moving.
</p>
<img src="/photos/7366/12667238655_6709a4ebbc_z.jpg" class="screenshot" />
<p>
We saw plenty of other folks on the way up and everyone kept commenting on how great the weather was. The weather on Mt Washington can get so bad and unpredictable that there was always a chance that we might not even get to the summit during this trip. Today was the first potential chance and it worked out perfectly.
</p>
<img src="/photos/5487/12667716644_b845e50ed1_z.jpg" class="screenshot" />
<p>
Until recently the summit was also the location of the <a href="http://www.mountwashington.org/about/visitor/recordwind.php" target="_blank">highest recorded wind speed on the face of the planet</a> at 231mph. Yeah... we got a very good day.
</p>
<img src="/photos/3803/12667373743_cb6e5b8c32_z.jpg" class="screenshot" />
<p>
We eventually saw the orange of some of the weather station at the summit peaking out and we knew we were close. 20 minutes more of hiking and we were at the top.
</p>
<img src="/photos/7390/12667356495_e653f13dd3_z.jpg" class="screenshot" />
<p>
At 11:30 AM we were there.. I promptly took off my crampons and gazed around 360 degrees slowly staring 50 miles in each direction. We were well above the sparse cloud line and could see all the way into Maine and Canada. Just sitting, gazing, and appreciating how beautiful nature can be. Put my pack down and took a deep breath of the cold, crisp, clean air and felt it through my entire body. There's nothing better.
</p>
<img src="/photos/3727/12667382173_e62fae200c_z.jpg" class="screenshot" />
<p>
We explored around the weather station a bit and took plenty of photos. Usually the weather there is so bad that you are only up there for a few minutes and then come back down quick, but we had all the time in the world. We also noticed the road to the top, yes, road as in drive a car up, that lets people easily visit in the summer. It would open back up in the spring when all of the ice was gone.
</p>
<img src="/photos/3714/12667399613_efc4a64d73_z.jpg" class="screenshot" />
<p>
<em>"We all look like a bunch of 9 year olds with over protective mothers"</em>
</p>
<p>
We each ate our second sandwiches, geared up, and headed down.
</p>
<img src="/photos/7385/12667301785_f778142bb3_z.jpg" class="screenshot" />
<p>
We made it down nice and quick thanks to the technique known as Glissading which can easily be described as sliding down the snow on your butt and pretty much feels like going down a water slide made of snow. We all shed layers very quickly as it warmed up and coasted on the high of knowing that we had finished what we set out to do.
</p>
<p>
It was only about noon so we were taking our sweet time getting down. Stefan and I just chilled by some huge granite rocks looking down into the  ravine.
</p>
<img src="/photos/5482/12667842844_43db4c4754_z.jpg" class="screenshot" />
<p>
It was so quiet you could hear people talking almost a mile below. The ravine frequently has significant avalanche danger, but today the ranger had let us know that it was low.
</p>
<img src="/photos/3785/12667491553_42e6f48430_z.jpg" class="screenshot" />
<p>
Some folks from the cabin were hiking up with skis and I was a little regretful that I hadn't dragged some up with me. We made our way down with plenty more glissading and waited at traffic jams for other climbers on the two more technical spots. We emerged from the pines and walked the final stretch back to the cabin feeling great after a day that couldn't have gone better.
</p>
<img src="/photos/7410/12667851484_8894c8f040_z.jpg" class="screenshot" />
<img src="/photos/3748/12667508033_17e3ed94d0_z.jpg" class="screenshot" />
<p>
We arrived back at the cabin at 2:30PM. It was completely empty. We had originally planned to stay a second night, but since we made such great time and didn't have much left to drink, we decided to head the rest of the way down that day. The cabin was much easier to navigate in the daylight for the first time and with everyone's gear out of it. We got everything together and headed out for the last 1 hour of hiking before we were back to civilization.
</p>
<p>
Stopped to checkout a frozen waterfall and then rolled into the visitors center around 4PM. Enjoyed some junk food and inquired about the best place to buy beer on our way back into town. We stopped by a shop where an Irish woman pointed us to some great local beers. A 22 for each of us and 6 pack to split. She scoffed at where we were going to eat, but the food there was good the first time and after 2 days on the mountain I didn't want to take a risk with anywhere new.
</p>
<p>
We ended up back at the same hotel as Friday night and the chaos of gear in the back of the car changed into chaos spread all of the hotel room. No one cared. That would be a problem for tomorrow. The only thing on my mind at the moment was doing as little as possible. We all grabbed much needed showers and headed out to dinner. I took down a half rack of ribs, some beers, and all was right in the world. As usual we struggled to keep the conversation family friendly in a family friendly establishment, but the place was pretty empty on a Sunday night anyway.
</p>
<img src="/photos/3778/12667528023_def0b90ac8_z.jpg" class="screenshot" />
<p>
Headed back to the hotel and worked on my notes for the day while getting to work on the 22 of Moat Mountain Stout that I purchased. Everyone else headed for the hot tub, but I was tired and knew that if I didn't get to writing immediately it wouldn't happen. <em>"I'm pretty sure the sign near the pool says no alcoholic beverages, but I'm also pretty sure that I don't care"</em> someone said on their way out.
</p>
<p>
Got a little buzzed and put on some Sonic Youth. I became completely absorbed into writing down every detail from the day before sleep would steal the small forgettable ones away. Scribbled "there's a million reason's not to do something, but adventure is the only reason that matters", drew a satisfying line across the page signifying the end of the day's notes and drifted off to sleep.
</p>
<a name="monday"> </a>
<h2>Monday</h2>
<p>
Woke up around 8AM, and started moving pretty slowly due to a few too many beers the night before. Met up with everyone else at breakfast and watched some coverage of the winter olympics where it was actually much warmer than North Conway, NH where were were.
</p><p>
We chilled out for far too long in the hotel room. Walking the fine line between wanting to take advantage of being somewhere unique and also just wanting to do nothing since we had a huge day yesterday. We eventually got rolling at 11AM and packed our bags for a day of ice climbing.
</p>
<img src="/photos/5530/12762333995_0a375b262d_z.jpg" class="screenshot">
<p>
We stopped back at IME to return some of our gear and also swap out our normal crampons for front point ones which we'd need to dig into the ice walls. We drove out towards the mountains as Stephan read the guide book to scope where we wanted to go. We parked the car, adjusted our packs, and headed into the woods. We quickly figured out that we wouldn't be able to get around a river to get to where we needed to be so we ended up hiking back out and moving the car to a better spot.
</p><p>
We hiked in for about 15 minutes and then cut left just before a raised railroad track that curved in front of us.
</p>
<img src="/photos/7443/12762476773_88086885a4_z.jpg" class="screenshot">
<p>
Another 15 minutes and we were there. I'd <a href="/travel/ice-climbing-in-the-adirondacks">ice climbed once before in Keene Valley</a> on about 50 foot walls, but some of the ones here were well over 100. They looked absolutely incredible and it made me wish we had gotten there earlier to setup on some of them. I definitely want to come back with a guide and try some of the larger ones.
</p><p>
We scoped around for a bit looking at the two smaller walls which were about 30ft. We eventually found one that would be easy to top rope on. Top rope means that you tie off to something such as a tree above where you are climbing. The alternative is using anchors such as ice screws as you climb, which none of us are at the level yet to do. Stephan set everything up, threw the rope down, and then repelled down the face to where we were waiting.
</p>
<img src="/photos/3688/12760779135_952fb4033e_z.jpg" class="screenshot">
<p>
It was later in the day, but we each got two good runs at it.
</p>
<img src="/photos/2840/12760933283_9b08de7627_z.jpg" class="screenshot">
<p>
It's such a great feeling when you first start to climb off of the ground and you've got nothing holding you, but the crampons on your toes digging in and your two ice axes. It takes a little practice to trust that they will hold.
</p>
<img src="/photos/5517/12761191925_e6b74e13ab_z.jpg" class="screenshot">
<p>
I actually did pretty well, and remembered some of what I had learned the last time I'd ice climbed. My arms and legs burned while pulling and pushing my body up the cold wall and it felt great. Adrenaline kicks in a little on the wall as you get higher and helps you up the rest of the way.
</p>
<img src="/photos/7436/12761274995_18fc63d80b_z.jpg" class="screenshot">
<img src="/photos/2809/12761383653_12554a6b65_z.jpg" class="screenshot">
<p>
The slope below was pretty steep, so we tied all of our bags to a tree to keep them from rolling off and took plenty of photos.
</p>
<img src="/photos/5541/12761763244_c509655e7c_z.jpg" class="screenshot">
<p>
We enjoyed our cliff bars and partially frozen water for lunch, but didn't mind since the climbing put us in such a good mood. I played with an ice screw that Anthony had, and it is impressive how strong they can hold, but I was still glad we weren't relying on them.
</p>
<img src="/photos/7293/12761436303_e04e143a7e_z.jpg" class="screenshot">
<p>
We each tried two routes. The first one to the left that was a little easier and then the one to the right that was straight vertical. Taking a break and looking off of the cliff while you're up there is an amazing feeling. The sun would be setting soon so Anthony climbed up last and untied all of the rigging up top while we packed everything else up.
</p>
<img src="/photos/3749/12761225285_6b999d577f_z.jpg" class="screenshot">
<p>
Hiked the mile out and enjoyed a warm car after a day of pressing our bodies against ice and sitting on snow. We returned everything to IME and thanked them for helping make a great weekend. Swung by the beer store and then the hotel and unloaded all of our bags all over the place.
</p>
<p>
Had dinner at a great brick oven pizza place with a few beers and a big old hunk of cake for dessert. The mood was high as we all reviewed our favorite parts from the now finished weekend. We got back to the hotel, watched a little olympics, and then filled our nalgenes with beer and headed to the pool to soak our sore muscles. Alternating between the too hot hot tub and the brisk pool we all smiled know that the trip had been a complete success.
</p>
<p>
<em>Taking a chance and spending your often limited vacation time doing something out there like this trip is worth it every single time no matter how it turns out, and this time it turned out perfect.</em>
</p>

<h2>Epilogue</h2>
<p>
The rest of the trip was uneventful. Just packed up and drove to the Manchester, NH airport and stopped to look at a few lakes covered in ice fishing shacks along the way. Of course I was as busy as I usually am, so some of us had to scramble right after we landed and play an 8 Ball match for our pool league that night rather than just pass out.
</p>
<p>
If you liked this story I would highly recommend the Mt Washington hike, but prepare for the worst in winter and have someone with you who knows it. We got incredibly lucky with the weather. I've been all around the northeastern US and this is one of the prettiest things I've ever seen. Also if you want to try ice climbing, but are kind of freaked out about it, absolutely go for it. There are certified guides who can help you get setup with all of the gear and take you to the good spots and teach you an immense amount in only a day.
</p>
<p>
One more item worth mentioning is that one week after this trip I got incredibly sick (which is rare for me), with what we eventually figured out was Rocky Mountain Spotted Fever. I must have gotten bitten by a tick at some point which was pretty unlikely in the winter and it may have happened in the cabin. I'm on antibiotics now and feeling much better. It screws up your red blood cells and starts to affect your extremeties first so I had spots all over my arms and legs and my muscles felt like garbage. So if you are ever outside on a trip like this and get a pounding headache, fever, weak arms and legs, and feel terrible a week later absolutely go see a doctor. Not everyone gets the spots like I did which was pretty lucky.
</p>
<p>
<em>As sick as I got... the trip was absolutely still worth it and I'd do it again in a second!</em>
</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/5473/12511630085_b5ee7ecfa0_z.jpg" title="DSCF9859"><img src="/photos/5473/12511630085_b5ee7ecfa0_q.jpg" data-thumb="/photos/5473/12511630085_b5ee7ecfa0_q.jpg"></a><a rel="lightbox[set]" href="/photos/7350/12511753933_7dfdbc42fb_z.jpg" title="DSCF9860"><img src="/photos/7350/12511753933_7dfdbc42fb_q.jpg" data-thumb="/photos/7350/12511753933_7dfdbc42fb_q.jpg"></a><a rel="lightbox[set]" href="/photos/3673/12511644955_40a1347827_z.jpg" title="DSCF9863"><img src="/photos/3673/12511644955_40a1347827_q.jpg" data-thumb="/photos/3673/12511644955_40a1347827_q.jpg"></a><a rel="lightbox[set]" href="/photos/3666/12511653865_e84cb9c1b0_z.jpg" title="DSCF9892"><img src="/photos/3666/12511653865_e84cb9c1b0_q.jpg" data-thumb="/photos/3666/12511653865_e84cb9c1b0_q.jpg"></a><a rel="lightbox[set]" href="/photos/3772/12512125054_938f24afb9_z.jpg" title="DSCF9900"><img src="/photos/3772/12512125054_938f24afb9_q.jpg" data-thumb="/photos/3772/12512125054_938f24afb9_q.jpg"></a><a rel="lightbox[set]" href="/photos/3793/12512125524_a6ee61bc1f_z.jpg" title="DSCF9902"><img src="/photos/3793/12512125524_a6ee61bc1f_q.jpg" data-thumb="/photos/3793/12512125524_a6ee61bc1f_q.jpg"></a><a rel="lightbox[set]" href="/photos/7460/12667154175_fccf635864_z.jpg" title="sRbKo"><img src="/photos/7460/12667154175_fccf635864_q.jpg" data-thumb="/photos/7460/12667154175_fccf635864_q.jpg"></a><a rel="lightbox[set]" href="/photos/7383/12667584484_1e4264f6d2_z.jpg" title="DSCF9913"><img src="/photos/7383/12667584484_1e4264f6d2_q.jpg" data-thumb="/photos/7383/12667584484_1e4264f6d2_q.jpg"></a><a rel="lightbox[set]" href="/photos/3827/12667634544_cd5ea9b271_z.jpg" title="prFlo"><img src="/photos/3827/12667634544_cd5ea9b271_q.jpg" data-thumb="/photos/3827/12667634544_cd5ea9b271_q.jpg"></a><a rel="lightbox[set]" href="/photos/7372/12667139125_7c4805ca53_z.jpg" title="HcG4S"><img src="/photos/7372/12667139125_7c4805ca53_q.jpg" data-thumb="/photos/7372/12667139125_7c4805ca53_q.jpg"></a><a rel="lightbox[set]" href="/photos/7381/12667183255_88912097f2_z.jpg" title="ZOTDZ"><img src="/photos/7381/12667183255_88912097f2_q.jpg" data-thumb="/photos/7381/12667183255_88912097f2_q.jpg"></a><a rel="lightbox[set]" href="/photos/7410/12667189395_2085574770_z.jpg" title="SLSZq"><img src="/photos/7410/12667189395_2085574770_q.jpg" data-thumb="/photos/7410/12667189395_2085574770_q.jpg"></a><a rel="lightbox[set]" href="/photos/2843/12667666714_9185c54482_z.jpg" title="l3SBY"><img src="/photos/2843/12667666714_9185c54482_q.jpg" data-thumb="/photos/2843/12667666714_9185c54482_q.jpg"></a><a rel="lightbox[set]" href="/photos/7447/12667676094_edbce49f21_z.jpg" title="ffiZQ"><img src="/photos/7447/12667676094_edbce49f21_q.jpg" data-thumb="/photos/7447/12667676094_edbce49f21_q.jpg"></a><a rel="lightbox[set]" href="/photos/3781/12667683064_3b3592e522_z.jpg" title="oQPw1"><img src="/photos/3781/12667683064_3b3592e522_q.jpg" data-thumb="/photos/3781/12667683064_3b3592e522_q.jpg"></a><a rel="lightbox[set]" href="/photos/5508/12667341783_fa71a6f051_z.jpg" title="XngIk"><img src="/photos/5508/12667341783_fa71a6f051_q.jpg" data-thumb="/photos/5508/12667341783_fa71a6f051_q.jpg"></a><a rel="lightbox[set]" href="/photos/7440/12667232455_b9cbb19206_z.jpg" title="tdLZc"><img src="/photos/7440/12667232455_b9cbb19206_q.jpg" data-thumb="/photos/7440/12667232455_b9cbb19206_q.jpg"></a><a rel="lightbox[set]" href="/photos/7366/12667238655_6709a4ebbc_z.jpg" title="rKu3R"><img src="/photos/7366/12667238655_6709a4ebbc_q.jpg" data-thumb="/photos/7366/12667238655_6709a4ebbc_q.jpg"></a><a rel="lightbox[set]" href="/photos/3702/12667357323_7ed6cd9a97_z.jpg" title="fYnPp"><img src="/photos/3702/12667357323_7ed6cd9a97_q.jpg" data-thumb="/photos/3702/12667357323_7ed6cd9a97_q.jpg"></a><a rel="lightbox[set]" href="/photos/7457/12667712324_cd59fa8fc2_z.jpg" title="739i3"><img src="/photos/7457/12667712324_cd59fa8fc2_q.jpg" data-thumb="/photos/7457/12667712324_cd59fa8fc2_q.jpg"></a><a rel="lightbox[set]" href="/photos/5487/12667716644_b845e50ed1_z.jpg" title="WgMfS"><img src="/photos/5487/12667716644_b845e50ed1_q.jpg" data-thumb="/photos/5487/12667716644_b845e50ed1_q.jpg"></a><a rel="lightbox[set]" href="/photos/3803/12667373743_cb6e5b8c32_z.jpg" title="d5bB4"><img src="/photos/3803/12667373743_cb6e5b8c32_q.jpg" data-thumb="/photos/3803/12667373743_cb6e5b8c32_q.jpg"></a><a rel="lightbox[set]" href="/photos/3727/12667382173_e62fae200c_z.jpg" title="Qyciy"><img src="/photos/3727/12667382173_e62fae200c_q.jpg" data-thumb="/photos/3727/12667382173_e62fae200c_q.jpg"></a><a rel="lightbox[set]" href="/photos/3714/12667399613_efc4a64d73_z.jpg" title="OyTpd"><img src="/photos/3714/12667399613_efc4a64d73_q.jpg" data-thumb="/photos/3714/12667399613_efc4a64d73_q.jpg"></a><a rel="lightbox[set]" href="/photos/7385/12667301785_f778142bb3_z.jpg" title="Pv24J"><img src="/photos/7385/12667301785_f778142bb3_q.jpg" data-thumb="/photos/7385/12667301785_f778142bb3_q.jpg"></a><a rel="lightbox[set]" href="/photos/5534/12511536504_953438a270_z.jpg" title="20140207_182705"><img src="/photos/5534/12511536504_953438a270_q.jpg" data-thumb="/photos/5534/12511536504_953438a270_q.jpg"></a><a rel="lightbox[set]" href="/photos/3739/12511583565_370158402a_z.jpg" title="20140208_085945"><img src="/photos/3739/12511583565_370158402a_q.jpg" data-thumb="/photos/3739/12511583565_370158402a_q.jpg"></a><a rel="lightbox[set]" href="/photos/5547/12511802183_e37eaa808f_z.jpg" title="20140208_085945"><img src="/photos/5547/12511802183_e37eaa808f_q.jpg" data-thumb="/photos/5547/12511802183_e37eaa808f_q.jpg"></a><a rel="lightbox[set]" href="/photos/5529/12512153494_bb71a83774_z.jpg" title="20140208_091555"><img src="/photos/5529/12512153494_bb71a83774_q.jpg" data-thumb="/photos/5529/12512153494_bb71a83774_q.jpg"></a><a rel="lightbox[set]" href="/photos/7314/12667452043_34a1cee2bb_z.jpg" title="2PGiB"><img src="/photos/7314/12667452043_34a1cee2bb_q.jpg" data-thumb="/photos/7314/12667452043_34a1cee2bb_q.jpg"></a><a rel="lightbox[set]" href="/photos/5484/12667462053_a507e19de6_z.jpg" title="5XAVw"><img src="/photos/5484/12667462053_a507e19de6_q.jpg" data-thumb="/photos/5484/12667462053_a507e19de6_q.jpg"></a><a rel="lightbox[set]" href="/photos/7390/12667356495_e653f13dd3_z.jpg" title="CaiVR"><img src="/photos/7390/12667356495_e653f13dd3_q.jpg" data-thumb="/photos/7390/12667356495_e653f13dd3_q.jpg"></a><a rel="lightbox[set]" href="/photos/3785/12667491553_42e6f48430_z.jpg" title="kSLrw"><img src="/photos/3785/12667491553_42e6f48430_q.jpg" data-thumb="/photos/3785/12667491553_42e6f48430_q.jpg"></a><a rel="lightbox[set]" href="/photos/5482/12667842844_43db4c4754_z.jpg" title="FbvSF"><img src="/photos/5482/12667842844_43db4c4754_q.jpg" data-thumb="/photos/5482/12667842844_43db4c4754_q.jpg"></a><a rel="lightbox[set]" href="/photos/7410/12667851484_8894c8f040_z.jpg" title="UnbAp"><img src="/photos/7410/12667851484_8894c8f040_q.jpg" data-thumb="/photos/7410/12667851484_8894c8f040_q.jpg"></a><a rel="lightbox[set]" href="/photos/3748/12667508033_17e3ed94d0_z.jpg" title="SfbZ0"><img src="/photos/3748/12667508033_17e3ed94d0_q.jpg" data-thumb="/photos/3748/12667508033_17e3ed94d0_q.jpg"></a><a rel="lightbox[set]" href="/photos/3778/12667528023_def0b90ac8_z.jpg" title="Z8SDS"><img src="/photos/3778/12667528023_def0b90ac8_q.jpg" data-thumb="/photos/3778/12667528023_def0b90ac8_q.jpg"></a><a rel="lightbox[set]" href="/photos/3688/12760779135_952fb4033e_z.jpg" title="IMG_20140210_144629"><img src="/photos/3688/12760779135_952fb4033e_q.jpg" data-thumb="/photos/3688/12760779135_952fb4033e_q.jpg"></a><a rel="lightbox[set]" href="/photos/2840/12760933283_9b08de7627_z.jpg" title="IMG_20140210_155056"><img src="/photos/2840/12760933283_9b08de7627_q.jpg" data-thumb="/photos/2840/12760933283_9b08de7627_q.jpg"></a><a rel="lightbox[set]" href="/photos/5517/12761191925_e6b74e13ab_z.jpg" title="1FRJw"><img src="/photos/5517/12761191925_e6b74e13ab_q.jpg" data-thumb="/photos/5517/12761191925_e6b74e13ab_q.jpg"></a><a rel="lightbox[set]" href="/photos/3749/12761225285_6b999d577f_z.jpg" title="gYgqN"><img src="/photos/3749/12761225285_6b999d577f_q.jpg" data-thumb="/photos/3749/12761225285_6b999d577f_q.jpg"></a><a rel="lightbox[set]" href="/photos/2809/12761383653_12554a6b65_z.jpg" title="LI6aV"><img src="/photos/2809/12761383653_12554a6b65_q.jpg" data-thumb="/photos/2809/12761383653_12554a6b65_q.jpg"></a><a rel="lightbox[set]" href="/photos/7432/12761256395_09bd52862a_z.jpg" title="jzg17"><img src="/photos/7432/12761256395_09bd52862a_q.jpg" data-thumb="/photos/7432/12761256395_09bd52862a_q.jpg"></a><a rel="lightbox[set]" href="/photos/7436/12761274995_18fc63d80b_z.jpg" title="ujNWa"><img src="/photos/7436/12761274995_18fc63d80b_q.jpg" data-thumb="/photos/7436/12761274995_18fc63d80b_q.jpg"></a><a rel="lightbox[set]" href="/photos/7293/12761436303_e04e143a7e_z.jpg" title="PsfiI"><img src="/photos/7293/12761436303_e04e143a7e_q.jpg" data-thumb="/photos/7293/12761436303_e04e143a7e_q.jpg"></a><a rel="lightbox[set]" href="/photos/5541/12761763244_c509655e7c_z.jpg" title="iXoeR"><img src="/photos/5541/12761763244_c509655e7c_q.jpg" data-thumb="/photos/5541/12761763244_c509655e7c_q.jpg"></a><a rel="lightbox[set]" href="/photos/5530/12762333995_0a375b262d_z.jpg" title="DSCF0019"><img src="/photos/5530/12762333995_0a375b262d_q.jpg" data-thumb="/photos/5530/12762333995_0a375b262d_q.jpg"></a><a rel="lightbox[set]" href="/photos/7443/12762476773_88086885a4_z.jpg" title="DSCF0027"><img src="/photos/7443/12762476773_88086885a4_q.jpg" data-thumb="/photos/7443/12762476773_88086885a4_q.jpg"></a>		</section>
