---
title: Potomac River Kayak Camping
summary: Two days of kayaking down the Potomac from DC to Mallows Bay.
published: 2021-10-09
tag: travel
image: /photos/potomac-kayak/big/PXL_20211008_150503697.jpg
layout: default.hbs
---

<img src="/photos/potomac-kayak/big/PXL_20211008_132846854.jpg" alt="Kayak" class="inline">

<p>I left from the Anacostia Park Boat launch and then had a friend pick me up 40 miles down the river the next day at <a href="https://sanctuaries.noaa.gov/mallows-potomac/">Mallows Bay</a>. I've done a lot of backpacking and bike camping before and I've gotta say that kayak camping is my favorite. Way more peaceful and you don't even notice all the extra gear on the boat! Mallows Bay is pretty cool with all the old ships and I saw a pair of nesting bald eagles on the corner of the big ship and then slowly backed up because I would lose badly if they attacked me in the kayak.</p>

<h2>Tips for Kayak Camping</h2>
<ul>
    <li>I did this solo so I took safety seriously. I wore a good PFD (lifejacket) the entire time and also had a signal light, whistle, and compass. I also had a bilge pump and was confident I could get back in the boat if I rolled it. I also let my wife know everyday when I expected to be off the water and would text her. With all of those, this was honestly probably safer than riding a bike along the road though.</li>
    <li>I can haul this kayak when it's empty, but fully loaded it would have been a nightmare without getting a set of wheels for it. A 12 foot boat was just right for the trip. Fast in the water and plenty of space for gear storage.</li>
    <li>The Anacostia Park Boat launch remains my favorite spot to launch from. There's never anyone there, the dock has a kayak cutout, and no one is going to care if you leave a car there for a few days.</li>
    <li>I had done some smaller day trips to roughly figure out my speed on the water which was critical. I wanted to get where I was going by around 3PM everyday to make sure I was off the water by dark and also didn't want to push myself too hard to make that time.</li>
    <li>I had also scoped out the campground at <a href="https://www.novaparks.com/parks/pohick-bay-regional-park">Pohick Bay</a> before so I knew exactly what was there and only had maybe a half mile walk from the campsite to where I got out of the water. They also had a small camp store where I could buy firewood and junkfood.</li>
    <li>I spent about 6 hours on the boat each day broken up into three 2 hour stretches. Every hour I'd pause and stretch on the boat and every 2 hours get out, walk around, stretch, eat, and lay down. My body didn't feel nearly as rough compared to hiking or biking with fully loaded packs at the end of the day.</li>
    <li>The Potomac is DRASTICALLY nicer once you get south of the beltway. Less trash everywhere and I also did this trip on a Thursday/Friday so there was less boat traffic which was nice on a kayak since I wasn't paddling through someone's wake constantly.</li>
    <li>Some notes on gear.
        <ul>
        <li>
        Getting a good PFD is very worth it because you don't even notice it's there. I had an <a href="https://www.nrs.com/nrs-ion-pfd/pq81">NRS Ion Medium</a>. Highly recommend this particular PFD and go try one on because you want it snug for kayaking.</</li>
        <li>
            I had most of my gear in a <a href="https://seatosummitusa.com/products/big-river-dry-bag?variant=7896123408412">35L Sea to Summit drybag</a>. You don't need everything in drybags, but think through what would be the worst to get wet like a sleeping bag for example. I actually usually use this for storing food up high when backpacking.
        </li>
        <li>Pelican makes a <a href="https://www.pelican.com/us/en/product/cases/micro/1040">really nice little waterproof case</a> that you can clip to the top of your kayak to keep your phone, keys, and wallet in. I actually bought this for going to the beach to keep sand outta my phone and it floats too.</li>
        <li>I happen to already have an <a href="https://www.osprey.com/us/en/product/savu-5-SAVU5S21.html">Osprey Savu 5 hip pack</a> which I just keep clipped to the top of the boat rather than a kayak specific one. This is also worth it for things that you quickly want access to while you're out on the water.</li>
        <li>Buying wheels for the kayak was great. I was exhausted after I got off the boat I went with <a href="https://www.amazon.com/gp/product/B08VRQF6VH/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1">this cheap set</a> that broke down to fit in the kayak..</li>
        <li>You really want sunglasses out on the water and you don't want to lose them. A <a href="https://chums.com/collections/floating">floating croakie</a> is a must have.</li>
        <li>Besides these it was all pretty much standard backpacking gear.</li>
        </ul>
</ul>

<h2>Route</h2>
<h3>Day 1</h3>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/6078789255/embed/77f68f5ea39c15fbc3ac482dc8f4125343adf3cd'></iframe>

<h3>Day 2</h3>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/6083661572/embed/cdcff4852e3c8522548fe038d1b2f2837fe8434d'></iframe>

<h2>Photos</h2>

<section class="thumbnails">
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_122513238.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_122513238.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_122513238.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_125704003.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_125704003.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_125704003.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_130411759.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_130411759.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_130411759.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_134731475.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_134731475.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_134731475.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_142401862.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_142401862.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_142401862.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_145954871.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_145954871.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_145954871.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_150546119.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_150546119.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_150546119.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_163152109.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_163152109.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_163152109.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211007_222525111.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211007_222525111.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211007_222525111.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_132846854.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_132846854.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_132846854.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_150503697.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_150503697.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_150503697.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_181751703.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_181751703.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_181751703.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_193553546.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_193553546.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_193553546.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_194824474.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_194824474.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_194824474.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_195028371.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_195028371.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_195028371.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_195953114.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_195953114.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_195953114.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/potomac-kayak/big/PXL_20211008_201644882.jpg">
    <img src="/photos/potomac-kayak/small/PXL_20211008_201644882.jpg" data-thumb="/photos/potomac-kayak/small/PXL_20211008_201644882.jpg">
    </a>
</section>
