---
title: Rocky Top Shenandoah Hike
summary: 20 mile hike in central Shenandoah near Skyline Drive. Got in at 11PM on Friday night and hiked 3 hours with headlamps before setting up camp. Hiked the remaining 17 the next day through some of the thickest fog I've ever seen.
published: 2011-04-10
tag: travel
image: /photos/5186/5606311708_b15345637a_z.jpg
layout: default.hbs
---

	<p>
20 mile hike in central <a href="http://www.nps.gov/shen/index.htm">Shenandoah</a> near <a href="http://en.wikipedia.org/wiki/Skyline_Drive">Skyline Drive</a>. Got in at 11PM on Friday night and hiked 3 hours with headlamps before setting up camp. Hiked the remaining 17 the next day through some of the thickest fog I've ever seen.
</p>
<p>
Highlights include rock fields, a few rivers, baby deer trying to figure out how to hop over walls, burned out mountain slopes, and a portion of the <a href="http://www.appalachiantrail.org/site/c.mqLTIYOwGlF/b.4850633/k.9733/Interactive_Map.htm">Appalachian Trail</a>. Finished all of it in 20 hours total including camping.
</p>
<ul>
<li>This is hike number 25 in this great book. <a href="http://www.amazon.com/Hikes-Northern-Virginia-Backpacks-Chesapeake/dp/0881504440">50 Hikes in Northern Virginia</a></li>
<li><a href="http://www.midatlantichikes.com/rockytop-bigrun.htm">Background</a></li>
<li><a href="http://www.summitpost.org/rockytop/327583">More Background</a></li>
</ul>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/5227/5606303276_5d831d0d21_z.jpg" title="DSCF8742"><img src="/photos/5227/5606303276_5d831d0d21_t.jpg" data-thumb="/photos/5227/5606303276_5d831d0d21_t.jpg"></a><a rel="lightbox[set]" href="/photos/4105/5606303606_e06fbf1277_z.jpg" title="DSCF8743"><img src="/photos/4105/5606303606_e06fbf1277_t.jpg" data-thumb="/photos/4105/5606303606_e06fbf1277_t.jpg"></a><a rel="lightbox[set]" href="/photos/5185/5605720495_acc47aafa0_z.jpg" title="DSCF8744"><img src="/photos/5185/5605720495_acc47aafa0_t.jpg" data-thumb="/photos/5185/5605720495_acc47aafa0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5184/5605720771_a663cba9d9_z.jpg" title="DSCF8745"><img src="/photos/5184/5605720771_a663cba9d9_t.jpg" data-thumb="/photos/5184/5605720771_a663cba9d9_t.jpg"></a><a rel="lightbox[set]" href="/photos/5142/5606304208_4268f8dfa2_z.jpg" title="DSCF8746"><img src="/photos/5142/5606304208_4268f8dfa2_t.jpg" data-thumb="/photos/5142/5606304208_4268f8dfa2_t.jpg"></a><a rel="lightbox[set]" href="/photos/5102/5606304544_e71da430c6_z.jpg" title="DSCF8747"><img src="/photos/5102/5606304544_e71da430c6_t.jpg" data-thumb="/photos/5102/5606304544_e71da430c6_t.jpg"></a><a rel="lightbox[set]" href="/photos/5306/5606304738_4555d98789_z.jpg" title="DSCF8748"><img src="/photos/5306/5606304738_4555d98789_t.jpg" data-thumb="/photos/5306/5606304738_4555d98789_t.jpg"></a><a rel="lightbox[set]" href="/photos/5182/5605721729_d9e609235d_z.jpg" title="DSCF8749"><img src="/photos/5182/5605721729_d9e609235d_t.jpg" data-thumb="/photos/5182/5605721729_d9e609235d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5066/5605721825_bb33916a65_z.jpg" title="DSCF8750"><img src="/photos/5066/5605721825_bb33916a65_t.jpg" data-thumb="/photos/5066/5605721825_bb33916a65_t.jpg"></a><a rel="lightbox[set]" href="/photos/5110/5605721929_c65591fe5f_z.jpg" title="DSCF8751"><img src="/photos/5110/5605721929_c65591fe5f_t.jpg" data-thumb="/photos/5110/5605721929_c65591fe5f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5188/5606305290_63f05318fe_z.jpg" title="DSCF8752"><img src="/photos/5188/5606305290_63f05318fe_t.jpg" data-thumb="/photos/5188/5606305290_63f05318fe_t.jpg"></a><a rel="lightbox[set]" href="/photos/5021/5606305470_6dc5ec9d51_z.jpg" title="DSCF8753"><img src="/photos/5021/5606305470_6dc5ec9d51_t.jpg" data-thumb="/photos/5021/5606305470_6dc5ec9d51_t.jpg"></a><a rel="lightbox[set]" href="/photos/4105/5605722457_81d8e8f7b6_z.jpg" title="DSCF8754"><img src="/photos/4105/5605722457_81d8e8f7b6_t.jpg" data-thumb="/photos/4105/5605722457_81d8e8f7b6_t.jpg"></a><a rel="lightbox[set]" href="/photos/5142/5605722617_dd310bc940_z.jpg" title="DSCF8755"><img src="/photos/5142/5605722617_dd310bc940_t.jpg" data-thumb="/photos/5142/5605722617_dd310bc940_t.jpg"></a><a rel="lightbox[set]" href="/photos/4111/5605722801_3a0e86d19d_z.jpg" title="DSCF8756"><img src="/photos/4111/5605722801_3a0e86d19d_t.jpg" data-thumb="/photos/4111/5605722801_3a0e86d19d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5103/5606306104_d24e26337a_z.jpg" title="DSCF8757"><img src="/photos/5103/5606306104_d24e26337a_t.jpg" data-thumb="/photos/5103/5606306104_d24e26337a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5149/5605723153_05192c3769_z.jpg" title="DSCF8758"><img src="/photos/5149/5605723153_05192c3769_t.jpg" data-thumb="/photos/5149/5605723153_05192c3769_t.jpg"></a><a rel="lightbox[set]" href="/photos/5027/5606307716_78a218970d_z.jpg" title="DSCF8761"><img src="/photos/5027/5606307716_78a218970d_t.jpg" data-thumb="/photos/5027/5606307716_78a218970d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5308/5606307862_cfd47f00ae_z.jpg" title="DSCF8762"><img src="/photos/5308/5606307862_cfd47f00ae_t.jpg" data-thumb="/photos/5308/5606307862_cfd47f00ae_t.jpg"></a><a rel="lightbox[set]" href="/photos/5303/5605724853_4804197d9f_z.jpg" title="DSCF8763"><img src="/photos/5303/5605724853_4804197d9f_t.jpg" data-thumb="/photos/5303/5605724853_4804197d9f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5027/5606308158_2723c14e3b_z.jpg" title="DSCF8764"><img src="/photos/5027/5606308158_2723c14e3b_t.jpg" data-thumb="/photos/5027/5606308158_2723c14e3b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5305/5605725135_993543a2c1_z.jpg" title="DSCF8765"><img src="/photos/5305/5605725135_993543a2c1_t.jpg" data-thumb="/photos/5305/5605725135_993543a2c1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5024/5606308540_3c13ab6e02_z.jpg" title="DSCF8766"><img src="/photos/5024/5606308540_3c13ab6e02_t.jpg" data-thumb="/photos/5024/5606308540_3c13ab6e02_t.jpg"></a><a rel="lightbox[set]" href="/photos/5261/5605725483_97caafc554_z.jpg" title="DSCF8767"><img src="/photos/5261/5605725483_97caafc554_t.jpg" data-thumb="/photos/5261/5605725483_97caafc554_t.jpg"></a><a rel="lightbox[set]" href="/photos/5141/5605726599_170c4fd93c_z.jpg" title="DSCF8769"><img src="/photos/5141/5605726599_170c4fd93c_t.jpg" data-thumb="/photos/5141/5605726599_170c4fd93c_t.jpg"></a><a rel="lightbox[set]" href="/photos/4111/5605726789_f2c3cc50c2_z.jpg" title="DSCF8770"><img src="/photos/4111/5605726789_f2c3cc50c2_t.jpg" data-thumb="/photos/4111/5605726789_f2c3cc50c2_t.jpg"></a><a rel="lightbox[set]" href="/photos/5264/5606310280_e16bfce84b_z.jpg" title="DSCF8771"><img src="/photos/5264/5606310280_e16bfce84b_t.jpg" data-thumb="/photos/5264/5606310280_e16bfce84b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5107/5605727059_c1ee8ba462_z.jpg" title="DSCF8772"><img src="/photos/5107/5605727059_c1ee8ba462_t.jpg" data-thumb="/photos/5107/5605727059_c1ee8ba462_t.jpg"></a><a rel="lightbox[set]" href="/photos/5025/5605727193_6d30742d7d_z.jpg" title="DSCF8773"><img src="/photos/5025/5605727193_6d30742d7d_t.jpg" data-thumb="/photos/5025/5605727193_6d30742d7d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5103/5606310662_24447cf422_z.jpg" title="DSCF8774"><img src="/photos/5103/5606310662_24447cf422_t.jpg" data-thumb="/photos/5103/5606310662_24447cf422_t.jpg"></a><a rel="lightbox[set]" href="/photos/5225/5606310796_76f6ee4048_z.jpg" title="DSCF8775"><img src="/photos/5225/5606310796_76f6ee4048_t.jpg" data-thumb="/photos/5225/5606310796_76f6ee4048_t.jpg"></a><a rel="lightbox[set]" href="/photos/5265/5606310970_50c6947676_z.jpg" title="DSCF8776"><img src="/photos/5265/5606310970_50c6947676_t.jpg" data-thumb="/photos/5265/5606310970_50c6947676_t.jpg"></a><a rel="lightbox[set]" href="/photos/5065/5606311136_610f72e0ae_z.jpg" title="DSCF8777"><img src="/photos/5065/5606311136_610f72e0ae_t.jpg" data-thumb="/photos/5065/5606311136_610f72e0ae_t.jpg"></a><a rel="lightbox[set]" href="/photos/5186/5605727867_892af608f1_z.jpg" title="DSCF8778"><img src="/photos/5186/5605727867_892af608f1_t.jpg" data-thumb="/photos/5186/5605727867_892af608f1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5144/5606311402_18b21de2a1_z.jpg" title="DSCF8779"><img src="/photos/5144/5606311402_18b21de2a1_t.jpg" data-thumb="/photos/5144/5606311402_18b21de2a1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5306/5605728183_b309f5b87e_z.jpg" title="DSCF8781"><img src="/photos/5306/5605728183_b309f5b87e_t.jpg" data-thumb="/photos/5306/5605728183_b309f5b87e_t.jpg"></a><a rel="lightbox[set]" href="/photos/5186/5606311708_b15345637a_z.jpg" title="DSCF8782"><img src="/photos/5186/5606311708_b15345637a_t.jpg" data-thumb="/photos/5186/5606311708_b15345637a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5228/5606311812_1d732c09c0_z.jpg" title="DSCF8784"><img src="/photos/5228/5606311812_1d732c09c0_t.jpg" data-thumb="/photos/5228/5606311812_1d732c09c0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5064/5605728523_0900a62760_z.jpg" title="DSCF8785"><img src="/photos/5064/5605728523_0900a62760_t.jpg" data-thumb="/photos/5064/5605728523_0900a62760_t.jpg"></a><a rel="lightbox[set]" href="/photos/5145/5605728715_6808024d99_z.jpg" title="DSCF8786"><img src="/photos/5145/5605728715_6808024d99_t.jpg" data-thumb="/photos/5145/5605728715_6808024d99_t.jpg"></a><a rel="lightbox[set]" href="/photos/5269/5605728759_b14d519d16_z.jpg" title="DSCF8788"><img src="/photos/5269/5605728759_b14d519d16_t.jpg" data-thumb="/photos/5269/5605728759_b14d519d16_t.jpg"></a><a rel="lightbox[set]" href="/photos/5105/5606312262_a873ac9b25_z.jpg" title="DSCF8789"><img src="/photos/5105/5606312262_a873ac9b25_t.jpg" data-thumb="/photos/5105/5606312262_a873ac9b25_t.jpg"></a><a rel="lightbox[set]" href="/photos/5306/5606312386_98a6b5d320_z.jpg" title="DSCF8790"><img src="/photos/5306/5606312386_98a6b5d320_t.jpg" data-thumb="/photos/5306/5606312386_98a6b5d320_t.jpg"></a><a rel="lightbox[set]" href="/photos/5188/5606312568_8bd4458f58_z.jpg" title="DSCF8791"><img src="/photos/5188/5606312568_8bd4458f58_t.jpg" data-thumb="/photos/5188/5606312568_8bd4458f58_t.jpg"></a><a rel="lightbox[set]" href="/photos/5182/5605729333_680d3ed0e0_z.jpg" title="DSCF8792"><img src="/photos/5182/5605729333_680d3ed0e0_t.jpg" data-thumb="/photos/5182/5605729333_680d3ed0e0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5149/5606312922_773a508a7a_z.jpg" title="DSCF8793"><img src="/photos/5149/5606312922_773a508a7a_t.jpg" data-thumb="/photos/5149/5606312922_773a508a7a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5064/5605729681_80a7ea1564_z.jpg" title="DSCF8794"><img src="/photos/5064/5605729681_80a7ea1564_t.jpg" data-thumb="/photos/5064/5605729681_80a7ea1564_t.jpg"></a><a rel="lightbox[set]" href="/photos/5104/5605729805_fe731376a1_z.jpg" title="DSCF8795"><img src="/photos/5104/5605729805_fe731376a1_t.jpg" data-thumb="/photos/5104/5605729805_fe731376a1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5023/5606313336_4fcc78910a_z.jpg" title="DSCF8796"><img src="/photos/5023/5606313336_4fcc78910a_t.jpg" data-thumb="/photos/5023/5606313336_4fcc78910a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5222/5606313482_b442b8a8d5_z.jpg" title="DSCF8797"><img src="/photos/5222/5606313482_b442b8a8d5_t.jpg" data-thumb="/photos/5222/5606313482_b442b8a8d5_t.jpg"></a><a rel="lightbox[set]" href="/photos/5182/5605730327_15c565a7c5_z.jpg" title="DSCF8799"><img src="/photos/5182/5605730327_15c565a7c5_t.jpg" data-thumb="/photos/5182/5605730327_15c565a7c5_t.jpg"></a><a rel="lightbox[set]" href="/photos/5023/5605730471_eb132f1152_z.jpg" title="DSCF8800"><img src="/photos/5023/5605730471_eb132f1152_t.jpg" data-thumb="/photos/5023/5605730471_eb132f1152_t.jpg"></a><a rel="lightbox[set]" href="/photos/5306/5605730629_60674c6e92_z.jpg" title="DSCF8801"><img src="/photos/5306/5605730629_60674c6e92_t.jpg" data-thumb="/photos/5306/5605730629_60674c6e92_t.jpg"></a><a rel="lightbox[set]" href="/photos/5266/5606314178_ed90a1a61a_z.jpg" title="DSCF8802"><img src="/photos/5266/5606314178_ed90a1a61a_t.jpg" data-thumb="/photos/5266/5606314178_ed90a1a61a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5149/5606314308_564d0eb0c8_z.jpg" title="DSCF8803"><img src="/photos/5149/5606314308_564d0eb0c8_t.jpg" data-thumb="/photos/5149/5606314308_564d0eb0c8_t.jpg"></a><a rel="lightbox[set]" href="/photos/5068/5605731153_c1ef10cb06_z.jpg" title="DSCF8804"><img src="/photos/5068/5605731153_c1ef10cb06_t.jpg" data-thumb="/photos/5068/5605731153_c1ef10cb06_t.jpg"></a><a rel="lightbox[set]" href="/photos/4103/5605731317_7f3f2e4c7a_z.jpg" title="DSCF8805"><img src="/photos/4103/5605731317_7f3f2e4c7a_t.jpg" data-thumb="/photos/4103/5605731317_7f3f2e4c7a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5108/5606314750_d5b25e968b_z.jpg" title="DSCF8806"><img src="/photos/5108/5606314750_d5b25e968b_t.jpg" data-thumb="/photos/5108/5606314750_d5b25e968b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5267/5606314936_bf0437702c_z.jpg" title="DSCF8807"><img src="/photos/5267/5606314936_bf0437702c_t.jpg" data-thumb="/photos/5267/5606314936_bf0437702c_t.jpg"></a><a rel="lightbox[set]" href="/photos/5269/5606315066_855df27f6a_z.jpg" title="DSCF8808"><img src="/photos/5269/5606315066_855df27f6a_t.jpg" data-thumb="/photos/5269/5606315066_855df27f6a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5230/5606315162_c481a61ae8_z.jpg" title="DSCF8809"><img src="/photos/5230/5606315162_c481a61ae8_t.jpg" data-thumb="/photos/5230/5606315162_c481a61ae8_t.jpg"></a><a rel="lightbox[set]" href="/photos/5102/5605732247_20cdfbc19e_z.jpg" title="DSCF8810"><img src="/photos/5102/5605732247_20cdfbc19e_t.jpg" data-thumb="/photos/5102/5605732247_20cdfbc19e_t.jpg"></a><a rel="lightbox[set]" href="/photos/5105/5605732397_35b9aba434_z.jpg" title="DSCF8813"><img src="/photos/5105/5605732397_35b9aba434_t.jpg" data-thumb="/photos/5105/5605732397_35b9aba434_t.jpg"></a><a rel="lightbox[set]" href="/photos/5229/5606315660_a8f07d272a_z.jpg" title="DSCF8814"><img src="/photos/5229/5606315660_a8f07d272a_t.jpg" data-thumb="/photos/5229/5606315660_a8f07d272a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5023/5605732695_854ef7de92_z.jpg" title="DSCF8815"><img src="/photos/5023/5605732695_854ef7de92_t.jpg" data-thumb="/photos/5023/5605732695_854ef7de92_t.jpg"></a><a rel="lightbox[set]" href="/photos/5143/5606316026_0b9c9eb9ca_z.jpg" title="DSCF8816"><img src="/photos/5143/5606316026_0b9c9eb9ca_t.jpg" data-thumb="/photos/5143/5606316026_0b9c9eb9ca_t.jpg"></a><a rel="lightbox[set]" href="/photos/5222/5606316210_cbfda6f476_z.jpg" title="DSCF8817"><img src="/photos/5222/5606316210_cbfda6f476_t.jpg" data-thumb="/photos/5222/5606316210_cbfda6f476_t.jpg"></a><a rel="lightbox[set]" href="/photos/5182/5605733175_25dd66ed4c_z.jpg" title="DSCF8819"><img src="/photos/5182/5605733175_25dd66ed4c_t.jpg" data-thumb="/photos/5182/5605733175_25dd66ed4c_t.jpg"></a><a rel="lightbox[set]" href="/photos/5068/5605733333_95711a63e9_z.jpg" title="DSCF8820"><img src="/photos/5068/5605733333_95711a63e9_t.jpg" data-thumb="/photos/5068/5605733333_95711a63e9_t.jpg"></a><a rel="lightbox[set]" href="/photos/5062/5606316650_e406b1a387_z.jpg" title="DSCF8821"><img src="/photos/5062/5606316650_e406b1a387_t.jpg" data-thumb="/photos/5062/5606316650_e406b1a387_t.jpg"></a><a rel="lightbox[set]" href="/photos/5067/5605733597_b7eca6f5cf_z.jpg" title="DSCF8827"><img src="/photos/5067/5605733597_b7eca6f5cf_t.jpg" data-thumb="/photos/5067/5605733597_b7eca6f5cf_t.jpg"></a><a rel="lightbox[set]" href="/photos/5309/5606316844_601885ac89_z.jpg" title="DSCF8828"><img src="/photos/5309/5606316844_601885ac89_t.jpg" data-thumb="/photos/5309/5606316844_601885ac89_t.jpg"></a><a rel="lightbox[set]" href="/photos/4111/5605733797_9edb73f954_z.jpg" title="DSCF8829"><img src="/photos/4111/5605733797_9edb73f954_t.jpg" data-thumb="/photos/4111/5605733797_9edb73f954_t.jpg"></a><a rel="lightbox[set]" href="/photos/5023/5606317174_89ec609321_z.jpg" title="DSCF8830"><img src="/photos/5023/5606317174_89ec609321_t.jpg" data-thumb="/photos/5023/5606317174_89ec609321_t.jpg"></a>		</section>
