---
title: Seneca Rocks
summary: A really great weekend of hiking, climbing, camping, swimming, live music, and via ferrata out in West Virginia.
published: 2011-05-30
tag: travel
image: /photos/3497/5777120540_b0d0c86eee_z.jpg
layout: default.hbs
---

	<p>Got out of work on Friday, loaded up the car and headed west for the weekend to <a href="http://en.wikipedia.org/wiki/Seneca_Rocks">Seneca Rocks, WV</a>. Rolled in a little after dark to a free place to camp, setup the tent, and partied with people celebrating their 36th consecutive yearly pig roast.</p>

<p>
<img src="/photos/5107/5776595859_ccdb4c8769_z.jpg" alt="View from the Tent" class="screenshot" />
</p>

<p>
Woke up nice and early the next day with an awesome view of what we were going to climb later in the weekend. Headed out to hit up the <a href="http://www.nelsonrocks.org/ViaFerrata.html">Nelson Rocks Via Ferrata</a> and killed some time in the parking lot playing bocce.
</p>

<p>
We had two awesome guides and 14 people in our group most of whom were New York City. The course was much more challenging than I expected and the views were amazing. You can read more about Via Ferrata <a href="http://en.wikipedia.org/wiki/Via_ferrata">here</a>, but it is pretty much holds placed into rocks with lengths of cable near them that you are clipping yourself into as you progress. The total course was over 3 miles and parts of it were pretty intense.

<p>
<img src="/photos/3289/5777125740_698783521e_z.jpg" alt="Holds" class="screenshot" />
</p><p>
<img src="/photos/5229/5776581651_9a73917b18_z.jpg" alt="The Bridge" class="screenshot" />
</p><p>
<img src="/photos/2504/5777125948_21f2e6646d_z.jpg" alt="Bridge from Above" class="screenshot" />
</p><p>
<img src="/photos/2475/5776584311_da172d009d_z.jpg" alt="Matt" class="screenshot" />
</p><p>
<img src="/photos/2779/5777131022_02295a690b_z.jpg" alt="Top" class="screenshot" />
</p><p>
<img src="/photos/3514/5776591819_0b08410d30_z.jpg" alt="View" class="screenshot" />
</p><p>
Found a great swimming hole to cool off in within walking distance to camp.
</p><p>
<img src="/photos/5183/5777137976_d9fec1ab3d_z.jpg" alt="Swimming" class="screenshot" />
</p>
<p>
Cooked some dinner, relaxed, rented some climbing gear, and enjoyed some live music in town before passing out early to get a good start on Sunday.
</p>
<p>
<img src="/photos/2257/5777140470_e5483455d8_z.jpg" alt="View" class="screenshot" />
</p>
<p>Spent most of the morning hiking up to the cliffs we could see from our campsite looking for some easy climbs to top rope from and ended up at the lower slabs. Met up with someone else looking to climb as well who joined us and was also into caving which sounds like an insane amount of fun. Ended up climbing a pretty fun crack rated a 5.7 known as Scuttle.</p>
<p>
<img src="/photos/5104/5776601413_134f75ebea_z.jpg" alt="Scuttle" class="screenshot" />
</p>
<p>This was the most difficult route I've ever climbed and one of the few times I've climbed on actual rock and the feeling of relaxing at the top after finishing it was amazing. Hiked back down the mountain and headed back over to the swimming hole to cool off. Relaxed with beers, hot dogs, and beans around the fire and headed back into town for a pretty fun jam band. Pretty solid weekend overall.</p>
<p>Let's see if the scooter rally next weekend can top it....</p>



		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/2070/5776565227_ffee009063_z.jpg" title="DSCF8892"><img src="/photos/2070/5776565227_ffee009063_t.jpg" data-thumb="/photos/2070/5776565227_ffee009063_t.jpg"></a><a rel="lightbox[set]" href="/photos/2164/5776565437_9b433d1117_z.jpg" title="DSCF8893"><img src="/photos/2164/5776565437_9b433d1117_t.jpg" data-thumb="/photos/2164/5776565437_9b433d1117_t.jpg"></a><a rel="lightbox[set]" href="/photos/3349/5777107780_dc4958f80d_z.jpg" title="DSCF8894"><img src="/photos/3349/5777107780_dc4958f80d_t.jpg" data-thumb="/photos/3349/5777107780_dc4958f80d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5266/5776565735_090a69c365_z.jpg" title="DSCF8895"><img src="/photos/5266/5776565735_090a69c365_t.jpg" data-thumb="/photos/5266/5776565735_090a69c365_t.jpg"></a><a rel="lightbox[set]" href="/photos/3359/5776566033_71d65e6f8b_z.jpg" title="DSCF8896"><img src="/photos/3359/5776566033_71d65e6f8b_t.jpg" data-thumb="/photos/3359/5776566033_71d65e6f8b_t.jpg"></a><a rel="lightbox[set]" href="/photos/2057/5776566243_f29aafedce_z.jpg" title="DSCF8897"><img src="/photos/2057/5776566243_f29aafedce_t.jpg" data-thumb="/photos/2057/5776566243_f29aafedce_t.jpg"></a><a rel="lightbox[set]" href="/photos/2350/5777108728_cbdbd0d485_z.jpg" title="DSCF8898"><img src="/photos/2350/5777108728_cbdbd0d485_t.jpg" data-thumb="/photos/2350/5777108728_cbdbd0d485_t.jpg"></a><a rel="lightbox[set]" href="/photos/2296/5777109070_320d34da06_z.jpg" title="DSCF8899"><img src="/photos/2296/5777109070_320d34da06_t.jpg" data-thumb="/photos/2296/5777109070_320d34da06_t.jpg"></a><a rel="lightbox[set]" href="/photos/3593/5777109344_98e7e4e71f_z.jpg" title="DSCF8900"><img src="/photos/3593/5777109344_98e7e4e71f_t.jpg" data-thumb="/photos/3593/5777109344_98e7e4e71f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5149/5777109722_32198b5a55_z.jpg" title="DSCF8901"><img src="/photos/5149/5777109722_32198b5a55_t.jpg" data-thumb="/photos/5149/5777109722_32198b5a55_t.jpg"></a><a rel="lightbox[set]" href="/photos/2415/5777110098_575939ba1a_z.jpg" title="DSCF8902"><img src="/photos/2415/5777110098_575939ba1a_t.jpg" data-thumb="/photos/2415/5777110098_575939ba1a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5068/5777110454_39497fdfc6_z.jpg" title="DSCF8903"><img src="/photos/5068/5777110454_39497fdfc6_t.jpg" data-thumb="/photos/5068/5777110454_39497fdfc6_t.jpg"></a><a rel="lightbox[set]" href="/photos/5265/5777110740_e0e23f8cba_z.jpg" title="DSCF8904"><img src="/photos/5265/5777110740_e0e23f8cba_t.jpg" data-thumb="/photos/5265/5777110740_e0e23f8cba_t.jpg"></a><a rel="lightbox[set]" href="/photos/2475/5777111104_ed5aec94ca_z.jpg" title="DSCF8905"><img src="/photos/2475/5777111104_ed5aec94ca_t.jpg" data-thumb="/photos/2475/5777111104_ed5aec94ca_t.jpg"></a><a rel="lightbox[set]" href="/photos/5070/5777111458_2003d768d0_z.jpg" title="DSCF8906"><img src="/photos/5070/5777111458_2003d768d0_t.jpg" data-thumb="/photos/5070/5777111458_2003d768d0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5224/5777111964_4d07110a13_z.jpg" title="DSCF8907"><img src="/photos/5224/5777111964_4d07110a13_t.jpg" data-thumb="/photos/5224/5777111964_4d07110a13_t.jpg"></a><a rel="lightbox[set]" href="/photos/5267/5776569931_4549a13f4d_z.jpg" title="DSCF8908"><img src="/photos/5267/5776569931_4549a13f4d_t.jpg" data-thumb="/photos/5267/5776569931_4549a13f4d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5068/5776570197_882b69bc0a_z.jpg" title="DSCF8909"><img src="/photos/5068/5776570197_882b69bc0a_t.jpg" data-thumb="/photos/5068/5776570197_882b69bc0a_t.jpg"></a><a rel="lightbox[set]" href="/photos/2661/5776570337_3259624cc5_z.jpg" title="DSCF8910"><img src="/photos/2661/5776570337_3259624cc5_t.jpg" data-thumb="/photos/2661/5776570337_3259624cc5_t.jpg"></a><a rel="lightbox[set]" href="/photos/2256/5777113280_a03cdc48cd_z.jpg" title="DSCF8911"><img src="/photos/2256/5777113280_a03cdc48cd_t.jpg" data-thumb="/photos/2256/5777113280_a03cdc48cd_t.jpg"></a><a rel="lightbox[set]" href="/photos/2716/5776571079_af7c01b833_z.jpg" title="DSCF8912"><img src="/photos/2716/5776571079_af7c01b833_t.jpg" data-thumb="/photos/2716/5776571079_af7c01b833_t.jpg"></a><a rel="lightbox[set]" href="/photos/2142/5777113782_249a352276_z.jpg" title="DSCF8913"><img src="/photos/2142/5777113782_249a352276_t.jpg" data-thumb="/photos/2142/5777113782_249a352276_t.jpg"></a><a rel="lightbox[set]" href="/photos/2507/5776571563_6625060462_z.jpg" title="DSCF8914"><img src="/photos/2507/5776571563_6625060462_t.jpg" data-thumb="/photos/2507/5776571563_6625060462_t.jpg"></a><a rel="lightbox[set]" href="/photos/2529/5776571697_a080d10a10_z.jpg" title="DSCF8915"><img src="/photos/2529/5776571697_a080d10a10_t.jpg" data-thumb="/photos/2529/5776571697_a080d10a10_t.jpg"></a><a rel="lightbox[set]" href="/photos/5267/5777114458_6647c5284f_z.jpg" title="DSCF8916"><img src="/photos/5267/5777114458_6647c5284f_t.jpg" data-thumb="/photos/5267/5777114458_6647c5284f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5183/5777114656_9a5dbf4a1e_z.jpg" title="DSCF8917"><img src="/photos/5183/5777114656_9a5dbf4a1e_t.jpg" data-thumb="/photos/5183/5777114656_9a5dbf4a1e_t.jpg"></a><a rel="lightbox[set]" href="/photos/2035/5777114866_7ac6bf418c_z.jpg" title="DSCF8918"><img src="/photos/2035/5777114866_7ac6bf418c_t.jpg" data-thumb="/photos/2035/5777114866_7ac6bf418c_t.jpg"></a><a rel="lightbox[set]" href="/photos/5109/5776572745_10a4fb0010_z.jpg" title="DSCF8919"><img src="/photos/5109/5776572745_10a4fb0010_t.jpg" data-thumb="/photos/5109/5776572745_10a4fb0010_t.jpg"></a><a rel="lightbox[set]" href="/photos/2627/5777116168_4f96bcee71_o.jpg" title="DSCF8920"><img src="/photos/2627/5777116168_27616c1703_t.jpg" data-thumb="/photos/2627/5777116168_27616c1703_t.jpg"></a><a rel="lightbox[set]" href="/photos/5185/5776574491_a11ba04642_z.jpg" title="DSCF8921"><img src="/photos/5185/5776574491_a11ba04642_t.jpg" data-thumb="/photos/5185/5776574491_a11ba04642_t.jpg"></a><a rel="lightbox[set]" href="/photos/2629/5777117086_58f3b02b8e_z.jpg" title="DSCF8922"><img src="/photos/2629/5777117086_58f3b02b8e_t.jpg" data-thumb="/photos/2629/5777117086_58f3b02b8e_t.jpg"></a><a rel="lightbox[set]" href="/photos/5027/5776575013_393e0ce209_z.jpg" title="DSCF8923"><img src="/photos/5027/5776575013_393e0ce209_t.jpg" data-thumb="/photos/5027/5776575013_393e0ce209_t.jpg"></a><a rel="lightbox[set]" href="/photos/2702/5777118676_b9ec0f1101_o.jpg" title="DSCF8924"><img src="/photos/2702/5777118676_7204a30543_t.jpg" data-thumb="/photos/2702/5777118676_7204a30543_t.jpg"></a><a rel="lightbox[set]" href="/photos/5147/5776577333_0e94b13d21_z.jpg" title="DSCF8925"><img src="/photos/5147/5776577333_0e94b13d21_t.jpg" data-thumb="/photos/5147/5776577333_0e94b13d21_t.jpg"></a><a rel="lightbox[set]" href="/photos/5148/5776577637_e43c0b7f88_z.jpg" title="DSCF8926"><img src="/photos/5148/5776577637_e43c0b7f88_t.jpg" data-thumb="/photos/5148/5776577637_e43c0b7f88_t.jpg"></a><a rel="lightbox[set]" href="/photos/2628/5777120140_a789738983_z.jpg" title="DSCF8927"><img src="/photos/2628/5777120140_a789738983_t.jpg" data-thumb="/photos/2628/5777120140_a789738983_t.jpg"></a><a rel="lightbox[set]" href="/photos/2612/5776578083_eccdd4992f_z.jpg" title="DSCF8928"><img src="/photos/2612/5776578083_eccdd4992f_t.jpg" data-thumb="/photos/2612/5776578083_eccdd4992f_t.jpg"></a><a rel="lightbox[set]" href="/photos/3497/5777120540_b0d0c86eee_z.jpg" title="DSCF8929"><img src="/photos/3497/5777120540_b0d0c86eee_t.jpg" data-thumb="/photos/3497/5777120540_b0d0c86eee_t.jpg"></a><a rel="lightbox[set]" href="/photos/2063/5777120822_18de5bf041_z.jpg" title="DSCF8930"><img src="/photos/2063/5777120822_18de5bf041_t.jpg" data-thumb="/photos/2063/5777120822_18de5bf041_t.jpg"></a><a rel="lightbox[set]" href="/photos/3108/5776578763_04d7170edc_z.jpg" title="DSCF8931"><img src="/photos/3108/5776578763_04d7170edc_t.jpg" data-thumb="/photos/3108/5776578763_04d7170edc_t.jpg"></a><a rel="lightbox[set]" href="/photos/3325/5776578957_e6181123a1_z.jpg" title="DSCF8932"><img src="/photos/3325/5776578957_e6181123a1_t.jpg" data-thumb="/photos/3325/5776578957_e6181123a1_t.jpg"></a><a rel="lightbox[set]" href="/photos/2566/5777121976_51326a3735_o.jpg" title="DSCF8933"><img src="/photos/2566/5777121976_f682e1785c_t.jpg" data-thumb="/photos/2566/5777121976_f682e1785c_t.jpg"></a><a rel="lightbox[set]" href="/photos/3596/5777122808_964fa874c6_z.jpg" title="DSCF8934"><img src="/photos/3596/5777122808_964fa874c6_t.jpg" data-thumb="/photos/3596/5777122808_964fa874c6_t.jpg"></a><a rel="lightbox[set]" href="/photos/2512/5777123016_24ec58ed29_z.jpg" title="DSCF8935"><img src="/photos/2512/5777123016_24ec58ed29_t.jpg" data-thumb="/photos/2512/5777123016_24ec58ed29_t.jpg"></a><a rel="lightbox[set]" href="/photos/2032/5777123382_2907a2e238_z.jpg" title="DSCF8936"><img src="/photos/2032/5777123382_2907a2e238_t.jpg" data-thumb="/photos/2032/5777123382_2907a2e238_t.jpg"></a><a rel="lightbox[set]" href="/photos/5229/5776581651_9a73917b18_z.jpg" title="DSCF8937"><img src="/photos/5229/5776581651_9a73917b18_t.jpg" data-thumb="/photos/5229/5776581651_9a73917b18_t.jpg"></a><a rel="lightbox[set]" href="/photos/2729/5777124118_2913137bf2_z.jpg" title="DSCF8938"><img src="/photos/2729/5777124118_2913137bf2_t.jpg" data-thumb="/photos/2729/5777124118_2913137bf2_t.jpg"></a><a rel="lightbox[set]" href="/photos/2129/5776582203_9c335bd9bf_z.jpg" title="DSCF8939"><img src="/photos/2129/5776582203_9c335bd9bf_t.jpg" data-thumb="/photos/2129/5776582203_9c335bd9bf_t.jpg"></a><a rel="lightbox[set]" href="/photos/3094/5776582355_97fbe38955_z.jpg" title="DSCF8941"><img src="/photos/3094/5776582355_97fbe38955_t.jpg" data-thumb="/photos/3094/5776582355_97fbe38955_t.jpg"></a><a rel="lightbox[set]" href="/photos/3181/5777124770_57955f87b0_z.jpg" title="DSCF8942"><img src="/photos/3181/5777124770_57955f87b0_t.jpg" data-thumb="/photos/3181/5777124770_57955f87b0_t.jpg"></a><a rel="lightbox[set]" href="/photos/3538/5777125148_100c47fcdb_z.jpg" title="DSCF8943"><img src="/photos/3538/5777125148_100c47fcdb_t.jpg" data-thumb="/photos/3538/5777125148_100c47fcdb_t.jpg"></a><a rel="lightbox[set]" href="/photos/3624/5776583219_bd7f5d42b4_z.jpg" title="DSCF8944"><img src="/photos/3624/5776583219_bd7f5d42b4_t.jpg" data-thumb="/photos/3624/5776583219_bd7f5d42b4_t.jpg"></a><a rel="lightbox[set]" href="/photos/5070/5776583401_f3958d79c7_z.jpg" title="DSCF8945"><img src="/photos/5070/5776583401_f3958d79c7_t.jpg" data-thumb="/photos/5070/5776583401_f3958d79c7_t.jpg"></a><a rel="lightbox[set]" href="/photos/3289/5777125740_698783521e_z.jpg" title="DSCF8946"><img src="/photos/3289/5777125740_698783521e_t.jpg" data-thumb="/photos/3289/5777125740_698783521e_t.jpg"></a><a rel="lightbox[set]" href="/photos/2504/5777125948_21f2e6646d_z.jpg" title="DSCF8947"><img src="/photos/2504/5777125948_21f2e6646d_t.jpg" data-thumb="/photos/2504/5777125948_21f2e6646d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5022/5777126226_d8f038b18a_z.jpg" title="DSCF8948"><img src="/photos/5022/5777126226_d8f038b18a_t.jpg" data-thumb="/photos/5022/5777126226_d8f038b18a_t.jpg"></a><a rel="lightbox[set]" href="/photos/2475/5776584311_da172d009d_z.jpg" title="DSCF8950"><img src="/photos/2475/5776584311_da172d009d_t.jpg" data-thumb="/photos/2475/5776584311_da172d009d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5106/5777126760_4965858e83_z.jpg" title="DSCF8951"><img src="/photos/5106/5777126760_4965858e83_t.jpg" data-thumb="/photos/5106/5777126760_4965858e83_t.jpg"></a><a rel="lightbox[set]" href="/photos/2734/5776584953_f4d1f1bf07_z.jpg" title="DSCF8952"><img src="/photos/2734/5776584953_f4d1f1bf07_t.jpg" data-thumb="/photos/2734/5776584953_f4d1f1bf07_t.jpg"></a><a rel="lightbox[set]" href="/photos/5262/5776585167_aac2370b0f_z.jpg" title="DSCF8953"><img src="/photos/5262/5776585167_aac2370b0f_t.jpg" data-thumb="/photos/5262/5776585167_aac2370b0f_t.jpg"></a><a rel="lightbox[set]" href="/photos/3319/5777127620_b10cd51480_z.jpg" title="DSCF8956"><img src="/photos/3319/5777127620_b10cd51480_t.jpg" data-thumb="/photos/3319/5777127620_b10cd51480_t.jpg"></a><a rel="lightbox[set]" href="/photos/5261/5777130304_a07f81f6ec_o.jpg" title="DSCF8957"><img src="/photos/5261/5777130304_2933cc297f_t.jpg" data-thumb="/photos/5261/5777130304_2933cc297f_t.jpg"></a><a rel="lightbox[set]" href="/photos/2779/5777131022_02295a690b_z.jpg" title="DSCF8958"><img src="/photos/2779/5777131022_02295a690b_t.jpg" data-thumb="/photos/2779/5777131022_02295a690b_t.jpg"></a><a rel="lightbox[set]" href="/photos/2606/5776589105_362d13bea2_z.jpg" title="DSCF8959"><img src="/photos/2606/5776589105_362d13bea2_t.jpg" data-thumb="/photos/2606/5776589105_362d13bea2_t.jpg"></a><a rel="lightbox[set]" href="/photos/3417/5776589271_b8b4b7aa34_z.jpg" title="DSCF8960"><img src="/photos/3417/5776589271_b8b4b7aa34_t.jpg" data-thumb="/photos/3417/5776589271_b8b4b7aa34_t.jpg"></a><a rel="lightbox[set]" href="/photos/2670/5777131560_c95641270d_z.jpg" title="DSCF8961"><img src="/photos/2670/5777131560_c95641270d_t.jpg" data-thumb="/photos/2670/5777131560_c95641270d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5221/5777131780_a5dccc0b8f_z.jpg" title="DSCF8962"><img src="/photos/5221/5777131780_a5dccc0b8f_t.jpg" data-thumb="/photos/5221/5777131780_a5dccc0b8f_t.jpg"></a><a rel="lightbox[set]" href="/photos/5149/5776589835_b9f1a2373e_z.jpg" title="DSCF8963"><img src="/photos/5149/5776589835_b9f1a2373e_t.jpg" data-thumb="/photos/5149/5776589835_b9f1a2373e_t.jpg"></a><a rel="lightbox[set]" href="/photos/2195/5776590023_3174f6226d_z.jpg" title="DSCF8964"><img src="/photos/2195/5776590023_3174f6226d_t.jpg" data-thumb="/photos/2195/5776590023_3174f6226d_t.jpg"></a><a rel="lightbox[set]" href="/photos/2776/5776590339_c8cce4a20b_z.jpg" title="DSCF8965"><img src="/photos/2776/5776590339_c8cce4a20b_t.jpg" data-thumb="/photos/2776/5776590339_c8cce4a20b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5303/5777132926_84b9ba85bd_z.jpg" title="DSCF8966"><img src="/photos/5303/5777132926_84b9ba85bd_t.jpg" data-thumb="/photos/5303/5777132926_84b9ba85bd_t.jpg"></a><a rel="lightbox[set]" href="/photos/2466/5776590869_e2e92cc180_z.jpg" title="DSCF8967"><img src="/photos/2466/5776590869_e2e92cc180_t.jpg" data-thumb="/photos/2466/5776590869_e2e92cc180_t.jpg"></a><a rel="lightbox[set]" href="/photos/5027/5776591125_dea56f3b69_z.jpg" title="DSCF8968"><img src="/photos/5027/5776591125_dea56f3b69_t.jpg" data-thumb="/photos/5027/5776591125_dea56f3b69_t.jpg"></a><a rel="lightbox[set]" href="/photos/5182/5777133852_4a4ed8962b_z.jpg" title="DSCF8969"><img src="/photos/5182/5777133852_4a4ed8962b_t.jpg" data-thumb="/photos/5182/5777133852_4a4ed8962b_t.jpg"></a><a rel="lightbox[set]" href="/photos/3514/5776591819_0b08410d30_z.jpg" title="DSCF8970"><img src="/photos/3514/5776591819_0b08410d30_t.jpg" data-thumb="/photos/3514/5776591819_0b08410d30_t.jpg"></a><a rel="lightbox[set]" href="/photos/2385/5777134264_ecb789bbdf_z.jpg" title="DSCF8971"><img src="/photos/2385/5777134264_ecb789bbdf_t.jpg" data-thumb="/photos/2385/5777134264_ecb789bbdf_t.jpg"></a><a rel="lightbox[set]" href="/photos/3008/5777134406_e43d8d1c45_z.jpg" title="DSCF8972"><img src="/photos/3008/5777134406_e43d8d1c45_t.jpg" data-thumb="/photos/3008/5777134406_e43d8d1c45_t.jpg"></a><a rel="lightbox[set]" href="/photos/3492/5777136158_c2757bc326_o.jpg" title="DSCF8973"><img src="/photos/3492/5777136158_bf8f852010_t.jpg" data-thumb="/photos/3492/5777136158_bf8f852010_t.jpg"></a><a rel="lightbox[set]" href="/photos/5226/5776594813_c8435900c4_z.jpg" title="DSCF8974"><img src="/photos/5226/5776594813_c8435900c4_t.jpg" data-thumb="/photos/5226/5776594813_c8435900c4_t.jpg"></a><a rel="lightbox[set]" href="/photos/2029/5777137250_c615f0a124_z.jpg" title="DSCF8975"><img src="/photos/2029/5777137250_c615f0a124_t.jpg" data-thumb="/photos/2029/5777137250_c615f0a124_t.jpg"></a><a rel="lightbox[set]" href="/photos/5063/5777137464_a3b0b03f34_z.jpg" title="DSCF8978"><img src="/photos/5063/5777137464_a3b0b03f34_t.jpg" data-thumb="/photos/5063/5777137464_a3b0b03f34_t.jpg"></a><a rel="lightbox[set]" href="/photos/3365/5777137774_5525f1ac59_z.jpg" title="DSCF8979"><img src="/photos/3365/5777137774_5525f1ac59_t.jpg" data-thumb="/photos/3365/5777137774_5525f1ac59_t.jpg"></a><a rel="lightbox[set]" href="/photos/5183/5777137976_d9fec1ab3d_z.jpg" title="DSCF8981"><img src="/photos/5183/5777137976_d9fec1ab3d_t.jpg" data-thumb="/photos/5183/5777137976_d9fec1ab3d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5107/5776595859_ccdb4c8769_z.jpg" title="DSCF8984"><img src="/photos/5107/5776595859_ccdb4c8769_t.jpg" data-thumb="/photos/5107/5776595859_ccdb4c8769_t.jpg"></a><a rel="lightbox[set]" href="/photos/3091/5776596085_658ccab4a9_z.jpg" title="DSCF8986"><img src="/photos/3091/5776596085_658ccab4a9_t.jpg" data-thumb="/photos/3091/5776596085_658ccab4a9_t.jpg"></a><a rel="lightbox[set]" href="/photos/3639/5776596317_bc6e3a3bb0_z.jpg" title="DSCF8987"><img src="/photos/3639/5776596317_bc6e3a3bb0_t.jpg" data-thumb="/photos/3639/5776596317_bc6e3a3bb0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5308/5777138858_43d3a5ce38_z.jpg" title="DSCF8988"><img src="/photos/5308/5777138858_43d3a5ce38_t.jpg" data-thumb="/photos/5308/5777138858_43d3a5ce38_t.jpg"></a><a rel="lightbox[set]" href="/photos/5022/5777139084_abb489f740_z.jpg" title="DSCF8989"><img src="/photos/5022/5777139084_abb489f740_t.jpg" data-thumb="/photos/5022/5777139084_abb489f740_t.jpg"></a><a rel="lightbox[set]" href="/photos/5267/5776597003_d3557b9bb4_z.jpg" title="DSCF8990"><img src="/photos/5267/5776597003_d3557b9bb4_t.jpg" data-thumb="/photos/5267/5776597003_d3557b9bb4_t.jpg"></a><a rel="lightbox[set]" href="/photos/5101/5776597181_96c6b05ce8_z.jpg" title="DSCF8991"><img src="/photos/5101/5776597181_96c6b05ce8_t.jpg" data-thumb="/photos/5101/5776597181_96c6b05ce8_t.jpg"></a><a rel="lightbox[set]" href="/photos/2665/5776597499_303e1cf45a_z.jpg" title="DSCF8992"><img src="/photos/2665/5776597499_303e1cf45a_t.jpg" data-thumb="/photos/2665/5776597499_303e1cf45a_t.jpg"></a><a rel="lightbox[set]" href="/photos/2734/5776597821_ff0a5340cc_z.jpg" title="DSCF8993"><img src="/photos/2734/5776597821_ff0a5340cc_t.jpg" data-thumb="/photos/2734/5776597821_ff0a5340cc_t.jpg"></a><a rel="lightbox[set]" href="/photos/2257/5777140470_e5483455d8_z.jpg" title="DSCF8994"><img src="/photos/2257/5777140470_e5483455d8_t.jpg" data-thumb="/photos/2257/5777140470_e5483455d8_t.jpg"></a><a rel="lightbox[set]" href="/photos/3522/5777140748_dd92af6ba4_z.jpg" title="DSCF8995"><img src="/photos/3522/5777140748_dd92af6ba4_t.jpg" data-thumb="/photos/3522/5777140748_dd92af6ba4_t.jpg"></a><a rel="lightbox[set]" href="/photos/3043/5776598687_df39c04371_z.jpg" title="DSCF8996"><img src="/photos/3043/5776598687_df39c04371_t.jpg" data-thumb="/photos/3043/5776598687_df39c04371_t.jpg"></a><a rel="lightbox[set]" href="/photos/3593/5777141350_76384df94a_z.jpg" title="DSCF8997"><img src="/photos/3593/5777141350_76384df94a_t.jpg" data-thumb="/photos/3593/5777141350_76384df94a_t.jpg"></a><a rel="lightbox[set]" href="/photos/2705/5777141644_98cee37fee_z.jpg" title="DSCF8998"><img src="/photos/2705/5777141644_98cee37fee_t.jpg" data-thumb="/photos/2705/5777141644_98cee37fee_t.jpg"></a><a rel="lightbox[set]" href="/photos/3634/5777142140_ef9d49bb7f_z.jpg" title="DSCF8999"><img src="/photos/3634/5777142140_ef9d49bb7f_t.jpg" data-thumb="/photos/3634/5777142140_ef9d49bb7f_t.jpg"></a><a rel="lightbox[set]" href="/photos/3090/5777142292_49b99bfffb_z.jpg" title="DSCF9001"><img src="/photos/3090/5777142292_49b99bfffb_t.jpg" data-thumb="/photos/3090/5777142292_49b99bfffb_t.jpg"></a><a rel="lightbox[set]" href="/photos/3540/5777142620_216ffe78d6_z.jpg" title="DSCF9002"><img src="/photos/3540/5777142620_216ffe78d6_t.jpg" data-thumb="/photos/3540/5777142620_216ffe78d6_t.jpg"></a><a rel="lightbox[set]" href="/photos/5266/5777142960_275b4ab321_z.jpg" title="DSCF9003"><img src="/photos/5266/5777142960_275b4ab321_t.jpg" data-thumb="/photos/5266/5777142960_275b4ab321_t.jpg"></a><a rel="lightbox[set]" href="/photos/3093/5776600999_137307c6d2_z.jpg" title="DSCF9004"><img src="/photos/3093/5776600999_137307c6d2_t.jpg" data-thumb="/photos/3093/5776600999_137307c6d2_t.jpg"></a><a rel="lightbox[set]" href="/photos/5104/5776601413_134f75ebea_z.jpg" title="DSCF9005"><img src="/photos/5104/5776601413_134f75ebea_t.jpg" data-thumb="/photos/5104/5776601413_134f75ebea_t.jpg"></a><a rel="lightbox[set]" href="/photos/5181/5777143988_9256ff4671_z.jpg" title="DSCF9006"><img src="/photos/5181/5777143988_9256ff4671_t.jpg" data-thumb="/photos/5181/5777143988_9256ff4671_t.jpg"></a><a rel="lightbox[set]" href="/photos/2553/5776602143_edc590d30f_z.jpg" title="DSCF9007"><img src="/photos/2553/5776602143_edc590d30f_t.jpg" data-thumb="/photos/2553/5776602143_edc590d30f_t.jpg"></a><a rel="lightbox[set]" href="/photos/2568/5777144740_107f111fbc_z.jpg" title="DSCF9009"><img src="/photos/2568/5777144740_107f111fbc_t.jpg" data-thumb="/photos/2568/5777144740_107f111fbc_t.jpg"></a><a rel="lightbox[set]" href="/photos/2779/5777145200_6cf5080389_z.jpg" title="DSCF9010"><img src="/photos/2779/5777145200_6cf5080389_t.jpg" data-thumb="/photos/2779/5777145200_6cf5080389_t.jpg"></a><a rel="lightbox[set]" href="/photos/5304/5777145634_64dbbd69c6_z.jpg" title="DSCF9011"><img src="/photos/5304/5777145634_64dbbd69c6_t.jpg" data-thumb="/photos/5304/5777145634_64dbbd69c6_t.jpg"></a><a rel="lightbox[set]" href="/photos/3052/5777146110_7605a46f91_z.jpg" title="DSCF9012"><img src="/photos/3052/5777146110_7605a46f91_t.jpg" data-thumb="/photos/3052/5777146110_7605a46f91_t.jpg"></a><a rel="lightbox[set]" href="/photos/3330/5776604279_01de363404_z.jpg" title="DSCF9013"><img src="/photos/3330/5776604279_01de363404_t.jpg" data-thumb="/photos/3330/5776604279_01de363404_t.jpg"></a><a rel="lightbox[set]" href="/photos/2116/5776604483_7d18273f89_z.jpg" title="DSCF9014"><img src="/photos/2116/5776604483_7d18273f89_t.jpg" data-thumb="/photos/2116/5776604483_7d18273f89_t.jpg"></a><a rel="lightbox[set]" href="/photos/2367/5776604789_fe735df4e5_z.jpg" title="DSCF9015"><img src="/photos/2367/5776604789_fe735df4e5_t.jpg" data-thumb="/photos/2367/5776604789_fe735df4e5_t.jpg"></a><a rel="lightbox[set]" href="/photos/3438/5776605201_d83f7d1822_z.jpg" title="DSCF9016"><img src="/photos/3438/5776605201_d83f7d1822_t.jpg" data-thumb="/photos/3438/5776605201_d83f7d1822_t.jpg"></a><a rel="lightbox[set]" href="/photos/5301/5777147516_19af3b2ca2_z.jpg" title="DSCF9017"><img src="/photos/5301/5777147516_19af3b2ca2_t.jpg" data-thumb="/photos/5301/5777147516_19af3b2ca2_t.jpg"></a><a rel="lightbox[set]" href="/photos/3547/5777147694_b2c36bcfd7_z.jpg" title="DSCF9018"><img src="/photos/3547/5777147694_b2c36bcfd7_t.jpg" data-thumb="/photos/3547/5777147694_b2c36bcfd7_t.jpg"></a><a rel="lightbox[set]" href="/photos/5109/5777148000_b913cd768e_z.jpg" title="DSCF9019"><img src="/photos/5109/5777148000_b913cd768e_t.jpg" data-thumb="/photos/5109/5777148000_b913cd768e_t.jpg"></a><a rel="lightbox[set]" href="/photos/3477/5777148234_15c730df1d_z.jpg" title="DSCF9020"><img src="/photos/3477/5777148234_15c730df1d_t.jpg" data-thumb="/photos/3477/5777148234_15c730df1d_t.jpg"></a><a rel="lightbox[set]" href="/photos/2052/5777148466_1c0aa8f281_z.jpg" title="DSCF9021"><img src="/photos/2052/5777148466_1c0aa8f281_t.jpg" data-thumb="/photos/2052/5777148466_1c0aa8f281_t.jpg"></a><a rel="lightbox[set]" href="/photos/3422/5777148818_6b4419e740_z.jpg" title="DSCF9022"><img src="/photos/3422/5777148818_6b4419e740_t.jpg" data-thumb="/photos/3422/5777148818_6b4419e740_t.jpg"></a><a rel="lightbox[set]" href="/photos/2780/5776606977_9da4ab57f5_z.jpg" title="DSCF9023"><img src="/photos/2780/5776606977_9da4ab57f5_t.jpg" data-thumb="/photos/2780/5776606977_9da4ab57f5_t.jpg"></a><a rel="lightbox[set]" href="/photos/5024/5776607167_d212662b14_z.jpg" title="DSCF9024"><img src="/photos/5024/5776607167_d212662b14_t.jpg" data-thumb="/photos/5024/5776607167_d212662b14_t.jpg"></a><a rel="lightbox[set]" href="/photos/3388/5776607585_e278ae29a0_z.jpg" title="DSCF9025"><img src="/photos/3388/5776607585_e278ae29a0_t.jpg" data-thumb="/photos/3388/5776607585_e278ae29a0_t.jpg"></a><a rel="lightbox[set]" href="/photos/5026/5777150074_8bd432fd53_z.jpg" title="DSCF9026"><img src="/photos/5026/5777150074_8bd432fd53_t.jpg" data-thumb="/photos/5026/5777150074_8bd432fd53_t.jpg"></a>		</section>
