---
title: Strickler Knob Camping
summary: Two days and a cold night for the best views I've ever seen in Virginia.
published: 2022-02-07
tag: travel
image: /photos/strickler/big/PXL_20220205_214716380.jpg
layout: default.hbs
---

<img src="/photos/strickler/big/PXL_20220205_215645003.jpg" alt="View" class="inline">

<p>Around this time every year I start to go a little crazy since the pandemic started and I'm stuck inside all the winter. Last year I did the <a href="/travel/dolly-sods.html">Dolly Sods</a> trip which honestly ended up being a little too gnarly, so this year I wanted something a little easier. I asked a friend with a lot of backpacking experience and this was his suggestion and it ended up being an excellent one.</p>

<ul><li>These are the nicest views I've ever seen in Virginia and that's including being up and down skyline drive and also on top of Old Rag. I think it's maybe the layers of mountains or being surrounded by mountains on all sides or being able to see plenty of towns, but it was the best.</li>
<li>This is about 30 minutes west of Luray, VA so you have an easy spot to grab supplies and good meals before and after.</li>
<li>We had planned to do about 6 miles a day, but the road that lets you access most of these trails is Crisman Hollow Road. It was closed on both the south and the north side I think for the winter. We parked on the north end near where it meets Camp Roosevelt Road/675 and hiked the extra 3 miles along the road in.</li>
<li>We ended up taking more of the road than trail on the first day and skipping Duncan Knob on the way down to still make decent time given the extra miles.</li>
<li>The best map to use is on <a href="https://www.hikingupward.com/gwnf/duncanknob/" target="_blank">hiking upward</a>.
<ul>
<li>We hiked in on Crisman Hollow</li>    
<li>Cut into the trails on Scothorn Gap</li>
<li>Switched to the Massanutten trail</li>
<li>Took the spur over to Strickler Knob and there's a really good campsite along here where we dropped our bags and then hiked out to the excellent views.</li>
<li>The next morning we kept going on the Massanutten trail and then took Gap Creek trail back over the mountain to Crisman Hollow</li>
</ul>
</li>
<li>The trails are mostly really easy and wide except for the bit out to Strickler Knob which is real rocky and a little scrambly towards the end. Most of the trails are 6 ft wide except for some parts of the Gap Creek trail on the east side.</li>
<li>There were plenty of spots to get fresh water except for when you're up top near Strickler Knob</li>
<li>I'll probably head back for a day trip to checkout Duncan knob sometime in the spring</li>
<li>The rules for hiking in George Washington National forest are pretty permissive and can be found <a href="https://www.fs.usda.gov/detail/gwj/recreation/camping-cabins/?cid=fseprd476979" target="_blank">here</a>.</li>
</ul>

<h2>Route</h2>
<h3>Day 1</h3>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/6637454173/embed/467c595a031f333e4f6b73f1df41ce4b28afbbdb'></iframe>

<h3>Day 2</h3>
<iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/6641918536/embed/f474a9a45b1a84fb63e7649863a8c04b7ef07e6c'></iframe>

<h2>Photos</h2>

<section class="thumbnails">
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_194327375.jpg">
    <img src="/photos/strickler/small/PXL_20220205_194327375.jpg" data-thumb="/photos/strickler/small/PXL_20220205_194327375.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_202917506.jpg">
    <img src="/photos/strickler/small/PXL_20220205_202917506.jpg" data-thumb="/photos/strickler/small/PXL_20220205_202917506.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_204205879.jpg">
    <img src="/photos/strickler/small/PXL_20220205_204205879.jpg" data-thumb="/photos/strickler/small/PXL_20220205_204205879.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_210403368.jpg">
    <img src="/photos/strickler/small/PXL_20220205_210403368.jpg" data-thumb="/photos/strickler/small/PXL_20220205_210403368.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_212836313.jpg">
    <img src="/photos/strickler/small/PXL_20220205_212836313.jpg" data-thumb="/photos/strickler/small/PXL_20220205_212836313.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_213424534.jpg">
    <img src="/photos/strickler/small/PXL_20220205_213424534.jpg" data-thumb="/photos/strickler/small/PXL_20220205_213424534.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_214716380.jpg">
    <img src="/photos/strickler/small/PXL_20220205_214716380.jpg" data-thumb="/photos/strickler/small/PXL_20220205_214716380.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_215221597.jpg">
    <img src="/photos/strickler/small/PXL_20220205_215221597.jpg" data-thumb="/photos/strickler/small/PXL_20220205_215221597.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_215645003.jpg">
    <img src="/photos/strickler/small/PXL_20220205_215645003.jpg" data-thumb="/photos/strickler/small/PXL_20220205_215645003.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_215934732.jpg">
    <img src="/photos/strickler/small/PXL_20220205_215934732.jpg" data-thumb="/photos/strickler/small/PXL_20220205_215934732.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220205_231514242.MP.jpg">
    <img src="/photos/strickler/small/PXL_20220205_231514242.MP.jpg" data-thumb="/photos/strickler/small/PXL_20220205_231514242.MP.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220206_115007484.jpg">
    <img src="/photos/strickler/small/PXL_20220206_115007484.jpg" data-thumb="/photos/strickler/small/PXL_20220206_115007484.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220206_122028241.jpg">
    <img src="/photos/strickler/small/PXL_20220206_122028241.jpg" data-thumb="/photos/strickler/small/PXL_20220206_122028241.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220206_125745034.jpg">
    <img src="/photos/strickler/small/PXL_20220206_125745034.jpg" data-thumb="/photos/strickler/small/PXL_20220206_125745034.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220206_144731774.jpg">
    <img src="/photos/strickler/small/PXL_20220206_144731774.jpg" data-thumb="/photos/strickler/small/PXL_20220206_144731774.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/strickler/big/PXL_20220206_162235271.jpg">
    <img src="/photos/strickler/small/PXL_20220206_162235271.jpg" data-thumb="/photos/strickler/small/PXL_20220206_162235271.jpg">
    </a>
</section>

