---
title: About
tag: page
layout: default.hbs
summary: A little about where I'm from and what I'm up to.
---

<article class="detail">
<p>
I'm originally from the Hudson Valley area in upstate New York where I attended <a href="http://www.morrisville.edu/">SUNY Morrisville</a> and graduated in 2007 with a degree in Application Software Development.
</p>
<p>Previously I worked for <a href="http://www.iris.edu/">IRIS</a> where I designed websites and APIs to <a href="http://www.iris.edu/hq/ssn/events">help students all over the world upload and share seismology data</a>. I was at <a href="http://www.akqa.com/">AKQA</a> for a while where I handled full stack and Android app development for clients such as VW, Audi, Google, Verizon, USPS, Delta, Old Navy, and Bethesda Video Games. I did the startup thing over at <a href="http://www.pivvit.com/">Pivvit</a> where I built out the team, designed and implemented their technical infrastructure, and took them from an idea to their initial launch. I was also over at <a href="http://www.webs.com/">Webs</a> for a bit working on localization and developing modules to let users easily create their own websites. I also worked for <a href="http://hugeinc.com/">Huge</a> as their Director of Engineering where I led all tech engagements for the DC office.
	I was also at Mooti working on the product definition and technical architecture to support self sovereign identity for our clients. I currently work for the <a href="https://www.theknotww.com">The Knot Worldwide</a> where I manage the engineering work to help couples plan great weddings.
</p>
<p>
I currently live in Washington DC where I write code, shoot pool, race bikes for <a href="http://www.crosshairscycling.com/">Crosshairs</a>, and spin wrenches. Complicated difficult work is what I'm in to.
</p>
<p>
<em>Details on my technical areas of expertise are available on <a href="http://www.linkedin.com/in/toigo">LinkedIn</a>.</em>
</p>
<p><strong>I'm currently not taking on any freelance work.</strong></p>
<div id="badges">
<a href="http://www.zend.com/en/yellow-pages/ZEND005626"><img src="images/certs/zend.jpg"></a>
<a href="https://www.scrumalliance.org/community/profile/mtoigo"><img src="images/certs/scrum.png"></a>
</div>
</article>
