---
tag: home
layout: default.hbs
---

{{#each collections.all }}
	<section class="summary">
		<h1><a href="{{#unless link}}/{{ path }}{{/unless}}{{#if link}}{{ link }}{{/if}}">{{this.title}}</a></h1>
		<div class="date_tags">{{this.published}} <a href="{{this.tag}}.html">{{this.tag}}</a></div>
		{{#if image}}<a href="{{#unless link}}/{{ path }}{{/unless}}{{#if link}}{{ link }}{{/if}}"><img src="{{ image }}"{{#if no-shadow}}class="no-shadow"{{/if}}></a>{{/if}} 
		<p>
		{{{summary}}}
		<div class="read_more"><a href="{{#unless link}}/{{ path }}{{/unless}}{{#if link}}{{ link }}{{/if}}">read more</a></div>
	</section>
{{/each}} 
