---
tag: wheels
layout: default.hbs
summary: Anything I've been up to with bicycles or motorcycles.
---

{{#each collections.wheels }}
	<section class="summary">
		<h1><a href="{{#unless link}}/{{ path }}{{/unless}}{{#if link}}{{ link }}{{/if}}">{{this.title}}</a></h1>
		<div class="date_tags">{{this.published}} <a href="{{this.tag}}.html">{{this.tag}}</a></div>
		{{#if image}}<a href="{{#unless link}}/{{ path }}{{/unless}}{{#if link}}{{ link }}{{/if}}"><img src="{{ image }}"></a>{{/if}} 
		<p>
		{{{summary}}}
		<div class="read_more"><a href="{{#unless link}}/{{ path }}{{/unless}}{{#if link}}{{ link }}{{/if}}">read more</a></div>
	</section>
{{/each}}
