---
title: 3D Printed Bocce Ball Stand
summary: A quick writeup on a small 3D printing project.
published: 2015-08-17
tag: dev
image: /photos/760/20480216078_ae82309f68_z.jpg
layout: default.hbs
---

	<p>On our honeymoon Katie and I won a bocce tournament at the <a href="https://www.francisfordcoppolawinery.com/">Francis Coppola Winery</a> and the prize was two signature bocce balls. Since I've been in "<em>any excuse to use 3D printing</em>" mode, I decided to make a stand to display them.

<p>I drew everything on paper to get all of the dimensions correct and then created the shape in <a href="http://www.sketchup.com/">SketchUp</a> which is very easy to use if you're new to 3D modeling. You'll likely want <a href="https://extensions.sketchup.com/en/content/weld">the weld plugin</a> to get started with drawing and also <a href="https://extensions.sketchup.com/en/content/sketchup-stl">SketchUp STL</a> for exporting a file that's easy for 3D printers to work with.</p>

<p>Once you're happy with your model, you can upload it to a site like <a href="http://www.shapeways.com/">Shapeways</a>, verify the size, choose a material, and they'll ship you the piece in 2 weeks.</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/504/20222717969_5df4aab0f9_z.jpg" title="IMG_20150806_205716"><img src="/photos/504/20222717969_5df4aab0f9_q.jpg" data-thumb="/photos/504/20222717969_5df4aab0f9_q.jpg"></a><a rel="lightbox[set]" href="/photos/3703/20221378698_44ef81fda7_z.jpg" title="IMG_20150806_205150"><img src="/photos/3703/20221378698_44ef81fda7_q.jpg" data-thumb="/photos/3703/20221378698_44ef81fda7_q.jpg"></a><a rel="lightbox[set]" href="/photos/422/20383114206_04d5a7318c_z.jpg" title="IMG_20150806_204327"><img src="/photos/422/20383114206_04d5a7318c_q.jpg" data-thumb="/photos/422/20383114206_04d5a7318c_q.jpg"></a><a rel="lightbox[set]" href="/photos/448/19788474763_ca31e42e46_z.jpg" title="Screen Shot 2015-08-06 at 9.50.20 PM"><img src="/photos/448/19788474763_ca31e42e46_q.jpg" data-thumb="/photos/448/19788474763_ca31e42e46_q.jpg"></a><a rel="lightbox[set]" href="/photos/535/20221435488_c048ab2534_z.jpg" title="Screen Shot 2015-08-06 at 9.49.10 PM"><img src="/photos/535/20221435488_c048ab2534_q.jpg" data-thumb="/photos/535/20221435488_c048ab2534_q.jpg"></a><a rel="lightbox[set]" href="/photos/760/20480216078_ae82309f68_z.jpg" title="IMG_20150815_094601"><img src="/photos/760/20480216078_ae82309f68_q.jpg" data-thumb="/photos/760/20480216078_ae82309f68_q.jpg"></a><a rel="lightbox[set]" href="/photos/5676/20481484909_8ab8f41580_z.jpg" title="IMG_20150815_094547"><img src="/photos/5676/20481484909_8ab8f41580_q.jpg" data-thumb="/photos/5676/20481484909_8ab8f41580_q.jpg"></a><a rel="lightbox[set]" href="/photos/564/20480215818_c475c7da50_z.jpg" title="IMG_20150815_094610"><img src="/photos/564/20480215818_c475c7da50_q.jpg" data-thumb="/photos/564/20480215818_c475c7da50_q.jpg"></a>		</section>
