---
title: Linking to YouTube on Mobile Websites
summary: Launching a native video player via the HTML5 video element if possible is the slickest way to handle video on mobile websites. An alternative that requires less development and QA time is simply uploading the video to YouTube and then linking to it. This approach has the advantage of letting YouTube deal with optimization, CDN (content delivery network) caching, and also having the video play on BlackBerry and Windows Phone 7 which can be problematic (also not likely worth the effort) to implement yourself.
published: 2011-04-25
tag: dev
layout: default.hbs
---

	<p>
Launching a native video player via the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/video.html">HTML5 video element</a> if possible is the slickest way to handle video on mobile websites. An alternative that requires less development and QA time is simply uploading the video to YouTube and then linking to it. This approach has the advantage of letting YouTube deal with optimization, CDN (<a href="http://en.wikipedia.org/wiki/Content_delivery_network">content delivery network</a>) caching, and also having the video play on BlackBerry and Windows Phone 7 which can be problematic (also not likely worth the effort) to implement yourself.
</p>

<p>
A standard implementation of this technique would be a thumbnail image of your video hosted on your website (possibly with a play arrow in the center of the image to let someone know that it's a video). This image is then wrapped in a link with an href attribute for the URL of your video on YouTube. <strong>You can either link to a youtube.com URL or a m.youtube.com URL which creates a very different experience depending on the mobile OS and the presence of a natively installed YouTube application.</strong>.
</p>
<ul>
<li>When a user clicks a link to youtube.com the native YouTube application on their device usually comes into play. <em>Example: <a href="http://www.youtube.com/watch?v=qQUTKIGN0kg">http://www.youtube.com/watch?v=qQUTKIGN0kg</a></em></li>
<li>When a user clicks a link to m.youtube.com the native YouTube application on their device does not come into play. They are brought to a mobile version of the YouTube website. <em>Example: <a href="http://m.youtube.com/watch?v=qQUTKIGN0kg">http://m.youtube.com/watch?v=qQUTKIGN0kg</a></em></li>
</ul>

<h2>What Does Linking to Mobile YouTube Look Like</h2>
<p>
When a user clicks a link to an m.youtube.com URL they will see a brief message reading <em>"Redirecting to page. Please wait."</em> and then they'll arrive at a mobile version of a YouTube page containing the video. They can click a thumbnail of the video to play it and exit by pressing the back button. They can then press the back button again to get back to the original site where the video was originally linked from. They may need to press the back button multiple times to pause the video, and then potentially two more times to get back to the original URL where they clicked the link from.
</p>

<h2>Recommendation</h2>
<p>
<strong>Anytime you link to YouTube from a mobile website, you should link to youtube.com except for iOS devices which should link to m.youtube.com.</strong> This is dependent on the following two assumptions:
</p>
<ul>
<li>Getting users back to your website after they finishing watching a video is more important than a slightly better video viewing experience.</li>
<li>You can write code to detect iOS (iPhone and iPod touch) devices by <a href="http://en.wikipedia.org/wiki/Browser_sniffing">user agent</a> and switch the links.</li>
</ul>

<h2>Why Wouldn't You Want the Native YouTube Player on iOS</h2>
<p>In iOS when the native YouTube application is launched there is no way for a user to smoothly get back to your website after they finish viewing a video. They have to navigate back to the home screen and then open their browser again. This makes for a somewhat awkward kind of dead end experience. Linking iOS devices to m.youtube.com avoids firing the native YouTube player and allows them to just press back to return to the original website.</p>

<h2>What About the Native YouTube Player on Other Devices</h2>
<p>The native YouTube player on iOS is the only one where a user hits a dead end. The native YouTube player on most other mobile devices (Android and Blackberry) allows a user to press back and return to the web page they were originally on. On Windows Phone 7, neither youtube.com or m.youtube.com links fire the native YouTube player. On Palm youtube.com links will fire the native player and you can back out of it to the web page you were on, but the user experience is slightly different due to how Palm displays multiple running applications. </p>
<div class="hr"> </div>
<h2>Resources</h2>
<ul>
<li><a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/video.html">HTML5 Video Element</a></li>
<li><a href="http://en.wikipedia.org/wiki/Content_delivery_network">Content Delivery Network</a></li>
<li><a href="http://en.wikipedia.org/wiki/Browser_sniffing">Browser Sniffing by User Agent</a></li>
</ul>
