---
title: ORM with Validation in Kohana 3
summary: It took me a while to get this working correctly and I'm betting I'm not the only one. This example will give you everything you need to setup user creation with ORM and model level validation.
published: 2011-10-17
tag: dev
layout: default.hbs
---

	<p>I really like <a href="http://kohanaframework.org/">Kohana 3</a> so far mainly because it feels like someone sliced and diced <a href="http://codeigniter.com/">CodeIgniter</a> into just the pieces I want and added a few major missing components. I have absolutely no complaints about how anything is structured, but the documentation is at a point where it is extremely difficult to get rolling with the framework if you are new to it. One thing that Kohana does very well is <a href="http://kohanaframework.org/3.2/guide/orm">ORM and Model level validation</a>, but the pages on how to do this are <a href="http://kohanaframework.org/3.0/guide/orm/validation">literally blank</a> at this point.</p>

<p><em>This article assumes you have a basic understanding of MVC frameworks and how files are organized under Kohana.</em></p>

<p>I do not have a comprehensive understanding of how Kohana handles this under the hood, and there are likely better ways to write this, but this ended up working fine for me. We'll be setting up a form to create and edit a user. In this particular example we're referring to users as Judges. Our goals are:</p>
<ul>
<li>All validation defined within our model inside of a single array using anonymous functions.</li>
<li>Error messages are not defined in our controller or view</li>
<li>Minimal PHP in our view that is just outputting values and error messages and does not contain any logic.</li>
<li>Keeping our controllers as skinny as possible and keeping record creation logic inside of our model.</li>
<li>Each user has uniquely salted encryption for their password.</li>
<li>A new user cannot be added if a user already exists with the same email address. A user cannot be edited to have the same address as another user either.</li>
</ul>

<p>This would be a form that would be used for an administrator to register a new user, rather than let a user register themselves.</p>
<p><em>You can view all of these files <a href="https://gist.github.com/1313216">here as well</a>.</em> Comments are inline in each file explain what is going on.</p>

<h2>SQL Table Structure</h2>
<a href="../images/kohana_orm_article/sql.png"><img src="../images/kohana_orm_article/sql.png" alt="SQL Structure" class="screenshot" /></a>

<h2>Model</h2>
<p><em>/application/classes/model/judge.php</em></p>
<script src="https://gist.github.com/1313216.js?file=Model"></script>

<h2>Controller</h2>
<p><em>/application/classes/controller/admin/judges.php</em></p>
<script src="https://gist.github.com/1313216.js?file=Controller"></script>

<h2>Messages</h2>
<p><em>/application/messages/judge.php</em></p>
<script src="https://gist.github.com/1313216.js?file=Messages"></script>

<h2>View</h2>
<p><em>/application/views/admin/judges/add.php</em></p>
<script src="https://gist.github.com/1313216.js?file=Form%20View"></script>
