---
title: PHPWorld 2015 Talk
summary: A talk I gave at PHPWorld 2015 on common problems facing agile software teams and how to overcome them.
published: 2015-11-21
tag: dev
layout: default.hbs
---

	<p>A talk I gave at <a href="https://world.phparch.com/">PHPWorld 2015</a> on common problems facing agile software teams and how to overcome them.</p>
<h2>What Goes Wrong with Agile and How to Fix It</h2>
<p>
Agile and Scrum are often pitched together as the definitive silver bullet for eliminating pain from software development, but they include their own sets of problems that commonly drag down development teams. Whether an agile team is executing an internal project or doing work for a client, a very similar set of problems begins to afflict all the members of such teams, regardless of their roles. The common root causes of these problems can be quickly identified, and complementary solutions can be easily implemented to ensure a happy team that continues to deliver high-quality work.
</p>
<h3>Video</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/swmoUw36Q80" frameborder="0" allowfullscreen></iframe>
<h3>Slides</h3>
<p>Available as a <a href="http://www.matt-toigo.com/files/phpworld_2015_presentation.pdf">PDF download here</a>.</p>
<iframe src="https://www.slideshare.net/slideshow/embed_code/key/uVdUn0joxY778f" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:20px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/MattToigo/php-world-dc-2015-what-can-go-wrong-with-agile-development-and-how-to-fix-it" title="PHP World DC 2015 - What Can Go Wrong with Agile Development and How to Fix It" target="_blank">PHP World DC 2015 - What Can Go Wrong with Agile Development and How to Fix It</a> </strong> from <strong><a href="http://www.slideshare.net/MattToigo" target="_blank">Matt Toigo</a></strong> </div>
