---
title: Smart Office Meetup Presentation - HelloLights
summary: Jenny Madorsky and myself presenting on our smart office work at Huge DC and our newest project HelloLights.
published: 2017-04-24
tag: dev
layout: default.hbs
---

	<p><iframe width="560" height="315" src="https://www.youtube.com/embed/K5GRnWZPrfc" frameborder="0" allowfullscreen></iframe></p>

<p>You can find a full writeup on the technology we're discussing in this video at <a href="https://magenta.as/smart-lighting-the-interface-thats-all-around-us-e22920891b46">https://magenta.as/smart-lighting-the-interface-thats-all-around-us-e22920891b46</a>.</p>
