---
title: Tech for Product Managers - Speaking at General Assembly
summary: A talk I gave to my co worker Catherine Colwell's Product Management class at General Assembly. The purpose was to give Product Managers a brief overview of software engineering terminology and give them advice on working with technical teams.
published: 2015-07-24
tag: dev
layout: default.hbs
---

	<p>A talk I gave to my <a href="http://www.hugeinc.com/">Huge</a> co worker <a href="https://www.linkedin.com/in/catherinecolwell">Catherine Colwell's</a> Product Management class at <a href="https://generalassemb.ly/">General Assembly</a>. The purpose was to give Product Managers a brief overview of software engineering terminology and give them advice on working with technical teams.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/MTj_9VrkiMQ" frameborder="0" allowfullscreen></iframe>
