---
title: Thoughts on CMS Design Strategies
summary: A friend interviewed me for a podcast regarding my thoughts on the various strategies that CMS vendors use to design content management systems and how well they work for different types of clients.
published: 2018-06-16
tag: dev
layout: default.hbs
---

	<p>A friend interviewed me for a podcast regarding my thoughts on the various strategies that CMS vendors use to design content management systems and how well they work for different types of clients.</p>

<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/427631550&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
