---
title: 2014 Cycling
summary: I've gone through the arch of being really into running when I was younger, then dabbling with triathlons, and lately I've been getting really into cycling. Here's some photos and rides from this year.
published: 2014-10-05
tag: wheels
image: /photos/7496/15970147551_e2a7471901_z.jpg
layout: default.hbs
---

	<p>I've gone through the arch of being really into running when I was younger, then dabbling with triathlons, and lately I've been getting really into cycling. The isolation and simplicity of being on a desolate country road with just myself and the bike is necessary when life gets too hectic. I also finally upgraded from a 91 Cannonade SR800 to a carbon Jamis Xenith for the road and have a November CX bike too. Here's some photos and rides from this year.</p>
<ul>
<li><a href="http://randoramble.wordpress.com/2014/04/17/monument-to-monument-the-little-big-ride/">Monument to Monument Ride</a> - 97 miles</li>
<li><a href="http://total200.com/">Total 200</a> - 124 miles</li>
<li><a href="http://www.firefighter50.com/">Firefighter 50 Century</a> - 101 miles</a></li>
<li><a href="https://restonbicycleclub.wildapricot.org/page-1805062">Reston Century</a> - 104 miles</a></li>
<li><a href="https://www.bikereg.com/results/cr/4436/dccx-day-2">DCCX Cyclocross</a> - 62/104 in Mens Cat 4/5</li>
<li><a href="https://www.bikereg.com/26057">Howard County Biketoberfest</a> 4/25 in Mens Cat 5</li>
<li><a href="https://www.bikereg.com/26150">Capital Cross Classic</a> Didn't finish due to a flat tire. Likely from running too low pressure to deal with the very muddy conditions.</li>
<li><a href="https://www.bikereg.com/bikeneticx">Bikenetic CX</a> 5/42 in Mens Cat 5</li>
</ul>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/7560/15859537048_51b44f1c11_z.jpg" title="10869547_827798594843_2720598754579440647_o"><img src="/photos/7560/15859537048_51b44f1c11_q.jpg" data-thumb="/photos/7560/15859537048_51b44f1c11_q.jpg"></a><a rel="lightbox[set]" href="/photos/7496/15970147551_e2a7471901_z.jpg" title="Cyclocross"><img src="/photos/7496/15970147551_e2a7471901_q.jpg" data-thumb="/photos/7496/15970147551_e2a7471901_q.jpg"></a><a rel="lightbox[set]" href="/photos/7498/15786108909_20fa8f860c_z.jpg" title="Cyclocross"><img src="/photos/7498/15786108909_20fa8f860c_q.jpg" data-thumb="/photos/7498/15786108909_20fa8f860c_q.jpg"></a><a rel="lightbox[set]" href="/photos/8633/15970202131_9a9e48a466_z.jpg" title="20141101_085435"><img src="/photos/8633/15970202131_9a9e48a466_q.jpg" data-thumb="/photos/8633/15970202131_9a9e48a466_q.jpg"></a><a rel="lightbox[set]" href="/photos/7505/15575912647_3722e3ddb8_z.jpg" title="56657161-biketoberfest-0285"><img src="/photos/7505/15575912647_3722e3ddb8_q.jpg" data-thumb="/photos/7505/15575912647_3722e3ddb8_q.jpg"></a><a rel="lightbox[set]" href="/photos/5602/15576302140_75a7506e82_z.jpg" title="Yup2"><img src="/photos/5602/15576302140_75a7506e82_q.jpg" data-thumb="/photos/5602/15576302140_75a7506e82_q.jpg"></a><a rel="lightbox[set]" href="/photos/5616/15576293750_31914ae40e_z.jpg" title="Yup"><img src="/photos/5616/15576293750_31914ae40e_q.jpg" data-thumb="/photos/5616/15576293750_31914ae40e_q.jpg"></a><a rel="lightbox[set]" href="/photos/7536/15141688573_cf9470e0e9_z.jpg" title="IMG_20141018_163916.jpg"><img src="/photos/7536/15141688573_cf9470e0e9_q.jpg" data-thumb="/photos/7536/15141688573_cf9470e0e9_q.jpg"></a><a rel="lightbox[set]" href="/photos/5555/15139294208_f7cd226362_z.jpg" title="1589746_476"><img src="/photos/5555/15139294208_f7cd226362_q.jpg" data-thumb="/photos/5555/15139294208_f7cd226362_q.jpg"></a><a rel="lightbox[set]" href="/photos/3913/15315444562_e69b74cf51_z.jpg" title="IMG_20140727_154115"><img src="/photos/3913/15315444562_e69b74cf51_q.jpg" data-thumb="/photos/3913/15315444562_e69b74cf51_q.jpg"></a><a rel="lightbox[set]" href="/photos/3836/15312626891_c5e7c07d56_z.jpg" title="IMG_20140727_121946"><img src="/photos/3836/15312626891_c5e7c07d56_q.jpg" data-thumb="/photos/3836/15312626891_c5e7c07d56_q.jpg"></a><a rel="lightbox[set]" href="/photos/3903/15129083380_07b5e471b6_z.jpg" title="IMG_20140727_093924"><img src="/photos/3903/15129083380_07b5e471b6_q.jpg" data-thumb="/photos/3903/15129083380_07b5e471b6_q.jpg"></a><a rel="lightbox[set]" href="/photos/3844/15129247097_62de9b59c4_z.jpg" title="IMG_20140615_163218"><img src="/photos/3844/15129247097_62de9b59c4_q.jpg" data-thumb="/photos/3844/15129247097_62de9b59c4_q.jpg"></a><a rel="lightbox[set]" href="/photos/5592/15129048769_e3c5d978ab_z.jpg" title="IMG_20140615_131154"><img src="/photos/5592/15129048769_e3c5d978ab_q.jpg" data-thumb="/photos/5592/15129048769_e3c5d978ab_q.jpg"></a><a rel="lightbox[set]" href="/photos/3887/15129085957_c3e04b3bb5_z.jpg" title="IMG_3648"><img src="/photos/3887/15129085957_c3e04b3bb5_q.jpg" data-thumb="/photos/3887/15129085957_c3e04b3bb5_q.jpg"></a><a rel="lightbox[set]" href="/photos/3875/15129089377_a5fce28ddc_z.jpg" title="IMG_3644"><img src="/photos/3875/15129089377_a5fce28ddc_q.jpg" data-thumb="/photos/3875/15129089377_a5fce28ddc_q.jpg"></a><a rel="lightbox[set]" href="/photos/3860/15128924810_3e8acfff22_z.jpg" title="IMG_3645"><img src="/photos/3860/15128924810_3e8acfff22_q.jpg" data-thumb="/photos/3860/15128924810_3e8acfff22_q.jpg"></a><a rel="lightbox[set]" href="/photos/3845/15292595736_75fd4b6002_z.jpg" title="IMG_3642"><img src="/photos/3845/15292595736_75fd4b6002_q.jpg" data-thumb="/photos/3845/15292595736_75fd4b6002_q.jpg"></a><a rel="lightbox[set]" href="/photos/5579/15128928550_b472634ca4_z.jpg" title="IMG_3641"><img src="/photos/5579/15128928550_b472634ca4_q.jpg" data-thumb="/photos/5579/15128928550_b472634ca4_q.jpg"></a><a rel="lightbox[set]" href="/photos/5553/15129248627_744c0c1a42_z.jpg" title="IMG_20140614_092232"><img src="/photos/5553/15129248627_744c0c1a42_q.jpg" data-thumb="/photos/5553/15129248627_744c0c1a42_q.jpg"></a>		</section>
