---
title: 3 Days of Bicycle Camping on the C&O Canal
summary: Riding from Cumberland, MD back to DC over 3 days with 4 friends.
published: 2016-06-19
tag: wheels
image: /photos/7423/27738882016_02064f02a7_z.jpg
layout: default.hbs
---

	Riding from Cumberland, MD back to DC over 3 days with 4 friends.


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/7423/27738882016_02064f02a7_z.jpg" title="IMG_20160616_085841"><img src="/photos/7423/27738882016_02064f02a7_q.jpg" data-thumb="/photos/7423/27738882016_02064f02a7_q.jpg"></a><a rel="lightbox[set]" href="/photos/7620/27161842393_fa7959a61e_z.jpg" title="IMG_20160616_092706"><img src="/photos/7620/27161842393_fa7959a61e_q.jpg" data-thumb="/photos/7620/27161842393_fa7959a61e_q.jpg"></a><a rel="lightbox[set]" href="/photos/7313/27698502951_7f40fdccd7_z.jpg" title="IMG_20160616_182949"><img src="/photos/7313/27698502951_7f40fdccd7_q.jpg" data-thumb="/photos/7313/27698502951_7f40fdccd7_q.jpg"></a><a rel="lightbox[set]" href="/photos/7385/27494678090_de0eb60240_z.jpg" title="IMG_20160616_200649"><img src="/photos/7385/27494678090_de0eb60240_q.jpg" data-thumb="/photos/7385/27494678090_de0eb60240_q.jpg"></a><a rel="lightbox[set]" href="/photos/7355/27698500421_387e0c555b_z.jpg" title="IMG_20160616_200654"><img src="/photos/7355/27698500421_387e0c555b_q.jpg" data-thumb="/photos/7355/27698500421_387e0c555b_q.jpg"></a><a rel="lightbox[set]" href="/photos/7757/27161836453_11d9465b1d_z.jpg" title="IMG_20160616_205626"><img src="/photos/7757/27161836453_11d9465b1d_q.jpg" data-thumb="/photos/7757/27161836453_11d9465b1d_q.jpg"></a><a rel="lightbox[set]" href="/photos/7278/27161836343_13bbb3b775_z.jpg" title="IMG_20160617_171352"><img src="/photos/7278/27161836343_13bbb3b775_q.jpg" data-thumb="/photos/7278/27161836343_13bbb3b775_q.jpg"></a><a rel="lightbox[set]" href="/photos/7633/27494666360_3ce75dbb9e_z.jpg" title="IMG_20160617_203726"><img src="/photos/7633/27494666360_3ce75dbb9e_q.jpg" data-thumb="/photos/7633/27494666360_3ce75dbb9e_q.jpg"></a><a rel="lightbox[set]" href="/photos/7312/27161830703_d02d75bfc8_z.jpg" title="IMG_20160618_160730"><img src="/photos/7312/27161830703_d02d75bfc8_q.jpg" data-thumb="/photos/7312/27161830703_d02d75bfc8_q.jpg"></a><a rel="lightbox[set]" href="/photos/7328/27772732365_f34e5778b3_z.jpg" title="IMG_20160618_160751"><img src="/photos/7328/27772732365_f34e5778b3_q.jpg" data-thumb="/photos/7328/27772732365_f34e5778b3_q.jpg"></a>
	</section>
