---
title: 74 Schwinn Twinn Deluxe Rebuild
summary: Rebuilding an old Schwinn Tandem bicycle for a summer of fun.
published: 2015-04-25
tag: wheels
image: /photos/7672/16639348633_1af27a2040_z.jpg
layout: default.hbs
---

	<img src="/photos/7672/16639348633_1af27a2040_z.jpg" class="screenshot">

<p>I was really sick over valentines day and Katie snagged this bike for $50 on craigslist as a present/pick me up and damn did it work. The couple she bought it from were the original owners and they were pretty excited that someone was going to clean it up. I ended up going with a pretty standard restoration replacing some parts that made sense or couldn't get cleaned up enough. It ended up being about two months of parts cleaning and then I was able to get the whole thing back together in a week in time for an engagement photo shoot we had scheduled.</p>

<p>The bike is a blast to ride despite the weight (64bs) and a lot of frame flex. Having the 5 speed model of this bike is definitely worth it given how much of a tank it is as well.</p>

<h1>The Work</h1>
<ul>
<li>Broke down everything and scrubbed it. Washed and polished the chrome just using hot water and aluminum foil</li>
<li>Frame was cleaned and powder coated by Cole over at <a href="http://regalmetalworks.com/">Regal Metal Works</a>. The color is pretty close to the origin Kool Lemon Yellow</li>
<li>Cleaned and repacked the crank, headset, and wheel bearings. You will need a park tool FR4 to take the back freewheel off.</li>
<li>Replaced the back axle since it was bent. I had to hunt on ebay for this. Search for a Schwinn Krate Axle</li>
<li>Cleaned out and roughed up the pads on the rear drum brake</li>
<li>Smoothed out some rough spots inside the rims and fresh rim tape</li>
<li>New tubes and Cheng Shin tires. These are a very odd size specific to old Schwinns. Look for ISO diameter 597mm tires and there's not a lot of them.</li>
<li>New seat post clamps. These are also an odd size without a lot of options. Look for 1"</li>
<li>New hardware bits all over the place to make it look a little nicer</li>
<li>New pedals since the old ones can't really be broken down and put back together</li>
<li>New bell since this thing is too much of a beast to be swerving around folks.</li>
<li>New jagwire brake and derailleur cabling</li>
<li>Someone on ebay had reproduction head tube Schwinn badges.
<li>All new chains. The front takes 2 combined chains KMC Z410 (1-Speed, 1/2 x 1/8-Inch), the back takes a single KMC Z33 Bicycle Chain (5-Speed, 1/2 x 3/32-Inch)
</ul>

<p><em>Some of the photos below are by Lauren at <a href="http://www.naturalblissphoto.com/">Natural Bliss Photography</a>. If you need photos in the DC / Northern Virginia area, go hire her because she's awesome!</em></p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/8718/17271033505_aace6c6277_z.jpg" title="IMG_6097"><img src="/photos/8718/17271033505_aace6c6277_q.jpg" data-thumb="/photos/8718/17271033505_aace6c6277_q.jpg"></a><a rel="lightbox[set]" href="/photos/7415/16507947286_8197018a32_z.jpg" title="IMG_20150209_201952"><img src="/photos/7415/16507947286_8197018a32_q.jpg" data-thumb="/photos/7415/16507947286_8197018a32_q.jpg"></a><a rel="lightbox[set]" href="/photos/8651/15913767193_1a13336554_z.jpg" title="IMG_20150210_172308"><img src="/photos/8651/15913767193_1a13336554_q.jpg" data-thumb="/photos/8651/15913767193_1a13336554_q.jpg"></a><a rel="lightbox[set]" href="/photos/7350/16533975985_4736d686cf_z.jpg" title="IMG_20150210_172500"><img src="/photos/7350/16533975985_4736d686cf_q.jpg" data-thumb="/photos/7350/16533975985_4736d686cf_q.jpg"></a><a rel="lightbox[set]" href="/photos/7341/16348041787_8217e45d4e_z.jpg" title="IMG_20150214_110513"><img src="/photos/7341/16348041787_8217e45d4e_q.jpg" data-thumb="/photos/7341/16348041787_8217e45d4e_q.jpg"></a><a rel="lightbox[set]" href="/photos/7389/15913765893_9178fce564_z.jpg" title="IMG_20150214_141749"><img src="/photos/7389/15913765893_9178fce564_q.jpg" data-thumb="/photos/7389/15913765893_9178fce564_q.jpg"></a><a rel="lightbox[set]" href="/photos/7312/16346484880_340b31b1c3_z.jpg" title="IMG_20150214_141807"><img src="/photos/7312/16346484880_340b31b1c3_q.jpg" data-thumb="/photos/7312/16346484880_340b31b1c3_q.jpg"></a><a rel="lightbox[set]" href="/photos/8575/16346483810_8488c649b0_z.jpg" title="IMG_20150214_152418"><img src="/photos/8575/16346483810_8488c649b0_q.jpg" data-thumb="/photos/8575/16346483810_8488c649b0_q.jpg"></a><a rel="lightbox[set]" href="/photos/7440/16532231901_1f3718388e_z.jpg" title="IMG_20150214_154450"><img src="/photos/7440/16532231901_1f3718388e_q.jpg" data-thumb="/photos/7440/16532231901_1f3718388e_q.jpg"></a><a rel="lightbox[set]" href="/photos/7353/16347671729_c1770de179_z.jpg" title="IMG_20150214_174656"><img src="/photos/7353/16347671729_c1770de179_q.jpg" data-thumb="/photos/7353/16347671729_c1770de179_q.jpg"></a><a rel="lightbox[set]" href="/photos/8683/16617680081_5645c948ca_z.jpg" title="IMG_20150215_110719"><img src="/photos/8683/16617680081_5645c948ca_q.jpg" data-thumb="/photos/8683/16617680081_5645c948ca_q.jpg"></a><a rel="lightbox[set]" href="/photos/8683/16572949909_f382ffaab3_z.jpg" title="IMG_20150308_163050"><img src="/photos/8683/16572949909_f382ffaab3_q.jpg" data-thumb="/photos/8683/16572949909_f382ffaab3_q.jpg"></a><a rel="lightbox[set]" href="/photos/8690/16839895125_e7b8e3b12a_z.jpg" title="IMG_20150316_194111"><img src="/photos/8690/16839895125_e7b8e3b12a_q.jpg" data-thumb="/photos/8690/16839895125_e7b8e3b12a_q.jpg"></a><a rel="lightbox[set]" href="/photos/8696/16653760479_b6a4dae1ac_z.jpg" title="IMG_20150316_200501"><img src="/photos/8696/16653760479_b6a4dae1ac_q.jpg" data-thumb="/photos/8696/16653760479_b6a4dae1ac_q.jpg"></a><a rel="lightbox[set]" href="/photos/8719/16632580907_46b34ed7f0_z.jpg" title="IMG_20150316_214517"><img src="/photos/8719/16632580907_46b34ed7f0_q.jpg" data-thumb="/photos/8719/16632580907_46b34ed7f0_q.jpg"></a><a rel="lightbox[set]" href="/photos/8720/16874038406_93d38a3ba7_z.jpg" title="IMG_20150322_134519"><img src="/photos/8720/16874038406_93d38a3ba7_q.jpg" data-thumb="/photos/8720/16874038406_93d38a3ba7_q.jpg"></a><a rel="lightbox[set]" href="/photos/8726/17029882891_d8d0954614_z.jpg" title="IMG_20150329_141201"><img src="/photos/8726/17029882891_d8d0954614_q.jpg" data-thumb="/photos/8726/17029882891_d8d0954614_q.jpg"></a><a rel="lightbox[set]" href="/photos/7609/16843190980_c6bc6bc0ac_z.jpg" title="IMG_20150329_142637"><img src="/photos/7609/16843190980_c6bc6bc0ac_q.jpg" data-thumb="/photos/7609/16843190980_c6bc6bc0ac_q.jpg"></a><a rel="lightbox[set]" href="/photos/7635/17030721105_0836fb545c_z.jpg" title="IMG_20150329_151248"><img src="/photos/7635/17030721105_0836fb545c_q.jpg" data-thumb="/photos/7635/17030721105_0836fb545c_q.jpg"></a><a rel="lightbox[set]" href="/photos/7643/17029257022_b29d0bd8ef_z.jpg" title="IMG_20150329_151354"><img src="/photos/7643/17029257022_b29d0bd8ef_q.jpg" data-thumb="/photos/7643/17029257022_b29d0bd8ef_q.jpg"></a><a rel="lightbox[set]" href="/photos/7594/16843169280_c4a4d67fa7_z.jpg" title="IMG_20150329_151720"><img src="/photos/7594/16843169280_c4a4d67fa7_q.jpg" data-thumb="/photos/7594/16843169280_c4a4d67fa7_q.jpg"></a><a rel="lightbox[set]" href="/photos/7643/16823285327_69d91610b5_z.jpg" title="IMG_20150329_153554"><img src="/photos/7643/16823285327_69d91610b5_q.jpg" data-thumb="/photos/7643/16823285327_69d91610b5_q.jpg"></a><a rel="lightbox[set]" href="/photos/8703/16843875420_661b9f4290_z.jpg" title="IMG_20150329_160419"><img src="/photos/8703/16843875420_661b9f4290_q.jpg" data-thumb="/photos/8703/16843875420_661b9f4290_q.jpg"></a><a rel="lightbox[set]" href="/photos/7604/16823275647_e9a99dca22_z.jpg" title="IMG_20150329_165740"><img src="/photos/7604/16823275647_e9a99dca22_q.jpg" data-thumb="/photos/7604/16823275647_e9a99dca22_q.jpg"></a><a rel="lightbox[set]" href="/photos/7600/17030689935_2c991dbcc7_z.jpg" title="IMG_20150404_082838"><img src="/photos/7600/17030689935_2c991dbcc7_q.jpg" data-thumb="/photos/7600/17030689935_2c991dbcc7_q.jpg"></a><a rel="lightbox[set]" href="/photos/8699/17004705186_b978cf5007_z.jpg" title="IMG_20150404_101750"><img src="/photos/8699/17004705186_b978cf5007_q.jpg" data-thumb="/photos/8699/17004705186_b978cf5007_q.jpg"></a><a rel="lightbox[set]" href="/photos/7661/16599966084_e8a87e40eb_z.jpg" title="IMG_20150418_174141"><img src="/photos/7661/16599966084_e8a87e40eb_q.jpg" data-thumb="/photos/7661/16599966084_e8a87e40eb_q.jpg"></a><a rel="lightbox[set]" href="/photos/8819/17222412445_fcd066d5c3_z.jpg" title="IMG_20150418_213143"><img src="/photos/8819/17222412445_fcd066d5c3_q.jpg" data-thumb="/photos/8819/17222412445_fcd066d5c3_q.jpg"></a><a rel="lightbox[set]" href="/photos/7647/17036245109_7b37a592a4_z.jpg" title="IMG_20150420_192650"><img src="/photos/7647/17036245109_7b37a592a4_q.jpg" data-thumb="/photos/7647/17036245109_7b37a592a4_q.jpg"></a><a rel="lightbox[set]" href="/photos/7657/17222411465_8155c56e59_z.jpg" title="IMG_20150420_204721"><img src="/photos/7657/17222411465_8155c56e59_q.jpg" data-thumb="/photos/7657/17222411465_8155c56e59_q.jpg"></a><a rel="lightbox[set]" href="/photos/8797/16602220343_ef8057b94e_z.jpg" title="IMG_20150420_223420"><img src="/photos/8797/16602220343_ef8057b94e_q.jpg" data-thumb="/photos/8797/16602220343_ef8057b94e_q.jpg"></a><a rel="lightbox[set]" href="/photos/7671/16618430264_8b3e7f3fe3_z.jpg" title="IMG_20150422_220745"><img src="/photos/7671/16618430264_8b3e7f3fe3_q.jpg" data-thumb="/photos/7671/16618430264_8b3e7f3fe3_q.jpg"></a><a rel="lightbox[set]" href="/photos/7590/17070534870_0ebdefdd21_z.jpg" title="IMG_20150423_224031"><img src="/photos/7590/17070534870_0ebdefdd21_q.jpg" data-thumb="/photos/7590/17070534870_0ebdefdd21_q.jpg"></a><a rel="lightbox[set]" href="/photos/7584/17257543731_5483551db7_z.jpg" title="IMG_20150423_225152"><img src="/photos/7584/17257543731_5483551db7_q.jpg" data-thumb="/photos/7584/17257543731_5483551db7_q.jpg"></a><a rel="lightbox[set]" href="/photos/7637/16637106474_b7ff21bf80_z.jpg" title="IMG_20150424_190639"><img src="/photos/7637/16637106474_b7ff21bf80_q.jpg" data-thumb="/photos/7637/16637106474_b7ff21bf80_q.jpg"></a><a rel="lightbox[set]" href="/photos/7672/16639348633_1af27a2040_z.jpg" title="IMG_20150424_190655"><img src="/photos/7672/16639348633_1af27a2040_q.jpg" data-thumb="/photos/7672/16639348633_1af27a2040_q.jpg"></a><a rel="lightbox[set]" href="/photos/8704/17259567445_809fc92230_z.jpg" title="IMG_20150424_191302"><img src="/photos/8704/17259567445_809fc92230_q.jpg" data-thumb="/photos/8704/17259567445_809fc92230_q.jpg"></a><a rel="lightbox[set]" href="/photos/271/18204557750_5ba2dca0b4_z.jpg" title="KM-12"><img src="/photos/271/18204557750_5ba2dca0b4_q.jpg" data-thumb="/photos/271/18204557750_5ba2dca0b4_q.jpg"></a><a rel="lightbox[set]" href="/photos/8890/18204555920_2b4d64d454_z.jpg" title="KM-14"><img src="/photos/8890/18204555920_2b4d64d454_q.jpg" data-thumb="/photos/8890/18204555920_2b4d64d454_q.jpg"></a><a rel="lightbox[set]" href="/photos/8797/18392252935_83d80ea6fb_z.jpg" title="KM-18"><img src="/photos/8797/18392252935_83d80ea6fb_q.jpg" data-thumb="/photos/8797/18392252935_83d80ea6fb_q.jpg"></a><a rel="lightbox[set]" href="/photos/8824/18392252745_5440c0f5a7_z.jpg" title="KM-20"><img src="/photos/8824/18392252745_5440c0f5a7_q.jpg" data-thumb="/photos/8824/18392252745_5440c0f5a7_q.jpg"></a><a rel="lightbox[set]" href="/photos/8880/18204555140_6a306123a2_z.jpg" title="KM-23"><img src="/photos/8880/18204555140_6a306123a2_q.jpg" data-thumb="/photos/8880/18204555140_6a306123a2_q.jpg"></a><a rel="lightbox[set]" href="/photos/7766/18393872161_03100706dd_z.jpg" title="KM-25"><img src="/photos/7766/18393872161_03100706dd_q.jpg" data-thumb="/photos/7766/18393872161_03100706dd_q.jpg"></a><a rel="lightbox[set]" href="/photos/8895/18388151092_0fe545ec74_z.jpg" title="KM-26"><img src="/photos/8895/18388151092_0fe545ec74_q.jpg" data-thumb="/photos/8895/18388151092_0fe545ec74_q.jpg"></a><a rel="lightbox[set]" href="/photos/7769/17769608754_9e60cf296c_z.jpg" title="KM-28"><img src="/photos/7769/17769608754_9e60cf296c_q.jpg" data-thumb="/photos/7769/17769608754_9e60cf296c_q.jpg"></a><a rel="lightbox[set]" href="/photos/7748/18206087469_e9c893aa73_z.jpg" title="KM-10"><img src="/photos/7748/18206087469_e9c893aa73_q.jpg" data-thumb="/photos/7748/18206087469_e9c893aa73_q.jpg"></a>		</section>
