---
title: 74 Vespa Super
summary: I've owned a 74 Vespa Super for about a year now and racked up over 2,000 miles on it. Luckily I've yet to run into any issues with it that I haven't been able to fix. It is extremely satisfying learning how to work on old scooters like this and I would highly encourage anyone who owns one to spend the time learning how to fix it (you pretty much have to though). Below are resources and notes that have helped me through any repairs I've encountered.
published: 2011-04-07
tag: wheels
image: /photos/5223/5676672546_1a7bcf8953.jpg
layout: default.hbs
---

	<img src="/photos/5223/5676672546_1a7bcf8953.jpg" alt="Vespa" class="screenshot" style="float: right;margin: auto auto auto 20px" />

<p><strong>I recently sold the 74 Super and am now rocking a 79 P200 Vespa</strong></p>

<p>I've owned a 74 Vespa Super for about a year now and racked up over 2,000 miles on it. Luckily I've yet to run into any issues with it that I haven't been able to fix. It is extremely satisfying learning how to work on old scooters like this and I would highly encourage anyone who owns one to spend the time learning how to fix it (you pretty much have to though). Below are resources and notes that have helped me through any repairs I've encountered. I am an no way an expert mechanic so please vet any information you see here. If you have any notes/links that you want to see added to this page <a href="../contact.html">let me know</a>.
</p>

<h3>2 Stroke Oil</h3>
<p>Use <a href="http://www.amazon.com/MOTUL-OIL-2TINJ-PREMIX-837315/dp/B0022ZFPAQ">Motul 710</a> (Blue/Green in color) to fill the 2 stroke oil tank since the 74 Vespa Super uses an oil injector rather than premix. Do not use Motul 800 (Orange/Brown in color) This is for bikes where you are mixing 2 stroke oil into the gas tank.
</p>
<h3>Engine Oil</h3>
<p>
Currently I'm using Castrol GTX 10W30 which has been running great in both warm and cold weather (30&deg; F).
</p>
<h3>Cylinder Head Installation/Removal</h3>
<p>
If you are ever removing or installing the cylinder head it is very important to remove/torque the nuts in the proper order or you can actually damage the cylinder head. There is a <a href="http://www.vespamaintenance.com/engine/decoke/index.html">great diagram here</a> and instructions on how to do this. If you are installing the cylinder head use a torque wrench to get everything equally torqued to the proper spec. I managed to strip one of the nuts the first time I did this so if the 4 nuts holding the cylinder head look old you should replace them. These were metric M7 size nuts which can be a little difficult to find.</p>
</p>

<h3>Resources</h3>
<ul>
<li><a href="http://www.scooterlounge.com/Vespa/Super/Super.shtml">An overview of the Vespa Super</a></li>
<li><a href="http://scooterhelp.com/electrics/pages/VBC.150super.html">Wiring Diagrams</a></li>
<li><a href="http://www.scooterhelp.com/serial/VBC1T.VNC1T.manual.html">Original Owners Manual</a> A good read just to know how everything works</li>
<li><a href="http://www.scooterhelp.com/serial/VBC.VLB.VNC.parts.book.html">Parts Diagram</a> The single most helpful resource when fixing anything</li>
<li><a href="http://www.amazon.com/Vespa-Scooters-Owners-Workshop-Manual/dp/0856961264">Haynes Manual</a> Very general and does not include many common maintenance tasks</li>
<li><a href="http://www.amazon.com/Restore-Maintain-Motorscooter-Motorbooks-Workshop/dp/0760306230/ref=sr_1_2?s=books&amp;ie=UTF8&amp;qid=1302195180&amp;sr=1-2">How to Restore and Maintain Your Vespa Motorscooter</a> Includes a great history of Vespa scooters and also info for anyone doing major restorations</li>
<li><a href="http://modernvespa.com/forum/search.php">Searching the Not-So-Modern Forum on Modern Vespa</a> Search first, then post if you can't find what you're looking for.</li>
</ul>

<h3>Parts</h3>
<p>Below are companies whom I've ended up ordering parts from. You'll frequently have to look across all of these to find what you're after.</p>
<ul>
<li><a href="http://www.scooterworks.com/">Scooter Works</a></li>
<li><a href="http://www.scootermercato.com/">Scooter Mercato</a></li>
<li><a href="http://www.scooterwest.com/">Scooter West</a></li>
<li><a href="http://www.scootersoriginali.com/">Scooters Originali</a></li>
</ul>
