---
title: 9/25 - Summit Point Track Day
summary: A great first track day with Motorcycle Xcitement and a Ninja 250.
published: 2011-09-26
tag: wheels
image: /photos/6162/6185088545_21dcc78b8e_z.jpg
layout: default.hbs
---

	<p>A great first track day with <a href="http://www.motorcyclexcitement.com/static/trackdays">Motorcycle Xcitement</a> and a Ninja 250.</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/6166/6183082837_cc20bb97b9_z.jpg" title="DSCF9320"><img src="/photos/6166/6183082837_cc20bb97b9_t.jpg" data-thumb="/photos/6166/6183082837_cc20bb97b9_t.jpg"></a><a rel="lightbox[set]" href="/photos/6178/6183603936_77e47d787a_z.jpg" title="DSCF9322"><img src="/photos/6178/6183603936_77e47d787a_t.jpg" data-thumb="/photos/6178/6183603936_77e47d787a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6165/6183604042_6a40af490c_z.jpg" title="DSCF9323"><img src="/photos/6165/6183604042_6a40af490c_t.jpg" data-thumb="/photos/6165/6183604042_6a40af490c_t.jpg"></a><a rel="lightbox[set]" href="/photos/6179/6183604182_c13a6d3776_z.jpg" title="DSCF9325"><img src="/photos/6179/6183604182_c13a6d3776_t.jpg" data-thumb="/photos/6179/6183604182_c13a6d3776_t.jpg"></a><a rel="lightbox[set]" href="/photos/6158/6183605282_6f9e005eb9_o.jpg" title="DSCF9326"><img src="/photos/6158/6183605282_d0cf57551b_t.jpg" data-thumb="/photos/6158/6183605282_d0cf57551b_t.jpg"></a><a rel="lightbox[set]" href="/photos/6159/6183085655_0ce471391c_o.jpg" title="DSCF9327"><img src="/photos/6159/6183085655_040c447dd2_t.jpg" data-thumb="/photos/6159/6183085655_040c447dd2_t.jpg"></a><a rel="lightbox[set]" href="/photos/6173/6183607284_85a0bb92c1_o.jpg" title="DSCF9328"><img src="/photos/6173/6183607284_02fa7834f0_t.jpg" data-thumb="/photos/6173/6183607284_02fa7834f0_t.jpg"></a><a rel="lightbox[set]" href="/photos/6153/6183086719_28f535593a_z.jpg" title="DSCF9329"><img src="/photos/6153/6183086719_28f535593a_t.jpg" data-thumb="/photos/6153/6183086719_28f535593a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6151/6183086837_d7c9845e0b_z.jpg" title="DSCF9330"><img src="/photos/6151/6183086837_d7c9845e0b_t.jpg" data-thumb="/photos/6151/6183086837_d7c9845e0b_t.jpg"></a><a rel="lightbox[set]" href="/photos/6162/6185088545_21dcc78b8e_z.jpg" title="RLX_2823"><img src="/photos/6162/6185088545_21dcc78b8e_t.jpg" data-thumb="/photos/6162/6185088545_21dcc78b8e_t.jpg"></a>		</section>
