---
title: Avid Shorty Ultimate Brake O Ring Replacement
summary: If you're running Avid Shorty Ultimate cantilever brakes on your bike and need to replace the small rubber pieces on them, here's where to get them.
published: 2017-01-07
tag: wheels
layout: default.hbs
---

	<p><em>I had seen a few other people posting angrily about this on various bike forums so hopefully this post helps someone.</em></p>

<p><a href="https://www.sram.com/avid/products/shorty-ultimate">Avid Shorty Ultimate brakes</a> are about as good as you're going to get on a CX bike without upgrading to discs, but they have one design flaw. The barrels that attach the cables to the brakes are held in place by two small rubber rings that frequently go missing. This isn't an issue when your brake cables are attached, but when you disconnect a brake cable (for when you're removing a wheel), the barrel will fall out completely and and then you're left with a set of very expensive, but very nonfunctional brakes. I had a close call recently and got lucky and found one of these barrels in my driveway after returning from a race.</p>

<div><img class="screenshot" src="../files/cms/avid_shorty.jpg"></div>

<p>Sure enough, one of these rubber rings was missing on my front brakes which let the barrel fall out. I tried replacing it with a standard rubber o ring, but it was too fat and kept popping off. What I needed was a tiny rubber band, but hadn't ever seen one that small. After a little bit of searching, the trick was orthodontic rubber bands that are used with braces. You can get 100 of them for less than $6 and the specific size was 1/4" Light Force 2.5 oz. You can find these on Amazon at <a href="https://www.amazon.com/gp/product/B00OSR1II4/ref=oh_aui_detailpage_o01_s01?ie=UTF8&amp;th=1">https://www.amazon.com/gp/product/B00OSR1II4/ref=oh_aui_detailpage_o01_s01?ie=UTF8&th=1</a></p>

<p>If you're running these brakes I would go ahead and order yourself a set now and then double check that all 8 of these are still on your bike before you show up to a race and find out the hard way.</p>

<div><img style="margin-bottom: 20px" src="../files/cms/avid_shorty_rubber_bands.jpg" class="screenshot"></div>
