---
title: Biking from Pittsburgh to DC
summary: The story of that time when I rode my bicycle 335 miles through the woods from Pittsburgh to DC.
published: 2013-08-09
tag: wheels
image: /photos/7446/9469812458_b363f29262_z.jpg
layout: default.hbs
---

	<h1>Intro</h1>
<p>
So a few months ago I got it in my mind that I wanted to take a vacation. I wanted something where I could just checkout for a week, but didn't want to spend much money. I'd been getting more into bicycling (more than I already was which was plenty) and I'm not sure who suggested it, but someone mentioned that I should just go ride my bike for a week. At first I thought about riding on the roads for a week which didn't seem too appealing since I often participate in <a href="http://www.youtube.com/watch?v=0ZLYEbkykCI" target="_blank">Death Race 2000</a> or its alternative nickname, commuting during rush hour in DC. Eventually I came across the <a href="http://www.atatrail.org/tmi/maps.cfm" target="_blank">Great Allegheny Passage</a> which was a very recently completed bicycle trail from Pittsburgh, PA to Cumberland, MD and then hooks up with the <a href="http://www.nps.gov/choh/index.htm" target="_blank">C&O Canal Trail</a> which goes all the way back to DC. These two trails make up 335 miles of dirt and pavement trails winding along rivers and through tiny towns.
</p><p>
And just like that I settled on it. I was gonna bike this damn thing... with absolutely no bicycle touring experience at all. Looking back it would have made more sense to maybe just do the last half of it, but screw it. Life is short and better spent trying things that you're not sure you can actually accomplish rather than setting the bar nice and low where you can easily just step over it. There's plenty of nice bed and breakfasts to stay at along the way, but of course I'm cheap and opted to camp which meant more to haul on the bike as well.
</p><p>
I've always liked the outdoors and this seemed like the perfect fit for a cheap week long vacation. Get plenty of exercise, camp, see some new towns, a break from technology drenched perpetual happy hour life in DC, and hopefully rack up a few good stories along the way.
</p><p>
So to make the commitment real I let it be known what my plans were. This meant announcing such on facebook so that I would feel like shit if people asked me about this in the future and I had to say that I never really followed through with it. I planned to go alone if need be which terrified my girlfriend, but I also asked if anyone would be interested in joining me. I got a few responses from folks who were interested and fired off an email to get the planning started. The first line of the email read:
</p><p>
<em>"Disclaimer. I like to ride my bike, but I've never done anything like this! So anyone else doing research and planning is highly encouraged."</em>
</p><p>
Let the planning, worrying if we're prepared, and the second guessing ourselves begin. 45 emails later we had myself and one other person still committed. We'd worked out the dates, got all the gear on our bikes squared away, discussed our practice rides, figured out the logistics of getting there, and were hopefully bringing everything we needed while still worrying that we were going to be weighing our bikes down with too much.
</p>

<img class="screenshot" src="/photos/7331/9469815834_30c584f124_z.jpg">
<div class="caption">Dining room is getting taken over. For what? ADVENTURE!!! That's what!</div>

<p>
Somehow everyone who was interested in this trip was someone I knew from working on vintage scooters and motorcycles. Like I always say when people get into "this motorcycle vs that scooter" debates, "riding anything with two wheels is pretty fun so who cares". My friend Mike had been getting more into bicycling and had been putting in all the same long training days I had to get ready for the trip. He'd done some other similarly not quite sensible trips like myself such as the <a href="http://www.matt-toigo.com/cannonball" target="_blank">Scooter Cannonball</a> and was definitely someone easy to get along with who could keep a level head during a potentially exhausting week.
</p><p>
The plan was to pack the bikes into a one way rental car to Pittsburgh and just wing it as far as where we'd stay for the rest of the week. I'd planned on 6 days which meant 40 - 60 miles per day, but neither of us were sure if this would be right. Either way there looked to be plenty of camping and civilization along the way so hopefully we wouldn't starve or have to sleep in a culvert pipe.
</p>
<p><strong>I took notes during the trip and then built all of this story out the week after the trip. No way I was hauling a laptop with me on the bike. As far as why I'm writing up the whole story, it feels really good to read this a few years later when I've forgotten all of the details (I still occasionally read the <a href="http://www.matt-toigo.com/cannonball" target="_blank">scooter cannonball story</a> and smile) and I recently read <a href="http://www.amazon.com/Townie-Memoir-Andre-Dubus-III/dp/B00AZ9FUA6" target="_blank">this</a> which really convinced me of how much writing can give you a much clearer perspective on life.</strong></p>

<h2>Day 1 - Starting Point</h2>
<p><em>Pittsburgh, PA to West Newton, PA - 37 Miles</em></p>
<p>
Woke up nice and early on Saturday without much sleep due to partying on Thursday night. In my late 20s I've recently become aquatinted with the two day hang over. Mike and I pile our gear in the rental car and head north west to Pittsburgh.
</p><p>
We take a few hours to get up there and stop in Hancock, MD for a proper breakfast of biscuits and gravy thus beginning a week of massive caloric intake. Mike has taken a break from meat, cafeine, and alcohol and admits he'll be taking a break from that break during this trip. We make it to Pittsburgh and unload all of the gear on a curb downtown. It likely looked like we were having a sidewalk sale since we had 2 bikes with miscellaneous gear strewn on the ground around them. I got the bikes loaded up and ready while Mike drove the rental care to the airport and caught a bus back.
</p><p>
Mike suggested I chill out in a park nearby rather than the block full of crazies where we were. I briefly attempted to walk both fully loaded bikes down the sidewalk, but didn't anticipate how easily they tip over with all the gear on them. So I made it about 10 feet and then spent the time looking through the trail guidebook and map familiarizing myself with where we'd be heading which I really hadn't done much of yet. I'm one of those "all I really need to know is when do I show up and where" kind of people when it comes to travel so I really hadn't studied all of the details on where we'd be heading. It really didn't matter anyway cause all we had to do was stay on the trail and keep pedaling.
</p><p>
Mike made it back on the bus and we pedaled over to an ATM to grab some cash just incase some of smaller diners might not take credit cards since we'd be going through some pretty rural towns. We bike the first few blocks on our fully loaded tank bikes over to Point Park. Cruised around the massive fountain and took a few photos.
</p>
<img class="screenshot" src="/photos/3785/9467033499_509bdec446_z.jpg">
<img class="screenshot" src="/photos/3791/9528391155_92838baf41_z.jpg">
<p>This was the official start point of the trip. At 3PM and we head off down the river towards the official start of the trail... and get stuck under an overpass and have to lift our barbell like bikes up a flight of stairs. After that we manage to get on the Eliza Furnace Trail and then cross over the <a href="http://en.wikipedia.org/wiki/Hot_Metal_Bridge">Hot Metal Bridge</a> to the official start of the trail at mile marker 145.
</p>
<img class="screenshot" src="/photos/2813/9467026555_eb8b2f8681_z.jpg">
<img class="screenshot" src="/photos/3763/9467026383_e94c58532a_z.jpg">
<p>
We take off down the freshly paved path enjoying the most recently completed part of the trail. We ride out past massive abandoned industrial buildings and machinery and the trail eventually turns from pavement into well packed gravel. We ride past restaurants that have water coolers our right along the trail and also a "Welcome Great Allegheny Trail" sign on the front of a Costco.
</p><p>
We got a pretty late start on the day and after averaging about 12mph we're at mile 37 and see the <a href="http://www.thetrailside.com/" target="_blank">Trailside Cafe</a> in West Newton, PA. We lean the bikes up and sit down for our first meal since starting the ride. I enjoy two tall beers and a massive rack of ribs with fries and slaw on the side. It sets in that we are actually doing this and I feel really pleased that the months of planning are actually coming to fruition.
</p>
<img class="screenshot" src="/photos/7395/9473680319_9212c94706_z.jpg">
<p>
We hop back on the bikes to ride 5 miles to the nearest campsite as it gets dark and I follow Mike's tail light since I don't have a decent headlight. We find the campground and aren't sure what's up with where to stay and no one is around. We see a pavillion and just decide to sleep under that without setting up our tents. I realize a foam thermarest camping pad feels much better on grass than concrete, read for a few, and then repeatedely stretch my legs as far out as they'll to go ease my muscles and fall asleep.
</p>
<a name="day2"></a>
<h2>Day 2 - 279 Miles to DC</h2>
<p><em>West Newton, PA to Confluence, PA - 52 Miles</em></p>
<img class="screenshot" src="/photos/7291/9469807972_74d09f8422_z.jpg">
<p>
Woke up after some mediocre sleep since the camping pad I have definitely doesn't cut it on concrete. According to the map we could go slightly off the trail after about 10 miles to Perryopolis, PA to grab some breakfast.
</p>
<img class="screenshot" src="/photos/7296/9467032999_2fe3b73b53_z.jpg">
<p>
Headed out under a light drizzle which turned into some brief, but heavier rain just as we found a small picnic table with a roof on the trail. Waited it out for a few and then found the two possible roads that would lead us to breakfast, both of which were pretty signifigant uphills. The whole ordeal eventually turned into losing almost 5 miles or so, but we were rewarded with a second day of biscuits and gravy. It's indescribable how good food makes you feel on a trip like this when you've been biking without having eaten a proper breakfast.
</p>
<img class="screenshot" src="/photos/5325/9467032901_ff1b94a2e1_z.jpg">
<p>
Made it into Connellsville, PA around noon. We weren't really hungry for lunch yet so 2 grown men decided to belly up to an ice cream bar at noon. Stopped off at a bike shop to set our tires to the right pressure since we hadn't really bothered yet. We rolled out to Ohiopyle, PA which was our possible destination for the night.
</p>
<img class="screenshot" src="/photos/5338/9469814858_dbf2d28229_z.jpg">
<p>
After about 15 miles of sustained uphill we start to see white water rafters going down the river which was a sign that we were close and eventually cross over the nicest bridge of the trip so far.
</p>
<img class="screenshot" src="/photos/5483/9467032695_49ec03236d_z.jpg">
<p>
We head over another bridge into the downtown Ohiopyle, PA where everyone is relaxing by the river and it's beautiful. We're starving so we head for the first restaurant in site. I should have kept in mind the important lesson that restaurants with the best locations usually have the worst food, prices, and service. I've learned this every single time I've ever gone to any of those 3 terrible bars on the Georgetown waterfront. I'm usually not super picky about restaurants and don't get too pissed about service cause there are much more serious problems in life than a sub par dining experience. However, after biking all day my patience can wear a bit thin. So we're exhausted, wait 20 minutes for someone after flagging them down, order some food. The bathroom is out of order and looks to have been that way for months and they mention the visitor center which has 15 families waiting in line. Cancel our orders and head to a place next door. Quick and friendly, but absolutely gross greasy falling apart food. I feel bad for all of the kids there who are eating it and others are complaining too.
</p><p>
So at this point I realize I don't want to stay in this town and we should head to Confluence, PA for the night. After 8 miles of slight uphill we roll into Confluence, PA which seems great. The local campground is only $8 and has space set aside for bikers and hikers. We setup our tents for the first time and chat with two brothers who are biking the trail as well. I had been worried about the weather in August being too hot, but it's in the low 70s, sunny, and breezy. Couldn't possibly be any better.
</p><p>
I thouroughly enjoy my first shower of the trip while simultaneously washing my one change of clothes. Hang everything out to dry and then walk over into town. After I get off the bike for the day, I will do just about everything humanly possible not to get back onto it unless I absolutely have to. Most everything is closed except a dollar store which has a hunting orange sweatshirt for Mike since he didn't bring anything warm. We end up at the <a href="http://www.luckydogcafe.net/">Lucky Dog Cafe</a> which had pretty solid food and great beer selection.
</p><p>
We head back to camp properly nourished by pizza and beer to meet a family who just got in to camp as well. They are biking the trail with their daughter and have a really cool setup where her bike can be towed next to her dad's and she can sit behind him when she wants to take a break from riding.
</p>
<img class="screenshot" src="/photos/7454/9469814228_a13c9320b6_z.jpg">
<p>
Someone had given them some leftover wood to get a little fire started which felt great since I'm still always surprised at how cold it can be out in the woods during the summer. Drank some whiskey while writing in my journal and passed out quickly.
</p>
<h2>Day 3 - Top of the Hill</h2>
<p><em>Confluence, PA to Cumberland, MD - 52 Miles</em></p>
<p>
Slept like a rock for 9 hours and woke up feeling better than I had yet on the entire trip. We packed up our tents and biked into town looking for a laundromat to dry our clothes the rest of the way. Found a nice little diner and I was feeling so good that I opted for a healthy breakfast of toast, oatmeal, and potatoes rather than the normal routine of packing in as many calories as possible. Headed out around 8:30AM for our last day of sustained uphill.
</p>
<img src="/photos/7428/9467031967_e2f993425e_z.jpg" class="screenshot">
<img src="/photos/2840/9469813736_d56d3e59ff_z.jpg" class="screenshot">
<p>
We made our way 12 miles up to the closed Pinkerton tunnel where there was a massive operation to remove the mountain over an old rail tunnel so that taller trains could use it. Enjoyed a brief bit of flat going around the tunnel and then back to the incline.
</p>
<img src="/photos/5472/9469813564_f8f707f1e1_z.jpg" class="screenshot">
<img src="/photos/7371/9467031283_be4a5dccb8_z.jpg" class="screenshot">
<p>
Went over a few amazing bridges and made our way into Meyersdale, PA where a friendly local flagged down the two slow moving confused looking bicyclists and directed us to the diner. Meat loaf and gravy of course. They had a really nice little museum on the trail as well with all kinds of railroad related artifacts. Biked away with just 7 miles left until the top. We also met several couples who were doing the ride on very high end tandem bikes.
</p>
<img src="/photos/3704/9467031079_d1e4b57178_z.jpg" class="screenshot">
<p>
So the entire first half of the trip is a sustained climb until you hit the <a href="http://en.wikipedia.org/wiki/Eastern_Continental_Divide">Eastern Continental Divide</a> at 2,392 ft near Deal, PA and then it's all downhill for the rest of the trip. We eventually spotted it and then sprinted up the hill to the small tunnel. Made it to the top and rested for a bit and smiled knowing that the most difficult part of the trip was over.
</p>
<img src="/photos/2867/9467030879_6dcffd962a_z.jpg" class="screenshot">
<p>
Rolled out of the tunnel without pedaling for the next few minutes while we coasted downhill.
</p>
<img src="/photos/7418/9467030597_9c8a4f3929_z.jpg" class="screenshot">
<p>
We were cruising at about 17 mph compared to our normal 12 on flat ground or 9 on uphills. Spotted the Big Savage Tunnel and rode into the 20 degree temperature drop that comes with being in the dark and underground.
</p>
<img src="/photos/7374/9469806536_0fb259651e_z.jpg" class="screenshot">
<img src="/photos/3797/9469806760_23d1a2c8e2_z.jpg" class="screenshot">
<p>
Emerged to one of the nicest views of the entire trip. Sat on a bench for a few and spotted the cliffs above Cumberland, MD where we'd be staying for the night. Took it all in before heading off for some of the fastest riding of the trip.
</p>
<img src="/photos/7446/9469812458_b363f29262_z.jpg" class="screenshot">
<p>
We cruised downhill on tightly packed gravel at about 20mph crossing over the Mason Dixon Line and into Maryland. The rest of the trail paralleled the current windy railroad track all the way down into Cumberland, MD with the huge cliffs we had spotted earlier looming over it.
</p>
<img src="/photos/7450/9467030101_a0405896da_z.jpg" class="screenshot">
<p>
We rolled in around 6PM and checked with the bike shop and they said the local YMCA was the best place to stay. Rode to the other side of town and checked in for $10 with a nice little camping spot across the street. We setup under a pavilion again, but they at least wanted us to put the tent up so folks didn't think we were homeless. Unloaded our 30lbs of gear from our bikes and flew into town.
</p>
<img src="/photos/7351/9467029795_2c5c4547ca_z.jpg" class="screenshot">
<p>
Mike designed the hospital here so he had eaten everywhere and already knew a solid little spot downtown to eat at. We ate outside and hit a little ice cream shop afterwards. On our ride back I hit up a beer store and spotted the family from last night's campground looking for the YMCA so we led the way back.
</p><p>
Camping at the YMCA also gets you access to the shower and hot pool which couldn't have felt any better. Sat in for an hour or so and talked about movies and science fiction with the lifeguard until my fingers started to wrinkle. Headed back to the pavilion to work on some beers and write in my journal while Mike scoped out the map to plan the next few days.
</p>
<a name="day4"></a>
<h2>Day 4 - Been Working on the Railroad...</h2>
<p>
Woke up at 6:30AM after some mediocre sleep on concreate and strolled over to the YMCA to brush my teeth. Packed everything up and said goodbye to the family camping with us since they needed a chill day after so much riding yesterday.
</p></p>
Rode into town to the same place we got ice cream last night for some breakfast. Biscuits and gravy were great, but drank some terrible coffee just for the feeling of drinking coffee in the morning rather than than the actual taste or cafeine. Headed over to the bike shop to check our tire pressure which was fine and started on mile 184 of the C&O Canal.
</p></p>
The trail was nice and fast out of town, but quickly got pretty bumpy. We were soon trying to stay in the left or right worn down paths while dodging overgrown plants by swerving to the middle. There's supposed to be a water pump every 5 miles on the trail, but it took a few stops to find one that actually worked.
</p>
<img src="/photos/7374/9469811644_b09e045ec3_z.jpg" class="screenshot">
<img src="/photos/7355/9469811462_8560587eff_z.jpg" class="screenshot">
<img src="/photos/5461/9469811180_0b7f64c0e6_z.jpg" class="screenshot">
<p>
We eventually hit the Paw Paw tunnel which was my favorite part of the entire trip. Mike rode ahead with his headlight, but it quickly got too dark and bumpy. He paused and I egged him on once, but his light wasn't bright enough so he decided to walk the bike through. As we stopped I put on my good headlamp and turned it up full blast. On a side note, there is no better piece of good camping equipment than a really bright reliable headlight. I decided that I don't always make the most sensible decisions and said screw it, I'm going to ride through this thing. The trail is about 3ft wide with a railing on the left with water 10ft below. So I clipped my shoes in and rode with about 5 feet of visibility in front of me enjoying every second of it while slowly navigating water filled potholes of unknown depth. I unclipped to let a few folks by and someone mumbled something about how you're not supposed to ride through the tunnel. Eventually I spotted the end and emerged with the feeling of accomplishment that only comes with knowing you've done something stupid and didn't manage to get yourself hurt.
</p>
<img src="/photos/5517/9467029127_51ca5330a7_z.jpg" class="screenshot">
<p>
I climbed the stairs next to the tunnel, sat above it, and waited for Mike to emerge. Snapped a good photo when he came out and then we slowly pedaled over pieces of wood covering parts of the trail that were starting to slide into the river.
</p>
<img src="/photos/2861/9469805804_c0a2efb373_z.jpg" class="screenshot">
<p>
The trail turned into downhill after downhill through heavy brush and it couldn't have been better. The next stop was Little Orleans, MD. It's a town on the map, but in reality it's just a bar/grocery store/diner/roadhouse named Bill's and damn is it great. Ordered a roast beef sandwich soaked in gravy with a Coors Light and relaxed for an hour.
</p>
<img src="/photos/7457/9469810806_41d1fd8cf7_z.jpg" class="screenshot">
<p>
Total biker bar, but you could tell we weren't the first people on bicycles to stop by and any business is good business. Managed to drag our gravy soaked stomachs up from the table and ride 5 miles to the Western Maryland Rail Trail which parallels the C&O Canal for 22 miles.
</p><p>
PAVEMENT! Glorious pavement! You don't appreciate a good smooth trail, unstressed soldiers, and low rolling resistance until you haven't had them for days. We rode in a higher gear than we had all trip next to folks on tandem bikes until we made it to Hancock, MD around 4PM. We stopped by the bike shop and they had space out back in "the bunkhouse" for $10.
</p><p>
Now I'm not too picky about where I stay so all I had to hear was, "you don't have to set up your tent and we have hot showers" and I would have paid whatever they were asking. So we check the space out and it looks like it was built to house workers building the railroad.
</p>
<img src="/photos/7307/9469810572_afa0fbf005_z.jpg" class="screenshot">
<p>
I suggest to Mike that we let our families know that we had wronged a local sherif and got sentence to 2 years hard labor. Picture a porch stuffed full of 30 bunks, but not attached to a house. I laid down on a quarter inch pad on a bunk and almost passed out.
</p>
<img src="/photos/3755/9467023705_69757510dc_z.jpg" class="screenshot">
<p>
I decided a walk is in order and cruise over to the Sheetz for some junk food and realize I've been here before heading home after Thanksgiving in much rougher situation. I'll gladly take a week long bike trip over driving on interstates during the holidays.
</p></p>
We find the one local food option cause the town is pretty beat and I get an abnormally large potatoe stuffed full of every possible topping followed by an apple/caramel/nut pie with ice cream. Head home and grab a 6 pack of beer stumbling around like I'm drunk, but I'm just so damn exhausted.
</p></p>
Back at the bunkhouse two folks have checked in who walked up from Norfolk, VA and are on their way to Portland, OR. Next time I complain about the bike, tell me to shut up cause I'm not those guys. Checked out a local bar with one of them, but nothing was going on. Headed back and fell asleep with the worrying restless feeling of starting to get sick.
</p>
<a name="day5"></a>
<h1>Day 5 - Really Should Have Just Set the Tent Up</h1>
<p>
Woke up around 8:30AM feel like crap and confirming what I thought last night. I was getting sick. It started to rain so we waited it out for a few and walked into the bike shop to get some energy bars and a cup of coffee. Packed everything up and only waited an hour or so until the rain turned into a light drizzle. Said goodbye to the folks walking to Portland and took off enjoying the last 10 miles of pavement on the Western Maryland Railtrail.
</p><p>
Switched back over to the C&O which was really rough. The ground was soaking wet and there were tree roots everywhere. We eventually made it to Williamsport, MD feeling like complete garbage. We surveyed the lunch options and found a little Italian place. Ended up having to put my jacket on inside cause the AC was on and I was exhausted and soaked with sweat. I ordered a small calzone and 2 sprites and started to feel a lot better. What is it with calzones always being massive. A small calzone was close to a foot wide.
</p><p>
Hopped back on the bike feeling a little better, but still not great with 40 miles left until Harpers Ferry, WV which was our possible destination for the night. This ended up being the roughest part of the entire trip with a few pretty dams.
</p>
<img src="/photos/3782/9469810464_2d36571998_z.jpg" class="screenshot">
<img src="/photos/5495/9469810352_4163ed04a8_z.jpg" class="screenshot">
<p>
It was a combination of rough wet trail and being sick so we'd have to stop about every 9 miles and just lay down on a bench for 20 minutes to recover. One stretch was an elevated trail directly over the edge of the river and next to cliffs though which was one of the cooler parts of the trip.
</p>
<img src="/photos/7345/9467028077_ab6d616a4c_z.jpg" class="screenshot">
<p>
We eventually only had 10 miles left which we split into 5 and 5 cause my shoulders and back were feeling terrible.
</p>
<img src="/photos/3697/9467027665_d2bb75abb2_z.jpg" class="screenshot">
<p>
Rolled into Harpers Ferry, WV exhausted with a strong wind and rain looking iminent. We had thought about staying there, but it meant hauling the bikes up the stairs and any distance we could cover today would help us on the final day. I decided to check it out another time and that we'd ride the extra 6 miles to Brunswick, MD where there was also camping.
</p>
<img src="/photos/5460/9469805640_cd8ff46400_z.jpg" class="screenshot">
<img src="/photos/3820/9467023545_d82e6aa0a9_z.jpg" class="screenshot">
<p>
Cruised nice and slow with two other riders we had had seen along the trail a few times earlier in the day. Finally made it into town and it took us a good 30 minutes to find the campground since the map wasnt too great. Small things start to get to you at the end of a day like this and not being able to find a campground when all you want to do is just get off the bike and relax is one of them. We had ridden 70 miles today. The longest day of the entire trip. We finally managed to find the campsites which were pretty decent for $5 with showers. Unpacked all of our stuff in a pavilion since it was supposed to pour, snagged a fantastic shower, hosed down my filthy bike, and regrettably hopped back on it to ride the mile back into town.
</p>
<img src="/photos/5491/9469809026_db9e0a5c6b_z.jpg" class="screenshot">
<img src="/photos/5463/9469805420_d5b303471b_z.jpg" class="screenshot">
<p>
The campground owner's daugher was driving a golf cart around and I debated asking her how much would it cost to drive us into town. I have perfected the art of riding with flip flops on clip-in pedals cause putting my bike shoes on makes it feel like the day isn't done.
</p><p>
Found a good little bar with heavily padded seats which were pretty essential at this point in the trip. Had a big old meatloaf and some flying dog beers. Left feeling much better as it started to rain and we get stuck under an awning waiting for a train to pass. Followed Mike's taillight exactly on the dirt road to camp since it was full of potholes which shook my body to the core.
</p><p>
A thunderstorm kicked into full swing just as we got back to camp. The rain was starting to leak into the pavilion so we setup everything we could on the tables. I wrote in my journal for the last time before I'll be home on my couch. Laid down on top of the picnic table hoping to get enough sleep to get me home tomorrow.
</p>
<a name="day6"></a>
<h2>Day 6 - 335 Muddy Miles Later</h2>
<p>
Woke up feeling like garbage after some terrible sleep. I was alternating between the cool, but starting to get wet pavement and the hot but uncomfortable picnic table in addition to being woken up repeatedly by trains and thunder.
</p><p>
We realize that we don't have any food for breakfast and don't want to ride the wrong way back in to town, so we make the decision to just press on. We pack everything up and hop on the bikes. My muscles feel more sore than they ever have before.
</p>
<img src="/photos/5472/9467023207_9b917bcd0d_z.jpg" class="screenshot">
<p>
After about 8 miles we ride off the trail to Point of Rocks since there's a train station there and eventually find a gas station that serves egg sandwiches. I instantly feel better after eating 2 and sitting on the curb for 30 minutes. Mike managed to find a road that will lead us back to the trail without having to back track. After biking up a few massive hills and one downhill that set the trip speed record of 25mph we are back on the trail.
</p>
<p>
The trail is really muddy and from all the rain last night and filled with potholes so we take it slow only doing about 8 miles at a time.
</p>
<img src="/photos/7343/9469808664_98c35d6995_z.jpg" class="screenshot">
<p>
Finding somewhere flat to lay down every hour was essential. We were making great time though and made it to the Great Falls visitor center right after noon. We start to feel much better knowing that we've only got 15 miles left to go for the entire trip. We chat with a few folks and scarf down a sandwich followed by two ice cream sandwiches. He hop back on the bikes without enjoying the view there since we're so excited to get home.
</p><p>
The trail becomes much better in this section which Mike points out is mostly due people paying more taxes and knowing how to complain now that we're close to DC. Someone asks where we rode from and I shout "Pittsburgh" and he cheers "Almost there!". A few other folks notice all the gear on our bikes and how grizzled we look and smile realizing that we're almost done.
</p>
<img src="/photos/7333/9467027065_2e95829f26_z.jpg" class="screenshot">
<p>
We head under the beltway and I'm still feeling sick and sore, but noticing it much less. We switch over the Capital Crescent trail which parallels the C&O Canal near DC and will take us all the way into Georgetown. I spot the kayak houses which mark the end of the trail. We roll onto the smooth pavement of K Street under the Whitehurst Freeway and ride the few blocks to the new fountain in the georgetown waterfront park. The feeling of completion starts to sink in and I feel incredibly happy.
</p>
<img src="/photos/2854/9467023121_7ceb40fbf2_z.jpg" class="screenshot">
<p>
We park the bikes and rince off in the fountain with all of the families enjoying it as well. The water is ice cold and feels great in every way. I laid down on the grass nearby and just stared up at the sky for an hour or so. Mike and I discuss the trip in the past tense for the first time. 335 muddy miles over 6 days are now complete.
</p>
<img src="/photos/5445/9469808792_8a8dd69ac0_z.jpg" class="screenshot">
<img src="/photos/7357/9467026825_fa14254d41_z.jpg" class="screenshot">
<h2>Epilogue</h2>
<p>It's now a little more than one week after I got back and I just finished writing up the whole story above. Overall I'm extremely glad I took the trip. It was rough towards the end when I was getting sick, but looking back it was an amazing week. I'm also really glad that Mike came and I didn't end up doing this by myself. He also provided photos, notes, and corrections to the story above too since I was usually pretty exhausted when I was writing this down.</p>
<p>This was my first experience with bicycle touring and this trail. I would highly recommend them both to anyone. I definitely learned a lot from this trip, and I think it's something almost anyone could do with a little practice and planning. If you're looking for a cheap vacation as well this is the best option I've ever seen.</p>
<h3>What Went Well</h3>
<ul>
<li>You don't need a nice bike. Mike and I both had 20+ year old bikes and did our own work on them. Your bike can get pretty beat up so it's probably better to have something that's already a little beat up. You should tune your bike up properly though and replace anything questionable. I did a whole new drive train and bottom bracket before this trip. Go find a <a href="http://velocitycoop.org/">local bike co op</a> to help you. Do not buy a brand new bike just for this.</li>
<li>The right tires. Mike had skinnier tires with a little bit of tread and I had wider, but very low profile tires without much tread. Having low rolling resistance really does help so I would not want to do this with typical knobby mountain bike tires.</li>
<li>Camping. There were good camping options the whole way that were very cheap. Ranging from $5 to $10 a night with showers.</li>
<li><a href="http://www.atatrail.org/trailbook.cfm">Trailbook</a>. The book itself is alright, but what was really valuable was the map that came with it explaining where every town was and what amenities were available.</li>
<li>Packing light. Mike rode with just two larger panniers and I rode with 2 smaller panniers and a front handlebar bag. We saw people with massive amounts of gear including front bags near their wheels and also trailers. I'm very glad I didn't have more gear than I did. I only brought 1 change of clothes and washed 1 set once.</li>
<li>Don't pack food. I usually kept two energy bars on me and otherwise there's enough places to stop and you can usually just buy more energy bars somewhere.</li>
<li>Clip in pedals. I switched my Shimano SPD pedals off of my road bike and onto my mountain bike and it just makes everything easier.</li>
<li>Bring something a little warm. I almost didn't bring anything since it was August, but it still gets chilly at night or in the early morning. A windbreaker or sweatshirt is fine.</li>
<li>Weather. I was worried it would be too hot in August, but we got awesome weather and nice long days. A lot of the trail is shaded so don't be worried about it being too hot.</li>
<li>Riding 40 to 70 miles a day. The trip took us 6 days which is what we initially estimated. That being said one more day probably would have been good. You feel like absolute crap after 70 miles of trail in a day. 50 seemed to be the most pleasant number.</li>
<li>Practice rides. Mike and I both put in several practice rides before the trip with all of our gear and covering 50+ miles a day. These will help you work out any problems with your bike and give you way more confidence that you can do this.</li>
</ul>
<h3>Not So Well</h3>
<ul>
<li>I really should have set up my tent every night and not slept on concrete and picnic tables. I likely wouldn't have gotten sick if I was sleeping better. Mike also had an inflatable sleeping pad that looked much better than my very thin roll up type thermarest pad.</li>
<li>Packing even less! I think I had around 25lbs of gear and could have shaved at least 5 lbs off. I had a 2 man tent instead of a one man, I brought camping cutlery which never got used. I also brought giant bottles of sunscreen and bug spray which I barely used at all. Most of the trail is shaded.</li>
<li>Bike seat and fit. I had an older cheaper bike seat and I likely should have invested the time in getting a better one and adjusting the height and angle more.</li>
<li>A day off in the middle of the trip would have been nice, but maybe wouldn't have been necessary if I was better about some of the other stuff I've mentioned.</li>
</ul>

<p>I think that's about it. If you enjoyed reading this story, want to publish it anywhere, or just have some questions please <a href="../contact.html">contact me</a>. You can also checkout all of the <a href="http://www.flickr.com/photos/matt_toigo/sets/72157634999273987/">photos from the trip.</a></p>
<h1>Video</h1>
<p>I had a go pro attached to my handlebars for most of the ride and the video turned out really good. Enjoy.</p>
<iframe style="margin-bottom: 20px" width="420" height="315" src="https://www.youtube.com/embed/-RhtDMPEqZA" frameborder="0" allowfullscreen></iframe>
