---
title: Brooklyn Bikepark Pumptrack
summary: I was up in NYC for work and my dad's birthday the other week and hit up the awesome new pumptrack in Brooklyn.
published: 2016-03-08
tag: wheels
image: /photos/1605/25310216620_e8d9b820e9_z.jpg
layout: default.hbs
---

	<p>I was up in Brooklyn for work for the week and also taking my dad out for his 59th birthday and found myself with some time to kill on Saturday afternoon. Katie and I headed over to the new <a href="http://www.brooklynbikepark.org/">Brooklyn Bikepark</a> pumptrack under the Williamsburg bridge. This is the first bike park in the US by <a href="http://www.velosolutions.ch/en/">Velosolutions</a>. If you were curious what art in the form of bike parks looks like, you should check them out because the parks they build are simply incredible.</p>

<p>We walked over and watched kids racing around the track trying to catch each other and I was instantly reminded of how much I was exactly like them racing BMX when I was younger. Nothing mattering but hitting a turn perfectly to pass someone or finally gapping a jump that scared me for weeks. I wasn't sure if I was going to ride or not, but asked if they had a spare bike and they handed me a bike and a helmet within a minute.</p>

<p>I rode for an hour or so feeling out the turns and rollers until I was finally comfortable to wheelie some of them and gap the smaller ones. Seeing a bike or skatepark like this full of kids and adults dedicated to nothing else besides having fun will put a smile on my face like nothing else.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KKJxtC0zjsk" frameborder="0" allowfullscreen></iframe>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/1505/25605805365_240d28d006_z.jpg" title="IMG_2791"><img src="/photos/1505/25605805365_240d28d006_q.jpg" data-thumb="/photos/1505/25605805365_240d28d006_q.jpg"></a><a rel="lightbox[set]" href="/photos/1553/25310215120_2ba6890bf6_z.jpg" title="IMG_2786"><img src="/photos/1553/25310215120_2ba6890bf6_q.jpg" data-thumb="/photos/1553/25310215120_2ba6890bf6_q.jpg"></a><a rel="lightbox[set]" href="/photos/1558/25605806845_2cd230a7dd_z.jpg" title="IMG_2797"><img src="/photos/1558/25605806845_2cd230a7dd_q.jpg" data-thumb="/photos/1558/25605806845_2cd230a7dd_q.jpg"></a><a rel="lightbox[set]" href="/photos/1605/25310216620_e8d9b820e9_z.jpg" title="IMG_2805"><img src="/photos/1605/25310216620_e8d9b820e9_q.jpg" data-thumb="/photos/1605/25310216620_e8d9b820e9_q.jpg"></a><a rel="lightbox[set]" href="/photos/1661/25513142991_eee7391d19_z.jpg" title="IMG_2789"><img src="/photos/1661/25513142991_eee7391d19_q.jpg" data-thumb="/photos/1661/25513142991_eee7391d19_q.jpg"></a><a rel="lightbox[set]" href="/photos/1551/24979110533_ef216d6d22_z.jpg" title="IMG_2809"><img src="/photos/1551/24979110533_ef216d6d22_q.jpg" data-thumb="/photos/1551/24979110533_ef216d6d22_q.jpg"></a>		</section>
