---
title: East Coast Classic Scooter Rally
summary: What kind of maniac rides a tiny little 37 year old scooter over a 200 miles? Pretty awesome weekend at the largest scooter rally I've ever gone to.
published: 2011-06-09
tag: wheels
image: /photos/2562/5802449789_4fb43d0e85_z.jpg
layout: default.hbs
---

	<p>
Got on the road on Friday at 7:15AM to meetup with a few strangers from <a href="http://www.wmasa.org/">WMASA</a> and saw two scooters riding along Bladensburg Ave. Figured they had to be who I was looking for and followed them to meetup with everyone else. We headed out with a Vespa GTV, GT200, 60s Sprint, and Big Ruckus for a 120 mile ride to <a href="http://www.theeastcoastclassic.com/">The East Coast Classic</a> scooter rally in Wildwood, NJ.
</p>
<p>
The ride out there was great. We mostly took back roads trying not to stay on Route 50 for too long and cruised through downtown Annapolis on the way. Felt real good riding curvy roads nice and fast rather than the usual constant dodging of cars and pot holes. Rode across the Bay Area bridge with some decent winds which is definitely one of the scarier things I've ever done. Ended up in Lewes, DE catching the ferry about 10 minutes before it was set to leave. Enjoyed a nice 1 hour ride with some drinks and snacks before tearing off the boat into New Jersey.
</p>
<p>
Rolled up to a parking lot of about 50 or so scooters with everything from Burgman 650s to some super rare Lambrettas. The person I was splitting a room with was busy racing the Corsa so I just chilled by the pool for a while. The Corsa is a yearly 2 day 500 mile vintage only scooter race with no GPS allowed and is pretty much the most bad ass thing ever. If all goes well I'll be running the new P200 in it next year.
</p>
<p>
Headed over to the bar where everyone was checking into the rally and enjoyed looking at close to 100 scooters lined up outside. Headed back to the hotel for more relaxing which was interrupted by gunshots on the boardwalk a block from our hotel.
</p><p>
Woke up the next day and enjoyed some free breakfast included in the Rally registration before heading out for a ride with about 80 other scooters to a nearby beach. Riders blocked off intersections to keep everyone together and it was pretty damn cool riding with that many other people. Also everyone smiles when they see that many scooters ride by.
</p><p>
Headed back over to the bar for the Raffle. Didn't win anything but one lucky rider ended up with a freshly restored Sears Allstate Vespa and the Corsa and Corsette riders got their trophies. Seeing a 4 foot tall trophy riding around town on the back of a scooter is pretty damn awesome.
</p><p>
Left nice and early the next morning to beat some potential rain which never showed up. One rider with us broke down, but we were close enough to DC that it wasn't too bad.
</p><p>
All in all a pretty good weekend and I'm sure the first of many more scooter rallies this year.
</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/2773/5803010158_b63c287ff7_z.jpg" title="DSCF9109"><img src="/photos/2773/5803010158_b63c287ff7_t.jpg" data-thumb="/photos/2773/5803010158_b63c287ff7_t.jpg"></a><a rel="lightbox[set]" href="/photos/5073/5803010070_53992a1f93_z.jpg" title="DSCF9108"><img src="/photos/5073/5803010070_53992a1f93_t.jpg" data-thumb="/photos/5073/5803010070_53992a1f93_t.jpg"></a><a rel="lightbox[set]" href="/photos/3228/5803009970_e2f8b5dd6b_z.jpg" title="DSCF9107"><img src="/photos/3228/5803009970_e2f8b5dd6b_t.jpg" data-thumb="/photos/3228/5803009970_e2f8b5dd6b_t.jpg"></a><a rel="lightbox[set]" href="/photos/3350/5802453463_6625c65ace_z.jpg" title="DSCF9106"><img src="/photos/3350/5802453463_6625c65ace_t.jpg" data-thumb="/photos/3350/5802453463_6625c65ace_t.jpg"></a><a rel="lightbox[set]" href="/photos/2528/5802453371_aa61321686_z.jpg" title="DSCF9105"><img src="/photos/2528/5802453371_aa61321686_t.jpg" data-thumb="/photos/2528/5802453371_aa61321686_t.jpg"></a><a rel="lightbox[set]" href="/photos/3459/5802453259_46625fb34b_z.jpg" title="DSCF9104"><img src="/photos/3459/5802453259_46625fb34b_t.jpg" data-thumb="/photos/3459/5802453259_46625fb34b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5154/5803009076_aa325801ac_z.jpg" title="DSCF9098"><img src="/photos/5154/5803009076_aa325801ac_t.jpg" data-thumb="/photos/5154/5803009076_aa325801ac_t.jpg"></a><a rel="lightbox[set]" href="/photos/2510/5803009000_08d9ef9dbd_z.jpg" title="DSCF9097"><img src="/photos/2510/5803009000_08d9ef9dbd_t.jpg" data-thumb="/photos/2510/5803009000_08d9ef9dbd_t.jpg"></a><a rel="lightbox[set]" href="/photos/3333/5802452473_7dc1d9e44e_z.jpg" title="DSCF9096"><img src="/photos/3333/5802452473_7dc1d9e44e_t.jpg" data-thumb="/photos/3333/5802452473_7dc1d9e44e_t.jpg"></a><a rel="lightbox[set]" href="/photos/2010/5802452329_f6730001a1_z.jpg" title="DSCF9095"><img src="/photos/2010/5802452329_f6730001a1_t.jpg" data-thumb="/photos/2010/5802452329_f6730001a1_t.jpg"></a><a rel="lightbox[set]" href="/photos/5192/5802452193_d2e0100f39_z.jpg" title="DSCF9094"><img src="/photos/5192/5802452193_d2e0100f39_t.jpg" data-thumb="/photos/5192/5802452193_d2e0100f39_t.jpg"></a><a rel="lightbox[set]" href="/photos/3285/5803008538_4f1886d2a0_z.jpg" title="DSCF9093"><img src="/photos/3285/5803008538_4f1886d2a0_t.jpg" data-thumb="/photos/3285/5803008538_4f1886d2a0_t.jpg"></a><a rel="lightbox[set]" href="/photos/2597/5803008424_23722f5e7b_z.jpg" title="DSCF9092"><img src="/photos/2597/5803008424_23722f5e7b_t.jpg" data-thumb="/photos/2597/5803008424_23722f5e7b_t.jpg"></a><a rel="lightbox[set]" href="/photos/2180/5802451803_916c6f5652_z.jpg" title="DSCF9091"><img src="/photos/2180/5802451803_916c6f5652_t.jpg" data-thumb="/photos/2180/5802451803_916c6f5652_t.jpg"></a><a rel="lightbox[set]" href="/photos/5183/5802451695_8628fd4029_z.jpg" title="DSCF9090"><img src="/photos/5183/5802451695_8628fd4029_t.jpg" data-thumb="/photos/5183/5802451695_8628fd4029_t.jpg"></a><a rel="lightbox[set]" href="/photos/5227/5802451581_56610dfe7e_z.jpg" title="DSCF9089"><img src="/photos/5227/5802451581_56610dfe7e_t.jpg" data-thumb="/photos/5227/5802451581_56610dfe7e_t.jpg"></a><a rel="lightbox[set]" href="/photos/2471/5803007964_5c1c9104a1_z.jpg" title="DSCF9088"><img src="/photos/2471/5803007964_5c1c9104a1_t.jpg" data-thumb="/photos/2471/5803007964_5c1c9104a1_t.jpg"></a><a rel="lightbox[set]" href="/photos/3088/5802451333_2211d40cf8_z.jpg" title="DSCF9087"><img src="/photos/3088/5802451333_2211d40cf8_t.jpg" data-thumb="/photos/3088/5802451333_2211d40cf8_t.jpg"></a><a rel="lightbox[set]" href="/photos/3510/5802451245_84afdcd902_z.jpg" title="DSCF9086"><img src="/photos/3510/5802451245_84afdcd902_t.jpg" data-thumb="/photos/3510/5802451245_84afdcd902_t.jpg"></a><a rel="lightbox[set]" href="/photos/3650/5802451109_624aee0d39_z.jpg" title="DSCF9085"><img src="/photos/3650/5802451109_624aee0d39_t.jpg" data-thumb="/photos/3650/5802451109_624aee0d39_t.jpg"></a><a rel="lightbox[set]" href="/photos/2695/5802450989_9ddb01c7a5_z.jpg" title="DSCF9084"><img src="/photos/2695/5802450989_9ddb01c7a5_t.jpg" data-thumb="/photos/2695/5802450989_9ddb01c7a5_t.jpg"></a><a rel="lightbox[set]" href="/photos/2436/5803007370_ac586aa9dd_z.jpg" title="DSCF9083"><img src="/photos/2436/5803007370_ac586aa9dd_t.jpg" data-thumb="/photos/2436/5803007370_ac586aa9dd_t.jpg"></a><a rel="lightbox[set]" href="/photos/5267/5802450743_6a47b46b9d_z.jpg" title="DSCF9082"><img src="/photos/5267/5802450743_6a47b46b9d_t.jpg" data-thumb="/photos/5267/5802450743_6a47b46b9d_t.jpg"></a><a rel="lightbox[set]" href="/photos/5226/5802450595_0998b56b50_z.jpg" title="DSCF9081"><img src="/photos/5226/5802450595_0998b56b50_t.jpg" data-thumb="/photos/5226/5802450595_0998b56b50_t.jpg"></a><a rel="lightbox[set]" href="/photos/3162/5802450447_393da55472_z.jpg" title="DSCF9080"><img src="/photos/3162/5802450447_393da55472_t.jpg" data-thumb="/photos/3162/5802450447_393da55472_t.jpg"></a><a rel="lightbox[set]" href="/photos/2248/5802450357_25720eeaf6_z.jpg" title="DSCF9079"><img src="/photos/2248/5802450357_25720eeaf6_t.jpg" data-thumb="/photos/2248/5802450357_25720eeaf6_t.jpg"></a><a rel="lightbox[set]" href="/photos/2344/5803006736_8056fe269b_z.jpg" title="DSCF9078"><img src="/photos/2344/5803006736_8056fe269b_t.jpg" data-thumb="/photos/2344/5803006736_8056fe269b_t.jpg"></a><a rel="lightbox[set]" href="/photos/2631/5802450067_6a250f5afb_z.jpg" title="DSCF9077"><img src="/photos/2631/5802450067_6a250f5afb_t.jpg" data-thumb="/photos/2631/5802450067_6a250f5afb_t.jpg"></a><a rel="lightbox[set]" href="/photos/5119/5802449923_4b2588ffcc_z.jpg" title="DSCF9076"><img src="/photos/5119/5802449923_4b2588ffcc_t.jpg" data-thumb="/photos/5119/5802449923_4b2588ffcc_t.jpg"></a><a rel="lightbox[set]" href="/photos/2562/5802449789_4fb43d0e85_z.jpg" title="DSCF9075"><img src="/photos/2562/5802449789_4fb43d0e85_t.jpg" data-thumb="/photos/2562/5802449789_4fb43d0e85_t.jpg"></a><a rel="lightbox[set]" href="/photos/3537/5803006298_88bfdc1807_z.jpg" title="DSCF9074"><img src="/photos/3537/5803006298_88bfdc1807_t.jpg" data-thumb="/photos/3537/5803006298_88bfdc1807_t.jpg"></a><a rel="lightbox[set]" href="/photos/5279/5802449579_0aba2beebc_z.jpg" title="DSCF9073"><img src="/photos/5279/5802449579_0aba2beebc_t.jpg" data-thumb="/photos/5279/5802449579_0aba2beebc_t.jpg"></a><a rel="lightbox[set]" href="/photos/5191/5803006106_b02dacdac8_z.jpg" title="DSCF9072"><img src="/photos/5191/5803006106_b02dacdac8_t.jpg" data-thumb="/photos/5191/5803006106_b02dacdac8_t.jpg"></a><a rel="lightbox[set]" href="/photos/3603/5802449307_53d425d65e_z.jpg" title="DSCF9071"><img src="/photos/3603/5802449307_53d425d65e_t.jpg" data-thumb="/photos/3603/5802449307_53d425d65e_t.jpg"></a><a rel="lightbox[set]" href="/photos/3042/5803005884_c3212262bb_z.jpg" title="DSCF9070"><img src="/photos/3042/5803005884_c3212262bb_t.jpg" data-thumb="/photos/3042/5803005884_c3212262bb_t.jpg"></a><a rel="lightbox[set]" href="/photos/2151/5803005746_42bb11f54b_z.jpg" title="DSCF9069"><img src="/photos/2151/5803005746_42bb11f54b_t.jpg" data-thumb="/photos/2151/5803005746_42bb11f54b_t.jpg"></a><a rel="lightbox[set]" href="/photos/2744/5803005302_5c7f46a067_o.jpg" title="DSCF9068"><img src="/photos/2744/5803005302_cda939db35_t.jpg" data-thumb="/photos/2744/5803005302_cda939db35_t.jpg"></a><a rel="lightbox[set]" href="/photos/2527/5802446411_5ccefa01e0_z.jpg" title="DSCF9065"><img src="/photos/2527/5802446411_5ccefa01e0_t.jpg" data-thumb="/photos/2527/5802446411_5ccefa01e0_t.jpg"></a><a rel="lightbox[set]" href="/photos/3091/5803002924_9aac750cfe_z.jpg" title="DSCF9064"><img src="/photos/3091/5803002924_9aac750cfe_t.jpg" data-thumb="/photos/3091/5803002924_9aac750cfe_t.jpg"></a><a rel="lightbox[set]" href="/photos/5199/5802446151_3d7ab8ca2e_z.jpg" title="DSCF9063"><img src="/photos/5199/5802446151_3d7ab8ca2e_t.jpg" data-thumb="/photos/5199/5802446151_3d7ab8ca2e_t.jpg"></a><a rel="lightbox[set]" href="/photos/3322/5803002720_96433c7b7b_z.jpg" title="DSCF9062"><img src="/photos/3322/5803002720_96433c7b7b_t.jpg" data-thumb="/photos/3322/5803002720_96433c7b7b_t.jpg"></a><a rel="lightbox[set]" href="/photos/3380/5803002612_a77aced8d6_z.jpg" title="DSCF9061"><img src="/photos/3380/5803002612_a77aced8d6_t.jpg" data-thumb="/photos/3380/5803002612_a77aced8d6_t.jpg"></a><a rel="lightbox[set]" href="/photos/2606/5803002526_c5c55e62da_z.jpg" title="DSCF9060"><img src="/photos/2606/5803002526_c5c55e62da_t.jpg" data-thumb="/photos/2606/5803002526_c5c55e62da_t.jpg"></a><a rel="lightbox[set]" href="/photos/2304/5802445591_1403b28256_z.jpg" title="DSCF9059"><img src="/photos/2304/5802445591_1403b28256_t.jpg" data-thumb="/photos/2304/5802445591_1403b28256_t.jpg"></a><a rel="lightbox[set]" href="/photos/2482/5802445453_506a86dd5a_z.jpg" title="DSCF9058"><img src="/photos/2482/5802445453_506a86dd5a_t.jpg" data-thumb="/photos/2482/5802445453_506a86dd5a_t.jpg"></a><a rel="lightbox[set]" href="/photos/2144/5802445321_c357f58bf4_z.jpg" title="DSCF9057"><img src="/photos/2144/5802445321_c357f58bf4_t.jpg" data-thumb="/photos/2144/5802445321_c357f58bf4_t.jpg"></a><a rel="lightbox[set]" href="/photos/5114/5802445205_4d8783c209_z.jpg" title="DSCF9056"><img src="/photos/5114/5802445205_4d8783c209_t.jpg" data-thumb="/photos/5114/5802445205_4d8783c209_t.jpg"></a><a rel="lightbox[set]" href="/photos/2127/5802445049_8cbc20d252_z.jpg" title="DSCF9055"><img src="/photos/2127/5802445049_8cbc20d252_t.jpg" data-thumb="/photos/2127/5802445049_8cbc20d252_t.jpg"></a><a rel="lightbox[set]" href="/photos/2223/5803001556_e7339299a7_z.jpg" title="DSCF9053"><img src="/photos/2223/5803001556_e7339299a7_t.jpg" data-thumb="/photos/2223/5803001556_e7339299a7_t.jpg"></a><a rel="lightbox[set]" href="/photos/5073/5803000896_b32bebcbd1_z.jpg" title="DSCF9051"><img src="/photos/5073/5803000896_b32bebcbd1_t.jpg" data-thumb="/photos/5073/5803000896_b32bebcbd1_t.jpg"></a><a rel="lightbox[set]" href="/photos/2320/5802443967_fbce719c83_z.jpg" title="DSCF9050"><img src="/photos/2320/5802443967_fbce719c83_t.jpg" data-thumb="/photos/2320/5802443967_fbce719c83_t.jpg"></a><a rel="lightbox[set]" href="/photos/5302/5803000604_5af44c023c_z.jpg" title="DSCF9049"><img src="/photos/5302/5803000604_5af44c023c_t.jpg" data-thumb="/photos/5302/5803000604_5af44c023c_t.jpg"></a><a rel="lightbox[set]" href="/photos/2520/5803000504_6e9d4e681e_z.jpg" title="DSCF9048"><img src="/photos/2520/5803000504_6e9d4e681e_t.jpg" data-thumb="/photos/2520/5803000504_6e9d4e681e_t.jpg"></a><a rel="lightbox[set]" href="/photos/3583/5803000408_4a51648dac_z.jpg" title="DSCF9047"><img src="/photos/3583/5803000408_4a51648dac_t.jpg" data-thumb="/photos/3583/5803000408_4a51648dac_t.jpg"></a><a rel="lightbox[set]" href="/photos/2646/5802443269_685571fa6e_z.jpg" title="DSCF9044"><img src="/photos/2646/5802443269_685571fa6e_t.jpg" data-thumb="/photos/2646/5802443269_685571fa6e_t.jpg"></a><a rel="lightbox[set]" href="/photos/5198/5802443187_9577a135ee_z.jpg" title="DSCF9043"><img src="/photos/5198/5802443187_9577a135ee_t.jpg" data-thumb="/photos/5198/5802443187_9577a135ee_t.jpg"></a><a rel="lightbox[set]" href="/photos/3264/5802999910_545ed5b5f6_z.jpg" title="DSCF9042"><img src="/photos/3264/5802999910_545ed5b5f6_t.jpg" data-thumb="/photos/3264/5802999910_545ed5b5f6_t.jpg"></a><a rel="lightbox[set]" href="/photos/2488/5802442951_18b22d64b4_z.jpg" title="DSCF9041"><img src="/photos/2488/5802442951_18b22d64b4_t.jpg" data-thumb="/photos/2488/5802442951_18b22d64b4_t.jpg"></a><a rel="lightbox[set]" href="/photos/2236/5802999410_5e980a719d_z.jpg" title="DSCF9039"><img src="/photos/2236/5802999410_5e980a719d_t.jpg" data-thumb="/photos/2236/5802999410_5e980a719d_t.jpg"></a><a rel="lightbox[set]" href="/photos/3059/5802999312_392ba44c74_z.jpg" title="DSCF9038"><img src="/photos/3059/5802999312_392ba44c74_t.jpg" data-thumb="/photos/3059/5802999312_392ba44c74_t.jpg"></a><a rel="lightbox[set]" href="/photos/5153/5802999156_f20f74c233_z.jpg" title="DSCF9037"><img src="/photos/5153/5802999156_f20f74c233_t.jpg" data-thumb="/photos/5153/5802999156_f20f74c233_t.jpg"></a><a rel="lightbox[set]" href="/photos/2610/5802442191_38bfae70b6_z.jpg" title="DSCF9036"><img src="/photos/2610/5802442191_38bfae70b6_t.jpg" data-thumb="/photos/2610/5802442191_38bfae70b6_t.jpg"></a><a rel="lightbox[set]" href="/photos/2091/5802442081_2ab2f9ffd3_z.jpg" title="DSCF9035"><img src="/photos/2091/5802442081_2ab2f9ffd3_t.jpg" data-thumb="/photos/2091/5802442081_2ab2f9ffd3_t.jpg"></a><a rel="lightbox[set]" href="/photos/2785/5802442001_d241382b02_z.jpg" title="DSCF9034"><img src="/photos/2785/5802442001_d241382b02_t.jpg" data-thumb="/photos/2785/5802442001_d241382b02_t.jpg"></a><a rel="lightbox[set]" href="/photos/3492/5802998734_9f672cd3ed_z.jpg" title="DSCF9033"><img src="/photos/3492/5802998734_9f672cd3ed_t.jpg" data-thumb="/photos/3492/5802998734_9f672cd3ed_t.jpg"></a><a rel="lightbox[set]" href="/photos/3405/5802998632_4842972f42_z.jpg" title="DSCF9032"><img src="/photos/3405/5802998632_4842972f42_t.jpg" data-thumb="/photos/3405/5802998632_4842972f42_t.jpg"></a><a rel="lightbox[set]" href="/photos/2271/5802441679_5a872a5ae4_z.jpg" title="DSCF9031"><img src="/photos/2271/5802441679_5a872a5ae4_t.jpg" data-thumb="/photos/2271/5802441679_5a872a5ae4_t.jpg"></a><a rel="lightbox[set]" href="/photos/3385/5802441585_d7149f6cd4_z.jpg" title="DSCF9030"><img src="/photos/3385/5802441585_d7149f6cd4_t.jpg" data-thumb="/photos/3385/5802441585_d7149f6cd4_t.jpg"></a><a rel="lightbox[set]" href="/photos/3211/5802998286_a3b7380811_z.jpg" title="DSCF9029"><img src="/photos/3211/5802998286_a3b7380811_t.jpg" data-thumb="/photos/3211/5802998286_a3b7380811_t.jpg"></a><a rel="lightbox[set]" href="/photos/5103/5802998120_649abaf9ca_z.jpg" title="DSCF9028"><img src="/photos/5103/5802998120_649abaf9ca_t.jpg" data-thumb="/photos/5103/5802998120_649abaf9ca_t.jpg"></a><a rel="lightbox[set]" href="/photos/5021/5802997920_de34dd9a3f_z.jpg" title="DSCF9027"><img src="/photos/5021/5802997920_de34dd9a3f_t.jpg" data-thumb="/photos/5021/5802997920_de34dd9a3f_t.jpg"></a><a rel="lightbox[set]" href="/photos/2707/5802271440_96c9d0ab0c_z.jpg" title="IMG_20110605_020139"><img src="/photos/2707/5802271440_96c9d0ab0c_t.jpg" data-thumb="/photos/2707/5802271440_96c9d0ab0c_t.jpg"></a><a rel="lightbox[set]" href="/photos/5065/5802271236_9cc06230b7_z.jpg" title="IMG_20110604_102712"><img src="/photos/5065/5802271236_9cc06230b7_t.jpg" data-thumb="/photos/5065/5802271236_9cc06230b7_t.jpg"></a><a rel="lightbox[set]" href="/photos/5152/5801714079_b27c4be82e_z.jpg" title="IMG_20110604_100507"><img src="/photos/5152/5801714079_b27c4be82e_t.jpg" data-thumb="/photos/5152/5801714079_b27c4be82e_t.jpg"></a><a rel="lightbox[set]" href="/photos/3652/5801711567_c5f86c9834_z.jpg" title="IMG_20110604_100500"><img src="/photos/3652/5801711567_c5f86c9834_t.jpg" data-thumb="/photos/3652/5801711567_c5f86c9834_t.jpg"></a><a rel="lightbox[set]" href="/photos/3357/5802265772_6e1f8911da_z.jpg" title="IMG_20110604_095550"><img src="/photos/3357/5802265772_6e1f8911da_t.jpg" data-thumb="/photos/3357/5802265772_6e1f8911da_t.jpg"></a><a rel="lightbox[set]" href="/photos/3112/5801708731_28157b6254_z.jpg" title="IMG_20110603_131822"><img src="/photos/3112/5801708731_28157b6254_t.jpg" data-thumb="/photos/3112/5801708731_28157b6254_t.jpg"></a><a rel="lightbox[set]" href="/photos/2641/5804300167_872c38a04b_z.jpg" title="East Coast Classic Ride"><img src="/photos/2641/5804300167_872c38a04b_t.jpg" data-thumb="/photos/2641/5804300167_872c38a04b_t.jpg"></a>		</section>
