---
title: Biking the Empire State Erie Canal Trail
summary: 5 days of riding from Buffalo to Albany NY
published: 2022-05-08
tag: wheels
image: /photos/erie/big/preview.jpg
layout: default.hbs
---

<img src="/photos/erie/big/PXL_20220502_195500632.jpg" alt="Driveway" class="inline">

<h2>Planning</h2>

<h3>Route</h3>
<p>I was due for a big multi-day adventure and had been going a little more stir crazy than usual now that I work from home. I'd recently done a <a href="/travel/strickler-knob.html">little backpacking</a> and <a href="/travel/potomac-kayak.html">some kayak touring</a>, so bike touring was what it was gonna be. I had previously done a <a href="/wheels/biking-from-pittsburgh-to-dc.html">6 day bike trip on the GAP / C&O trail</a> from Pittsburgh to DC so I knew I'd dig it. On that trip I had no idea what I was doing and winged it and everything turned out alright. At this point I know a lot more about fixing and setting up bikes, am in much better shape, and have nicer gear. I had done a little research and was shooting for about a week out and wanted to avoid packing a bike to fly if I could. I'm not sure how I found it, but the <a href="https://eriecanalway.org/">Erie Canal Trail</a> from Buffalo to Albany fit the bill. It had also recently become part of the larger <a href="https://empiretrail.ny.gov/">New York Empire State Trails</a> project. I've also lived at some of the places along the trail about 15 years ago in college so there would be some nostalgia factor. My Dad also lives up in Pine Plains, NY about an hour south of Albany so he'd be down to help with logistics.</p>

<p>I sent the first planning email in January and around 4 months and 59 emails later, packed the bikes up with 2 other friends. I had wanted to go soon but decided to wait until early May since it is real cold in upstate NY and there still might be snow in April. There was also some discussion about camping, but given that these would be long days in questionable weather we made the call to go with hotels and it was 100% the right decision. There were a few options for transportation, but with 3 people, doing a one way rental car is by far the cheapest and easiest option for getting up to Buffalo. My Dad ended up picking us up in Albany and giving us a ride back to DC at the end too.</p>

<p>I managed to record every day and you can check them all out on the map below. Each pin is a stop and if you click on them there are details on the mileage and link to Strava for the day.</p>

<iframe src="https://www.google.com/maps/d/embed?mid=1lAKWInlPmXh955tEh-tdxq2yOeFyrgf-&ehbc=2E312F" width="640" height="480"></iframe>

<h3>Bike</h3>
<p>I had my <a href="/wheels/felt-f85x.html">towny/touring/bikepacking/commuter/whatever</a> bike for this trip and I made the following changes before this trip in addition to a normal tune up + check over.</p>
<ul>
    <li>I had a tubeless wheelset with Bontrager GR1 Team Issue 40MM tires and I swapped these out for tubed wheelset with a fresh set of 32MM Conti Gatorskins Hardshells. Everyone is gonna disagree here, but I can run the tubed wheels at 70PSI or higher even (20PSI hire than the tubeless wheels), and that is completely worth it for a trip that is almost entirely on pavement and crushed limestone while hauling heavy panniers. 70PSI was a little harsh, but felt real quick. I'm sure there are tubeless tires I could have switched to and gotten extra pressure, but just didn't want to deal with it. I've also run these tires for years in DC and never had a flat, so I was confident a new set wouldn't have any issues at all and I was correct. I also just wanted to switch back to tubed tires for regular riding anyway even after this trip.</li>
    <li>
        I put bullhorn bar ends on the ends of my bars and moved the controls in slightly to fit them. A used set was $5 at <a href="https://gearinupbicycles.org/">Gearing Up Bikes</a>. I really like the stability of a flatbar bike for riding around DC given the bad roads, but on a trip this long I needed alternate hand positions to switch to as my shoulders got sore on long days.
    </li>
</ul>

<h3>Gear Checklist</h3>
<p>I get real into planning and here's the checklist I used.</p>
<ul>
    <li>Gear
        <ul>
            <li>3X Bike Shorts</li>
            <li>3X Bike Shirts</li>
            <li>3X Socks</li>
            <li>2X Sweat bands</li>
            <li>Bike shoes</li>
            <li>1X Hiking pants</li>
            <li>1X Casual Shorts</li>
            <li>3X Underwear</li>
            <li>Bike Gloves</li>
            <li>Bike</li>
            <li>Lock</li>
            <li>Jacket</li>
            <li>Helmet</li>
            <li>Energy drink pellets</li>
            <li>Poncho</li>
            <li>Ear Plugs</li>
            <li>Tissues</li>
            <li>Quarters (Laundry or Gas Station Air)</li>
            <li>Sunscreen</li>
            <li>Panniers</li>
            <li>Frame Bag</li>
            <li>Compass</li>
            <li>Bike cell phone holder</li>
            <li>Knife</li>
            <li>Small Towel</li>
            <li>2X Bike Bottles</li>
            <li>A few Clif bars (can always buy more easily)</li>
            <li>Toiletries</li>
            <li>Maps + Guidebook + Printed list of accommodations + printed mileage/town guide</li>
            <li>Paracord</li>
            <li>Watch</li>
            <li>Dirty clothes bag</li>
            <li>Bathing Suit</li>
            <li>Sandals</li>
            <li>Sunglasses</li>
            <li>Bodyglide</li>
            <li>Small first aid kit with medical tape</li>
            <li>Spare glasses</li>
            <li>Journal + pen</li>
            <li>Rag</li>
            <li>Coffee cup that fits on bike</li>
            <li>Tidepod/Laundry Detergent</li>
            <li>Flask</li>
            <li>Cards</li>
            <li>Hand Sanitizer</li>
        </ul>
    </li>
    <li>
        Electronics
        <ul>
            <li>Headlamp</li>
            <li>Backup AAA batteries</li>
            <li>Bike headlight</li>
            <li>Garmin</li>
            <li>3 port USB charger brick (rather than bringing individual chargers)</li>
            <li>External phone battery</li>
            <li>Backup rear light</li>
        </ul>
    </li>
    <li>
        Tools/Parts
        <ul>
            <li>Bike multi-tool</li>
            <li>Tire levers</li>
            <li>Tube</li>
            <li>Derailleur hanger</li>
            <li>Chain Link</li>
            <li>Chain Lube</li>
            <li>C02 Air + spare C02 cartridge</li>
            <li>Patch kit</li>
            <li>Derailleur cable</li>
            <li>Cable ties</li>
        </ul>
    </li>
</ul>

<h2>Day 0 - DC to Buffalo</h2>

<img src="/photos/erie/big/PXL_20220430_143611881.jpg" alt="Driveway" class="inline">
<p>I went to pickup a rental car from Avis/Budget near my house and it was impressive how badly that went. The car wasn't there, actually got there at some point while I was waiting but they didn't come get me, and whatever employee just dropped it off smoked in it. An hour later after I was supposed to pick it up I was outta there and parked in my driveway. Anthony and Paul rolled in and we very carefully figured out how to get 3 disassembled bikes in a RAV4. We barely got them to fit with the 3 of us and headed off to Buffalo. </p>
<img src="/photos/erie/big/PXL_20220430_150758879.jpg" alt="Car" class="inline">
<p>At some point in the week prior, I had turned on "Avoid Tolls" in Google Maps because I kept forgetting to move my one EZ pass into my van so we ended up taking a pretty scenic route. We stopped for lunch and grabbed some Italian food and I managed to get an iced coffee from McDonalds without "liquid sugar" in it which somehow always seems like a challenge. I had to go order from the counter rather than the kiosk just for that. We made it to Buffalo around dinner time, checked in, and then put the bikes together in the parking lot.</p>
<img src="/photos/erie/big/PXL_20220501_025951504.jpg" alt="Car" class="inline">
<p>3 bikes and dudes in the hotel room made for a real tight fit but it was just for one night. I drove the rental car back to the airport a few miles away and returned it with less hassle than it took to get it. I called the hotel shuttle and it ended up going past me twice because there was only a sign on one side of it and it happen to be the side I wasn't standing on. Finally figured that out and caught a ride back to the hotel.</p>
<p>Anthony had called up a friend that I hadn't seen in about 15 years since college so it was good to catch up with him and hear what was happening lately in Buffalo. After a few beers at a BBQ joint we headed back to the hotel room to get some sleep before a long day. Airplane was on TV and it's honestly just too funny to stop watching. We also had beers we couldn't haul on the bikes. This would begin a vicious cycle of staying up too late and getting on the road too late that took us the majority of the trip to break.</p>

<h2>Day 1 - Buffalo to Brockport</h2>
<p><em><a href="https://www.strava.com/activities/7073526854" target="_blank">83 Miles on Strava</a></em></p>

<img src="/photos/erie/big/PXL_20220501_132153679.jpg" class="inline">
<p>First day of the trip and we woke up around 8 and started getting everything ready to go. Rolled the bikes down to the lobby and I gotta say Hampton Inn does breakfast real well. A waffle maker and eggs with Cholula is really all I require. We hopped on the bikes with about 7 miles to go through the city before we hit Buffalo Naval Park which is the start of the trail. The route there was pretty grimey looking but the roads were mellow to ride a bike on. The hotel ended up being in a pretty good spot. Cheaper hotels at the airport would have been real bad to ride on the highway from and the hotels near the start of the trail were over $400 a night with nowhere to eat or drink near them for some reason.</p>
<img src="/photos/erie/big/PXL_20220501_134143390.jpg" class="inline">
<p>We took a few photos at the start and headed north. Something that we thought constantly throughout this trip is it would be really nice if there were mile markers like on the GAP/C&O, but there's nothing and it makes planning daily milage a little tricky. We went through some small little towns where folks setup docks along the canals to chill on and ended up in Lockport. Really nice town to stop in and the largest fully functional lock we had seen yet. We had what was probably the best meal of the entire trip at <a href="https://www.stoogeslockport.com/">Stooges</a>. Great Mac & Cheese, Burgers, and Beers. 2 hours later we rolled over to <a href="http://www.steamworkscoffee.net/">Steamworks</a> coffee shop and then headed out as it started raining.</p>
<img src="/photos/erie/big/PXL_20220501_203237446.jpg" class="inline">
<p>The rain slowly eased up but we had a bad headwind too, but a warm cup of coffee always helps. Stopped for some more donuts and coffee and took the road for a bit because we weren't moving as fast as we needed to. We ended up rolling in around 8:30PM which is way too long of a day (almost 12 hours) to be on a bike. We made it to Brockport and checked into another Hampton Inn exhausted. Showered and walked over to Wegmans and ate almost an entire box of Reeses Chips Ahoy which I didn't know were a thing. Watched a little TV had a few beers and at that point it was too late to get a good early start the next day.</p>

<h2>Day 2 - Brockport to Clyde</h2>
<p><em><a href="https://www.strava.com/activities/7078107747" target="_blank">69 Miles on Strava</a></em></p>
<p>Slow start again because we wanted to relax a bit after such a long first day beginning with another great identical Hampton Inn breakfast to the first one. For long days on the bike a good breakfast is critical. We rolled out slightly earlier than the first day with everything wet, but no rain. The trails switched to nice fast pavement as we got closer to Rochester. There's a giant REI right on the trail before Rochester which made for a great stop. Filled up water bottles and also bought a handlebar bottle cage which fit my coffee cup. I had two bottle cages lower on the bike, but it's really nice to have coffee right there to sip in the mornings.</p>
<img src="/photos/erie/big/PXL_20220502_180126008.jpg" class="inline">
<p>Headed out of Rochester and into the suburbs and stopped in Pittsford and the <a href="https://thepittsfordpub.com">Pittsford Pub and Grill</a>. Another long slow, but good lunch and someone walked in and asked if we had the bikes out front. I don't know what it is exactly that says "BIKES" about us, but we had a good chat about riding the trail and he was planning on riding it at some point and I got his info to send him this write up when we were done. Headed up the street to <a href="https://villagebakeries.com">Village Bakery & Cafe</a> for some excellent coffee before getting back on the trail</p>
<img src="/photos/erie/big/PXL_20220502_205802902.jpg" class="inline">
<p>I was in the mood to cook pretty fast so I split off from Anthony and Paul at a pace in the high teens. Cruised through Fairport, NY which looked really nice, but didn't stop. I did take a break to look at some of the bigger locks up close which are pretty neat and made it into Clyde, NY at 5:45PM which felt much better than the last brutally long day.</p>
<img src="/photos/erie/big/PXL_20220502_214846807.jpg" class="inline">
<p>I met Mark who runs the 44 room Erie Mansion B&B and parked my bike in the garage next to some beautiful classic cars and he showed me my room. We had the Erie Suite and I can confidently say it was like nothing I've ever seen or will ever seen in my life. 20 foot snake skins, alligator skin everywhere, bear skin rug, and a hippo skull. I cannot recommend staying there enough. There isn't a whole lot else to do in Clyde though so I took a walk and grabbed a few beers from the gas station while I waited for Anthony and Paul to roll in. Met up with them and everywhere was closed for dinner so we grabbed a few things to microwave from the Dollar General.</p>
<img src="/photos/erie/big/IMG_20220502_211630.jpg" class="inline">
<p>Mark offered tours but it was late, so I called him up asking if it was too late and no worries if it was, but he obliged and gave us one hell of a tour. The building itself is amazing and all of the fine woodwork and artifacts he has are even more so. It was almost midnight when we were finished so this made the 3rd night in a row that we were up too late, but the tour was a once in a lifetime chance and not one bit regrettable.</p>
<img src="/photos/erie/big/PXL_20220503_034205344.jpg" class="inline">

<h2>Day 3 - Clyde to Canastota</h2>
<p><em><a href="https://www.strava.com/activities/7083681709" target="_blank">72 Miles on Strava</a></em></p>
<img src="/photos/erie/big/PXL_20220503_125324147.jpg" class="inline">
<p>And for the 3rd night in a row, we were up too late and drinking too many beers. Had a breakfast that was too greasy and only ate a tiny bit and hit the road at 8:30AM. The trails were a little rougher in this section than some others, but switched to pavement after not too long and then what was the longest stretch of road during the entire trip, maybe 20 miles or so.
    Stopped at one of many Duncan Donuts for coffee and a few donuts to supplement the minimal breakfast. We hit the Syracuse suburbs and the trail was through swamps mostly here and we moved one little snapper off the trail before anyone hit him. We ended up riding about a mile off trail to hit a Red Robin and when the portions are too large for dudes biking all day, it really is getting outta hand.
</p>
<img src="/photos/erie/big/PXL_20220503_131436240.jpg" class="inline">
<p>
Back on the road after slightly less beer than the last two days the trails were all pavement and wind down and around Lake Onondaga. This was the first of many things I'd see in Syracuse that I'd recognize from when I lived there for a year in 2007. Back then it was had the claim to fame of being the most polluted lake in the entire world and also had a great skatepark right on it that I went to at least once a week. We ended up off trail downtown and eventually found our way back and rode the trail down the middle of Erie Boulevard which was wild given how many times I had driven up and down it 15 years ago and vaguely remember most of the businesses.</p>
<img src="/photos/erie/big/PXL_20220503_190241462.jpg" class="inline">
<p>The trail between Syracuse and and Canastota was really nice. Fresh pavement and nice views. The only problem was geese with goslings that instead of moving, decide to square up in the middle of the trail when they see you coming. Made the mistake of stopping for the first one and barely got by and just gunned it by the next few we saw with them hissing and snapping.
</p>
<img src="/photos/erie/big/PXL_20220503_200924459.jpg" class="inline">
<p>
We rolled into Canastota at 5:15PM which wasn't as early as I'd have liked, but pretty respectable. Having plenty of time to relax off the bike everyday is key to a trip like this. We were at the Days Inn up by the NY Thruway which had a hill to climb, but was perfect. Not too nice (I feel a little bad about dragging dirty bikes into nicer places) and they had a coin operated laundry machine which was much better than hauling everything to the laundromat and waiting there which was my original plan. It also happened to be a Speed Queen which are the pinnacle of repairable gonna last forever washing machines. For anyone who doesn't know, there's a cult of maniacs (of which I'm a member) keeping 90s washers and dryers running because they're easy and cheap to fix and don't have any of the water/energy saving tech in them yet so they work really well.</p>
<img src="/photos/erie/big/PXL_20220503_223158122.jpg" class="inline">
<p>We went to a Pizza joint which was pretty much the only place in town to eat. Downtown Canastota is looking pretty rough. Had a nice long walk back, grabbed a few beers and wondered why the only options at gas stations are Bud Light or 7.8% IPAs. And for the first time during the entire trip we finally managed to get to bed at a reasonable hour.</p>

<h2>Day 4 - Canastota to Little Falls</h2>
<p><a href="https://www.strava.com/activities/7088903331" target="_blank"><em>64 Miles on Strava</em></a></p>

<img src="/photos/erie/big/PXL_20220504_132738454.jpg" class="inline">
<p>
    We got a nice early start at 7:30AM thanks to going to bed early finally and a quick breakfast at Dunkin Donuts across the street from the hotel. Paul and I split off from Anthony and booked it on the trail dodging more angry geese. We rolled through Rome which actually looked really nice and the trail goes right by <a href="https://www.nps.gov/fost/index.htm">Fort Stanwix</a>. We were gonna take a brief look, but the ranger was friendly so we stopped to check it out and it was pretty cool. We headed out about 20 minute later with the rain starting to get heavier.
</p>
<img src="/photos/erie/big/PXL_20220504_142859176.jpg" class="inline">
<p>
    It eventually started pouring and we took a break at a gas station in Oriskany. We got fresh coffees, put on rain gear and the best strategy for the rain is to get a hot fresh coffee and let yourself take a sip for every mile you ride. The rain was heavy, but we were mostly on a pavement trail and moving fast. We made it to Utica and went off trail to eat at <a href="https://www.tavolo315.com">Tavolo</a>. We pulled our bikes into the covered outdoor patio and spent a good 20 minutes getting out of our wet gear. I slow rolled eating an entire pizza and two beers because getting back on the bikes was going to be rough. It's one thing when you're already out in the rain, it's another to leave somewhere warm, put on wet gear, and start pedalling. I luckily had one pair of dry socks to spare at least.
</p>
<img src="/photos/erie/big/PXL_20220504_174545180.jpg" class="inline">
<p>
    We crossed a really large working lock up close that they were doing work on and then the trail became a little difficult to follow. I had an older version of the Erie Canal Guidebook and google maps also said to go the same way, but I think it was different than what is officially the Empire State Trail. We ended up on Route 5 which was bad in the rain. Plenty of shoulder, but cars blazing by so we put on extra lights. After about 10 unpleasant miles we made it into Mohawk and saw the Empire State Trail signs thankfully. The day then got much better and it was a quick 6 paved miles into Little Falls. This was by far the toughest day due to the rain, but luckily had the shortest mileage.
</p>
<img src="/photos/erie/big/PXL_20220504_180826881.jpg" class="inline">

<p>Little Falls was my favorite stop of the trip. A cool little town on a river full of old buildings carved into the side of a mountain. We got cleaned up, warmed up, and walked up the street to the Renaissance Pub. The place was really nice inside, we had a great bartender, good beer selection, and the food was delicious. We posted up there for several hours drinking plenty of Utica Club agreeing that it was better to have a few more beers there than bring any back to the hotel.</p>

<img src="/photos/erie/big/PXL_20220504_201216210.jpg" class="inline">
<p>Left the bar full and happy to stop at a Price Chopper on the way back. I needed to grab paper towels to try to clean the bikes up a little in the hotel. Without a day in the rain, the bikes would have made it the full trip with no work, but they were both looking crusty. Laid down paper towels and carefully lubed both chains and tuned Paul's front derailleur for him without making a total mess.</p>
<img src="/photos/erie/big/PXL_20220505_020019436.jpg" class="inline">
<p>I called Anthony to make sure he was doing alright and he was good and planning on taking an extra day to finish the trip. I also talked to my Dad to coordinate picking us up in Albany since I was worried that we might not make it there in time to hit the rental car place by 6PM. We passed out reasonably early looking forward to only one more day of riding. Having been on similar trips, the last day starts to feel a little bit like work and you're really looking forward to being done.</p>

<h2>Day 5 - Little Falls to Albany</h2>
<p><a href="https://www.strava.com/activities/7094590541" target="_blank"><em>93 Miles on Strava</em></a></p>
<p>We got a nice early start and were at Ann St Restaurant when it opened at 7AM. Our bartender recommended it and it was the best breakfast of the trip. Hearty without being greasy. We took off quickly for our last and highest mileage day and hit a detour due to what looked like work getting ready to pave the trail. After that it was pavement all the way to Albany and we were flying.</p>
<img src="/photos/erie/big/PXL_20220505_120253658.jpg" class="inline">
<p>
    We rolled into Amsterdam around lunch time and <a href="https://www.evolveeatery.com">Evolve Eatery</a> is right on the trail with nice outdoor seating. We had lunch in the sun since this was the best weather we'd had all trip and they had great smoothies too. We quickly got back on the trail since we were eager to finish, but stopped to chat with couple of interesting folks doing much longer bike tours than us including a woman on a Brompton.</p>
<img src="/photos/erie/big/PXL_20220505_173015873.jpg" class="inline">
<img src="/photos/erie/big/PXL_20220505_173321428.jpg" class="inline">
<p>We made a quick afternoon ice cream stop which was surprisingly the first of our trip somehow and then were back at it. Mileage is a little tricky to predict for this trail and this day ended up being much longer than I had planned. Pavement, nice weather, and it being the last day made it tolerable though. We cruised through the Albany suburbs and along the Hudson after briefly getting lost in Schenectady. We hit a completely impassible detour where logs had been dragged on the trail so we needed to hike the bikes out, but didn't burn too much time.
    </p>
    <img src="/photos/erie/big/PXL_20220505_211915279.jpg" class="inline">
    <p>
    We also saw our first sign for the Empire State Trail going North/South (Canada and NYC) rather than the East/West part we had been on. I don't have too many notes on this afternoon because we were honestly completely focussed on riding hard and just being done.</p>
    <img src="/photos/erie/big/PXL_20220505_220158273.jpg" class="inline">
<p>At 5:45PM we rolled into Corning Preserve and I spotted my Dad and his car. He'd been waiting a bit, but didn't mind. We relaxed for a few, took a few photos, and then broke down the bikes and loaded them up. It was a longer day (and trip) than we had planned, but we weren't completely burned out and it felt incredibly good to be done.</p>
<img src="/photos/erie/big/PXL_20220505_221810708.jpg" class="inline">

<h2>After the Trip</h2>
    
<p>Overall the trip went really well. A little bad weather, but no major mechanical issues, no injuries, and we finished what we initially set out for. Here's some notes for anyone planning this trip:</p>
<ul>
    <li>The time of year (early May) worked out well. It was a little chilly, but we rarely needed more than a windbreaker on the trail once we were riding. A little bit of rain and we could have waited until Summer, but it ended up being perfect and I like it a little on the chilly side and with less people.</li>
    <li>We had been debating camping or a mix of camping and hotels. For this time of year we 100% made the right call going with hotels. We had some long tough days, our camping gear would have gotten wet, I didn't see many places to camp, and it's really nice to be completely off the bike at the end of the day and not have to ride into town to find food. We were able to walk to dinner/breakfast at all the towns we stayed in.</li>
    <li>A few stretches of trail are on the road for a while. Absolutely bring high viz jackets and lights even for the day.</li>
    <li>I should have ordered an official Empire State Trail map or an updated Erie Canal Guidebook. I bought a cheap used copy which was out of date. Google maps also doesn't know about some sections of trail and this made planning daily milage tricky. We were 10 to 15 miles over some days than what I had planned.</li>
    <li>There are all kinds of different options for hauling gear on a bike. This ride is all pavement and crushed limestone so a big pair of panniers and a small bag upfront is 100% the way to go. You can do the bikepacking lotta little bags thing if you want, but having plenty of storage space on the bike and being able haul everything and easily get to it was nice. The trail is smooth so I never had any issues with panniers bopping around.</li>
    <li>Our <a href="https://www.hilton.com/en/hotels/bufarhx-hampton-buffalo-airport-galleria-mall/">hotel in Buffalo</a> worked out well. The downtown hotels near the start of the trail were over $400 a night for some reason with nothing near them at all it looked like. The airport hotels would have been bad to ride from. This was in the middle, had a great breakfast, an airport (rental car dropoff) shuttle, and was 7 miles from the start of the trail.</li>
    <li>Our first day was too long. Rolling in at 8:30PM is terrible. In hindsight we maybe should have woken up real early or only went to Albion instead of Brockport.</li>
</ul>

<p>Feel free to <a href="/contact.html">send me an email</a> if you dug this write up or want any advice on planning this trip.</p>

<section class="thumbnails">
    <a rel="lightbox[set]" href="/photos/erie/big/IMG_20220502_211630.jpg">
    <img src="/photos/erie/small/IMG_20220502_211630.jpg" data-thumb="/photos/erie/small/IMG_20220502_211630.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220430_143611881.jpg">
    <img src="/photos/erie/small/PXL_20220430_143611881.jpg" data-thumb="/photos/erie/small/PXL_20220430_143611881.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220430_145402515.jpg">
    <img src="/photos/erie/small/PXL_20220430_145402515.jpg" data-thumb="/photos/erie/small/PXL_20220430_145402515.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220430_150758879.jpg">
    <img src="/photos/erie/small/PXL_20220430_150758879.jpg" data-thumb="/photos/erie/small/PXL_20220430_150758879.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220430_231455563.jpg">
    <img src="/photos/erie/small/PXL_20220430_231455563.jpg" data-thumb="/photos/erie/small/PXL_20220430_231455563.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_025951504.jpg">
    <img src="/photos/erie/small/PXL_20220501_025951504.jpg" data-thumb="/photos/erie/small/PXL_20220501_025951504.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_132020013.jpg">
    <img src="/photos/erie/small/PXL_20220501_132020013.jpg" data-thumb="/photos/erie/small/PXL_20220501_132020013.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_132153679.jpg">
    <img src="/photos/erie/small/PXL_20220501_132153679.jpg" data-thumb="/photos/erie/small/PXL_20220501_132153679.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_132221638.jpg">
    <img src="/photos/erie/small/PXL_20220501_132221638.jpg" data-thumb="/photos/erie/small/PXL_20220501_132221638.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_134143390.jpg">
    <img src="/photos/erie/small/PXL_20220501_134143390.jpg" data-thumb="/photos/erie/small/PXL_20220501_134143390.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_142223920.jpg">
    <img src="/photos/erie/small/PXL_20220501_142223920.jpg" data-thumb="/photos/erie/small/PXL_20220501_142223920.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_144654067.jpg">
    <img src="/photos/erie/small/PXL_20220501_144654067.jpg" data-thumb="/photos/erie/small/PXL_20220501_144654067.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_150621368.jpg">
    <img src="/photos/erie/small/PXL_20220501_150621368.jpg" data-thumb="/photos/erie/small/PXL_20220501_150621368.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_160652958.jpg">
    <img src="/photos/erie/small/PXL_20220501_160652958.jpg" data-thumb="/photos/erie/small/PXL_20220501_160652958.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_163121232.jpg">
    <img src="/photos/erie/small/PXL_20220501_163121232.jpg" data-thumb="/photos/erie/small/PXL_20220501_163121232.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_175428317.jpg">
    <img src="/photos/erie/small/PXL_20220501_175428317.jpg" data-thumb="/photos/erie/small/PXL_20220501_175428317.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_184152807.jpg">
    <img src="/photos/erie/small/PXL_20220501_184152807.jpg" data-thumb="/photos/erie/small/PXL_20220501_184152807.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_184341071.jpg">
    <img src="/photos/erie/small/PXL_20220501_184341071.jpg" data-thumb="/photos/erie/small/PXL_20220501_184341071.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_184436952.jpg">
    <img src="/photos/erie/small/PXL_20220501_184436952.jpg" data-thumb="/photos/erie/small/PXL_20220501_184436952.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_184704498.jpg">
    <img src="/photos/erie/small/PXL_20220501_184704498.jpg" data-thumb="/photos/erie/small/PXL_20220501_184704498.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_192529001.jpg">
    <img src="/photos/erie/small/PXL_20220501_192529001.jpg" data-thumb="/photos/erie/small/PXL_20220501_192529001.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_194948748.jpg">
    <img src="/photos/erie/small/PXL_20220501_194948748.jpg" data-thumb="/photos/erie/small/PXL_20220501_194948748.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_195117015.jpg">
    <img src="/photos/erie/small/PXL_20220501_195117015.jpg" data-thumb="/photos/erie/small/PXL_20220501_195117015.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_195924358.jpg">
    <img src="/photos/erie/small/PXL_20220501_195924358.jpg" data-thumb="/photos/erie/small/PXL_20220501_195924358.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_195934653.jpg">
    <img src="/photos/erie/small/PXL_20220501_195934653.jpg" data-thumb="/photos/erie/small/PXL_20220501_195934653.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_202300018.jpg">
    <img src="/photos/erie/small/PXL_20220501_202300018.jpg" data-thumb="/photos/erie/small/PXL_20220501_202300018.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_203237446.jpg">
    <img src="/photos/erie/small/PXL_20220501_203237446.jpg" data-thumb="/photos/erie/small/PXL_20220501_203237446.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_203806805.jpg">
    <img src="/photos/erie/small/PXL_20220501_203806805.jpg" data-thumb="/photos/erie/small/PXL_20220501_203806805.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_212851679.jpg">
    <img src="/photos/erie/small/PXL_20220501_212851679.jpg" data-thumb="/photos/erie/small/PXL_20220501_212851679.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_214732353.jpg">
    <img src="/photos/erie/small/PXL_20220501_214732353.jpg" data-thumb="/photos/erie/small/PXL_20220501_214732353.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220501_235846285.jpg">
    <img src="/photos/erie/small/PXL_20220501_235846285.jpg" data-thumb="/photos/erie/small/PXL_20220501_235846285.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_004053231.jpg">
    <img src="/photos/erie/small/PXL_20220502_004053231.jpg" data-thumb="/photos/erie/small/PXL_20220502_004053231.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_133353388.jpg">
    <img src="/photos/erie/small/PXL_20220502_133353388.jpg" data-thumb="/photos/erie/small/PXL_20220502_133353388.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_154027388.jpg">
    <img src="/photos/erie/small/PXL_20220502_154027388.jpg" data-thumb="/photos/erie/small/PXL_20220502_154027388.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_180126008.jpg">
    <img src="/photos/erie/small/PXL_20220502_180126008.jpg" data-thumb="/photos/erie/small/PXL_20220502_180126008.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_184611138.jpg">
    <img src="/photos/erie/small/PXL_20220502_184611138.jpg" data-thumb="/photos/erie/small/PXL_20220502_184611138.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_191255554.jpg">
    <img src="/photos/erie/small/PXL_20220502_191255554.jpg" data-thumb="/photos/erie/small/PXL_20220502_191255554.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_192213625.jpg">
    <img src="/photos/erie/small/PXL_20220502_192213625.jpg" data-thumb="/photos/erie/small/PXL_20220502_192213625.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_195342089.jpg">
    <img src="/photos/erie/small/PXL_20220502_195342089.jpg" data-thumb="/photos/erie/small/PXL_20220502_195342089.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_195439239.jpg">
    <img src="/photos/erie/small/PXL_20220502_195439239.jpg" data-thumb="/photos/erie/small/PXL_20220502_195439239.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_195500632.jpg">
    <img src="/photos/erie/small/PXL_20220502_195500632.jpg" data-thumb="/photos/erie/small/PXL_20220502_195500632.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_201606331.jpg">
    <img src="/photos/erie/small/PXL_20220502_201606331.jpg" data-thumb="/photos/erie/small/PXL_20220502_201606331.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_205509815.jpg">
    <img src="/photos/erie/small/PXL_20220502_205509815.jpg" data-thumb="/photos/erie/small/PXL_20220502_205509815.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_205758170.jpg">
    <img src="/photos/erie/small/PXL_20220502_205758170.jpg" data-thumb="/photos/erie/small/PXL_20220502_205758170.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_205802902.jpg">
    <img src="/photos/erie/small/PXL_20220502_205802902.jpg" data-thumb="/photos/erie/small/PXL_20220502_205802902.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_214650880.jpg">
    <img src="/photos/erie/small/PXL_20220502_214650880.jpg" data-thumb="/photos/erie/small/PXL_20220502_214650880.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_214846807.jpg">
    <img src="/photos/erie/small/PXL_20220502_214846807.jpg" data-thumb="/photos/erie/small/PXL_20220502_214846807.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_215029874.jpg">
    <img src="/photos/erie/small/PXL_20220502_215029874.jpg" data-thumb="/photos/erie/small/PXL_20220502_215029874.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_215603639.jpg">
    <img src="/photos/erie/small/PXL_20220502_215603639.jpg" data-thumb="/photos/erie/small/PXL_20220502_215603639.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_215627000.jpg">
    <img src="/photos/erie/small/PXL_20220502_215627000.jpg" data-thumb="/photos/erie/small/PXL_20220502_215627000.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_220731273.jpg">
    <img src="/photos/erie/small/PXL_20220502_220731273.jpg" data-thumb="/photos/erie/small/PXL_20220502_220731273.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_220816111.jpg">
    <img src="/photos/erie/small/PXL_20220502_220816111.jpg" data-thumb="/photos/erie/small/PXL_20220502_220816111.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_220826438.jpg">
    <img src="/photos/erie/small/PXL_20220502_220826438.jpg" data-thumb="/photos/erie/small/PXL_20220502_220826438.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220502_220833514.jpg">
    <img src="/photos/erie/small/PXL_20220502_220833514.jpg" data-thumb="/photos/erie/small/PXL_20220502_220833514.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_025735611.jpg">
    <img src="/photos/erie/small/PXL_20220503_025735611.jpg" data-thumb="/photos/erie/small/PXL_20220503_025735611.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_032934686.jpg">
    <img src="/photos/erie/small/PXL_20220503_032934686.jpg" data-thumb="/photos/erie/small/PXL_20220503_032934686.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_033744919.jpg">
    <img src="/photos/erie/small/PXL_20220503_033744919.jpg" data-thumb="/photos/erie/small/PXL_20220503_033744919.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034055692.jpg">
    <img src="/photos/erie/small/PXL_20220503_034055692.jpg" data-thumb="/photos/erie/small/PXL_20220503_034055692.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034115191.jpg">
    <img src="/photos/erie/small/PXL_20220503_034115191.jpg" data-thumb="/photos/erie/small/PXL_20220503_034115191.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034205344.jpg">
    <img src="/photos/erie/small/PXL_20220503_034205344.jpg" data-thumb="/photos/erie/small/PXL_20220503_034205344.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034212702.jpg">
    <img src="/photos/erie/small/PXL_20220503_034212702.jpg" data-thumb="/photos/erie/small/PXL_20220503_034212702.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034247169.jpg">
    <img src="/photos/erie/small/PXL_20220503_034247169.jpg" data-thumb="/photos/erie/small/PXL_20220503_034247169.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034420880.jpg">
    <img src="/photos/erie/small/PXL_20220503_034420880.jpg" data-thumb="/photos/erie/small/PXL_20220503_034420880.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_034933911.jpg">
    <img src="/photos/erie/small/PXL_20220503_034933911.jpg" data-thumb="/photos/erie/small/PXL_20220503_034933911.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_113803273.jpg">
    <img src="/photos/erie/small/PXL_20220503_113803273.jpg" data-thumb="/photos/erie/small/PXL_20220503_113803273.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_125324147.jpg">
    <img src="/photos/erie/small/PXL_20220503_125324147.jpg" data-thumb="/photos/erie/small/PXL_20220503_125324147.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_131436240.jpg">
    <img src="/photos/erie/small/PXL_20220503_131436240.jpg" data-thumb="/photos/erie/small/PXL_20220503_131436240.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_140927324.jpg">
    <img src="/photos/erie/small/PXL_20220503_140927324.jpg" data-thumb="/photos/erie/small/PXL_20220503_140927324.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_140938015.jpg">
    <img src="/photos/erie/small/PXL_20220503_140938015.jpg" data-thumb="/photos/erie/small/PXL_20220503_140938015.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_144158745.jpg">
    <img src="/photos/erie/small/PXL_20220503_144158745.jpg" data-thumb="/photos/erie/small/PXL_20220503_144158745.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_145742236.jpg">
    <img src="/photos/erie/small/PXL_20220503_145742236.jpg" data-thumb="/photos/erie/small/PXL_20220503_145742236.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_150340840.jpg">
    <img src="/photos/erie/small/PXL_20220503_150340840.jpg" data-thumb="/photos/erie/small/PXL_20220503_150340840.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_154320570.jpg">
    <img src="/photos/erie/small/PXL_20220503_154320570.jpg" data-thumb="/photos/erie/small/PXL_20220503_154320570.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_154335974.jpg">
    <img src="/photos/erie/small/PXL_20220503_154335974.jpg" data-thumb="/photos/erie/small/PXL_20220503_154335974.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_163350529.jpg">
    <img src="/photos/erie/small/PXL_20220503_163350529.jpg" data-thumb="/photos/erie/small/PXL_20220503_163350529.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_163531472.jpg">
    <img src="/photos/erie/small/PXL_20220503_163531472.jpg" data-thumb="/photos/erie/small/PXL_20220503_163531472.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_182926525.jpg">
    <img src="/photos/erie/small/PXL_20220503_182926525.jpg" data-thumb="/photos/erie/small/PXL_20220503_182926525.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_190241462.jpg">
    <img src="/photos/erie/small/PXL_20220503_190241462.jpg" data-thumb="/photos/erie/small/PXL_20220503_190241462.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_190322370.jpg">
    <img src="/photos/erie/small/PXL_20220503_190322370.jpg" data-thumb="/photos/erie/small/PXL_20220503_190322370.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_194616656.jpg">
    <img src="/photos/erie/small/PXL_20220503_194616656.jpg" data-thumb="/photos/erie/small/PXL_20220503_194616656.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_200924459.jpg">
    <img src="/photos/erie/small/PXL_20220503_200924459.jpg" data-thumb="/photos/erie/small/PXL_20220503_200924459.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_204448846.jpg">
    <img src="/photos/erie/small/PXL_20220503_204448846.jpg" data-thumb="/photos/erie/small/PXL_20220503_204448846.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_213609088.jpg">
    <img src="/photos/erie/small/PXL_20220503_213609088.jpg" data-thumb="/photos/erie/small/PXL_20220503_213609088.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220503_223158122.jpg">
    <img src="/photos/erie/small/PXL_20220503_223158122.jpg" data-thumb="/photos/erie/small/PXL_20220503_223158122.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_124113258.jpg">
    <img src="/photos/erie/small/PXL_20220504_124113258.jpg" data-thumb="/photos/erie/small/PXL_20220504_124113258.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_131352412.jpg">
    <img src="/photos/erie/small/PXL_20220504_131352412.jpg" data-thumb="/photos/erie/small/PXL_20220504_131352412.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_131357973.jpg">
    <img src="/photos/erie/small/PXL_20220504_131357973.jpg" data-thumb="/photos/erie/small/PXL_20220504_131357973.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_132738454.jpg">
    <img src="/photos/erie/small/PXL_20220504_132738454.jpg" data-thumb="/photos/erie/small/PXL_20220504_132738454.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_134602125.jpg">
    <img src="/photos/erie/small/PXL_20220504_134602125.jpg" data-thumb="/photos/erie/small/PXL_20220504_134602125.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_141858926.jpg">
    <img src="/photos/erie/small/PXL_20220504_141858926.jpg" data-thumb="/photos/erie/small/PXL_20220504_141858926.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_142146119.jpg">
    <img src="/photos/erie/small/PXL_20220504_142146119.jpg" data-thumb="/photos/erie/small/PXL_20220504_142146119.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_142859176.jpg">
    <img src="/photos/erie/small/PXL_20220504_142859176.jpg" data-thumb="/photos/erie/small/PXL_20220504_142859176.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_143013313.jpg">
    <img src="/photos/erie/small/PXL_20220504_143013313.jpg" data-thumb="/photos/erie/small/PXL_20220504_143013313.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_143139065.jpg">
    <img src="/photos/erie/small/PXL_20220504_143139065.jpg" data-thumb="/photos/erie/small/PXL_20220504_143139065.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_143142085.jpg">
    <img src="/photos/erie/small/PXL_20220504_143142085.jpg" data-thumb="/photos/erie/small/PXL_20220504_143142085.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_143249867.jpg">
    <img src="/photos/erie/small/PXL_20220504_143249867.jpg" data-thumb="/photos/erie/small/PXL_20220504_143249867.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_170524434.jpg">
    <img src="/photos/erie/small/PXL_20220504_170524434.jpg" data-thumb="/photos/erie/small/PXL_20220504_170524434.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_174545180.jpg">
    <img src="/photos/erie/small/PXL_20220504_174545180.jpg" data-thumb="/photos/erie/small/PXL_20220504_174545180.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_180826881.jpg">
    <img src="/photos/erie/small/PXL_20220504_180826881.jpg" data-thumb="/photos/erie/small/PXL_20220504_180826881.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_194027809.jpg">
    <img src="/photos/erie/small/PXL_20220504_194027809.jpg" data-thumb="/photos/erie/small/PXL_20220504_194027809.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_194032971.jpg">
    <img src="/photos/erie/small/PXL_20220504_194032971.jpg" data-thumb="/photos/erie/small/PXL_20220504_194032971.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_194847272.jpg">
    <img src="/photos/erie/small/PXL_20220504_194847272.jpg" data-thumb="/photos/erie/small/PXL_20220504_194847272.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_201216210.jpg">
    <img src="/photos/erie/small/PXL_20220504_201216210.jpg" data-thumb="/photos/erie/small/PXL_20220504_201216210.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220504_215005267.jpg">
    <img src="/photos/erie/small/PXL_20220504_215005267.jpg" data-thumb="/photos/erie/small/PXL_20220504_215005267.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_020019436.jpg">
    <img src="/photos/erie/small/PXL_20220505_020019436.jpg" data-thumb="/photos/erie/small/PXL_20220505_020019436.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_020714668.jpg">
    <img src="/photos/erie/small/PXL_20220505_020714668.jpg" data-thumb="/photos/erie/small/PXL_20220505_020714668.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_020739189.jpg">
    <img src="/photos/erie/small/PXL_20220505_020739189.jpg" data-thumb="/photos/erie/small/PXL_20220505_020739189.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_110717853.jpg">
    <img src="/photos/erie/small/PXL_20220505_110717853.jpg" data-thumb="/photos/erie/small/PXL_20220505_110717853.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_120253658.jpg">
    <img src="/photos/erie/small/PXL_20220505_120253658.jpg" data-thumb="/photos/erie/small/PXL_20220505_120253658.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_121048865.jpg">
    <img src="/photos/erie/small/PXL_20220505_121048865.jpg" data-thumb="/photos/erie/small/PXL_20220505_121048865.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_132211578.jpg">
    <img src="/photos/erie/small/PXL_20220505_132211578.jpg" data-thumb="/photos/erie/small/PXL_20220505_132211578.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_132244624.jpg">
    <img src="/photos/erie/small/PXL_20220505_132244624.jpg" data-thumb="/photos/erie/small/PXL_20220505_132244624.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_132247066.jpg">
    <img src="/photos/erie/small/PXL_20220505_132247066.jpg" data-thumb="/photos/erie/small/PXL_20220505_132247066.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_132358410.jpg">
    <img src="/photos/erie/small/PXL_20220505_132358410.jpg" data-thumb="/photos/erie/small/PXL_20220505_132358410.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_145034186.jpg">
    <img src="/photos/erie/small/PXL_20220505_145034186.jpg" data-thumb="/photos/erie/small/PXL_20220505_145034186.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_153008410.jpg">
    <img src="/photos/erie/small/PXL_20220505_153008410.jpg" data-thumb="/photos/erie/small/PXL_20220505_153008410.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_172215574.jpg">
    <img src="/photos/erie/small/PXL_20220505_172215574.jpg" data-thumb="/photos/erie/small/PXL_20220505_172215574.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_173015873.jpg">
    <img src="/photos/erie/small/PXL_20220505_173015873.jpg" data-thumb="/photos/erie/small/PXL_20220505_173015873.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_173017612.jpg">
    <img src="/photos/erie/small/PXL_20220505_173017612.jpg" data-thumb="/photos/erie/small/PXL_20220505_173017612.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_173321428.jpg">
    <img src="/photos/erie/small/PXL_20220505_173321428.jpg" data-thumb="/photos/erie/small/PXL_20220505_173321428.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_190010671.jpg">
    <img src="/photos/erie/small/PXL_20220505_190010671.jpg" data-thumb="/photos/erie/small/PXL_20220505_190010671.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_194658503.jpg">
    <img src="/photos/erie/small/PXL_20220505_194658503.jpg" data-thumb="/photos/erie/small/PXL_20220505_194658503.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_194912024.jpg">
    <img src="/photos/erie/small/PXL_20220505_194912024.jpg" data-thumb="/photos/erie/small/PXL_20220505_194912024.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_200128573.jpg">
    <img src="/photos/erie/small/PXL_20220505_200128573.jpg" data-thumb="/photos/erie/small/PXL_20220505_200128573.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_202208359.jpg">
    <img src="/photos/erie/small/PXL_20220505_202208359.jpg" data-thumb="/photos/erie/small/PXL_20220505_202208359.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_205824713.jpg">
    <img src="/photos/erie/small/PXL_20220505_205824713.jpg" data-thumb="/photos/erie/small/PXL_20220505_205824713.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_205946355.jpg">
    <img src="/photos/erie/small/PXL_20220505_205946355.jpg" data-thumb="/photos/erie/small/PXL_20220505_205946355.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_210149737.jpg">
    <img src="/photos/erie/small/PXL_20220505_210149737.jpg" data-thumb="/photos/erie/small/PXL_20220505_210149737.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_211915279.jpg">
    <img src="/photos/erie/small/PXL_20220505_211915279.jpg" data-thumb="/photos/erie/small/PXL_20220505_211915279.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_215032011.jpg">
    <img src="/photos/erie/small/PXL_20220505_215032011.jpg" data-thumb="/photos/erie/small/PXL_20220505_215032011.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_220047224.jpg">
    <img src="/photos/erie/small/PXL_20220505_220047224.jpg" data-thumb="/photos/erie/small/PXL_20220505_220047224.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_220158273.jpg">
    <img src="/photos/erie/small/PXL_20220505_220158273.jpg" data-thumb="/photos/erie/small/PXL_20220505_220158273.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/erie/big/PXL_20220505_221810708.jpg">
    <img src="/photos/erie/small/PXL_20220505_221810708.jpg" data-thumb="/photos/erie/small/PXL_20220505_221810708.jpg">
    </a>
</section>
