---
title: Felt F85X Flatbar Bike
summary: After putting about 5,000 miles on  my cheapo commuter I decided it was time to build what I really wanted in a commuter/kid hauler/camping bike.
published: 2020-09-18
tag: wheels
image: /photos/f85x/big/IMG_20200919_161337.jpg
layout: default.hbs
---

<p>
I had been riding a used 2013 Cannondale Quick SL3 as my commuter/camping bike for about 5 years. The bike has been perfect, but I'm lazy and don't clean it often and had managed to wear through the brake tracks on 2 sets of wheels and didn't want to buy a third. My new commute also takes me through Rock Creek Park at night and I wanted better brakes for wet weather and almost hitting deer a few times.
</p>

<p>
I had been looking at building up what I wanted which was pretty much just a nice flatbar commuter/bikepacking setup with hydraulic brakes, but buying all the parts and putting it together would have come in at north of $2,500 and since this is a bike I lock on the street sometimes I didn't want to spend that.
</p>

<p>
When I built this bike there was surprisingly a very low number of off the shelf bikes for <em>"I want a 1X drivetrain, hydraulic brakes, flat bars, and frame mounts for a rear rack"</em> so I hunted for something that was close and then planned to swap parts.
I found a Felt <a href="https://www.thebikelane.com/product/felt-bicycles-f85x-240409-1.htm">F85X CX bike</a> on Craigslist which was really close to what I wanted and really liked the color (Snozberry). I picked it up and replaced the following on it ending up with exactly what I wanted for around $1,000.
</p>

<h2>Original Bike</h2>
<img src="/photos/f85x/f85x_original.jpg" alt="original" class="inline">

<h2>Parts All Swapped Out</h2>
<img src="/photos/f85x/f85x_new.jpg" alt="new" class="inline">

<h2>Build Details</h2>
<ul>
<li>
Swapped on a rando MTB flatbar from the bike coop and ended up cutting it down several times until my shoulders stopped hurting riding it.
</li>
<li>
Went with orange <a href="https://www.ergonbike.com/en/article-ga3.html">Ergon GA3 Grips</a>. These have a nice little lip to better rest your palms on than typical MTB grips.
</li>
<li>
The drivetrain is <a href="https://bike.shimano.com/en-EU/product/component/slx-m7000.html">11 Speed Shimano SLX</a> which is absolutely the way to go for a simple cheap 1X conversion on any bike. Running a <a href="https://www.wolftoothcomponents.com/collections/chainrings/products/110-bcd-cyclocross-chainrings">Wolftooth 44T chainring</a> upfront to a 42T cassette in the back. This gearing works great for me in the city, but for long distance touring with a fully loaded bike, I'd probably want to go down to a 40T in the front. This also has the <a href="https://www.wolftoothcomponents.com/collections/drivetrain-1/products/set-of-5-chainring-bolts-nuts-for-1x">1X specific Wolftooth chainring bolts</a> in blingy orange.
<ul>
	<li>My only complaint is that on higher tier Shimano shifters like XT or XTR you can press the upshift lever forward and it will shift up 2 gears in a single press. The SLX shifter lets you press forward the same way, but only gets you 1 gear instead of 2. This is really nice when you hit a downhill and want to crank real hard.</li>
</ul>
</li>
<li>
<a href="https://www.continental-tires.com/bicycle/tires/race-tires/gator-hardshell">Continental 32MM Gatorskin Hardshells Tires</a> have been bombproof for me. I don't think I've gotten a flat on them in 5 years of city riding as long as they're changed out when they are worn down.
</li>
<li>
<a href="https://fabric.cc/products/saddles/scoop-sport-radius-142mm-saddle/">Fabric Scoop Sport</a> saddle cause it's cheap, durable, and well padded. I run Fizik Antares saddles on my other two racier bikes, and tried one on this bike, but it didn't work for more upright riding and horrible DC roads.
</li>
<li>
<a href="https://www.singletracks.com/mtb-gear/review-shimano-mt520-brakes-are-an-affordable-choice-for-enduro/">Shimano MT520</a> brakes which are an interesting new option from Shimano. They are 4 piston brakes with great stopping power for cheap, but aren't part of the other higher teir Shimano MTB parts lines because they seem to be made more to target the e-bike market. I run Maguras on my mountain bike which I really like, but are finicky to get working right and I wanted something dead simple reliable on this bike that was easy to service if I was ever out on a long trip. I also went with Shimano XT Ice-Tech Rotors which are higher end than probably anything else on this bike, but well worth it in terms of stopping power.
<ul>
	<li>I had a ton of trouble with the rear brake which ended up being contaminated or glazed over pads. I ended up getting these cheapo <a href="https://www.amazon.com/gp/product/B06XFJYWHL">Gekors ceramic pads</a> which work really well for dirt cheap compared to the Shimano D02S pads that came with the MT520s.</li>
</ul>
</li>
<li>
<a href="https://ridepdw.com/products/sodapop-fenders?variant=24676947585">PDW Sodapop Fenders</a> since I wanted something light without additional bracing and was OK if they weren't the best fenders for blocking water.
</li>
<li>
<a href="https://www.funnmtb.com/products/mamba/">Funn Mamba Pedals</a> SPD compatible pedals. I've ridden these for a while and they are some of the only 1/2 clip pedals that are actually decent on the non clip side with proper metal pins. I really dig these since sometimes I'll take the bike on a quick spin to the hardware store, but other times I'll want to ride it all day, and then ride to a bar in flip flops.
</li>
<li>
<a href="https://www.trekbikes.com/us/en_US/equipment/bike-accessories/bike-water-bottles-cages/bike-water-bottle-cages/bontrager-rl-water-bottle-cage/p/09664/">Bontrager RL Bottle Cages</a>
</li>
<li>
<a href="https://www.trekbikes.com/us/en_US/equipment/bike-accessories/bike-racks-fenders-locks/bike-racks/bontrager-backrack-mik/p/27231/">Bontrager Back Rack</a>. These are nice and wide and the adjustment to mount to the seat stays is easier than most other racks.
</li>
<li>
	PZ Racing Anti-Theft Skewers. These are great, but don't seem to be available for sale anymore. I honestly don't care about thru-axle vs QR axle performance on this bike and I'd rather my wheels not get stolen. These skewers have a nice little key sized tool to take them off which I always keep on my keychain.
<li>
The Blue/Black blob on the seat tube is for a <a href="https://www.thule.com/en-us/child-bike-seats/thule-ridealong/thule-ridealong-_-100107">Thule Ride Along</a> rear seat mount which has been great for hauling my kiddos. This thing blocks a water bottle on the seat tube so I run a <a href="https://www.wolftoothcomponents.com/collections/b-rad-system/products/b-rad-bottle-relocation-and-accessory-device">Wolf Tooth B-Rad</a> adapter to move the bottle cage lower.
</li>
</ul>

<p>
The bike is pretty settled in now the way I want it. The only thing I may swap is some 27.5" tubeless wheels onto it with some wide trendy gravel tires for smooth rolling on gravel races/rides, but it doesn't really make sense since 95% of my riding is just in DC on pavement.
</p>

<section class="thumbnails">
<a rel="lightbox[set]" href="/photos/f85x/big/IMG_20200919_161337.jpg">
<img src="/photos/f85x/small/IMG_20200919_161337.jpg" data-thumb="/photos/f85x/small/IMG_20200919_161337.jpg">
</a>
<a rel="lightbox[set]" href="/photos/f85x/big/IMG_20200919_161454.jpg">
<img src="/photos/f85x/small/IMG_20200919_161454.jpg" data-thumb="/photos/f85x/small/IMG_20200919_161454.jpg">
</a>
<a rel="lightbox[set]" href="/photos/f85x/big/IMG_20200919_161545.jpg">
<img src="/photos/f85x/small/IMG_20200919_161545.jpg" data-thumb="/photos/f85x/small/IMG_20200919_161545.jpg">
</a>
<a rel="lightbox[set]" href="/photos/f85x/big/IMG_20200919_161826.jpg">
<img src="/photos/f85x/small/IMG_20200919_161826.jpg" data-thumb="/photos/f85x/small/IMG_20200919_161826.jpg">
</a>
<a rel="lightbox[set]" href="/photos/f85x/big/IMG_20200919_161846.jpg">
<img src="/photos/f85x/small/IMG_20200919_161846.jpg" data-thumb="/photos/f85x/small/IMG_20200919_161846.jpg">
</a>
<a rel="lightbox[set]" href="/photos/f85x/big/IMG_20200919_162016.jpg">
<img src="/photos/f85x/small/IMG_20200919_162016.jpg" data-thumb="/photos/f85x/small/IMG_20200919_162016.jpg">
</a>
</section>
