---
title: FYBO Scooter Rally Interview
summary: A local paper in Raleigh, NC interviewed me about a vintage scooter rally I was down there for.
published: 2014-01-18
tag: wheels
layout: default.hbs
---

	<p>A local paper in Raleigh, NC interviewed me about a vintage scooter rally I was down there for.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5jRZ8cS4vrQ" frameborder="0" allowfullscreen></iframe>
