---
title: June Northern Virginia Ride
summary: Monthly ride on some of the best roads around DC.
published: 2011-06-26
tag: wheels
image: /photos/5153/5874039692_dc66c25dba_z.jpg
layout: default.hbs
---

	<p>
Met up with about 10 other riders in Alexandria and covered about 100 miles all over Fairfax County on some of the nicest curves around DC. You can checkout the actual route <a href="http://rideplanner.harley-davidson.com/rideplanner/ridePlanner.jsp?roadId=409128&amp;locale=en_US">here</a>. Also stopped by the Bunnyman Bridge which has a <a href="http://en.wikipedia.org/wiki/Bunny_Man">pretty good urban legend</a>. This was the hardest I had ridden the new P200 yet and it held up just fine. Also started discussing potentially running <a href="http://www.scootercannonball.com/">this next year</a>.
</p>
<p>Huge thanks to Kevin J for planning the route and doing a great job leading as usual. I'll post the actual route here later today.</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/3185/5873482801_cc68f5eb4a_z.jpg" title="DSCF9223"><img src="/photos/3185/5873482801_cc68f5eb4a_t.jpg" data-thumb="/photos/3185/5873482801_cc68f5eb4a_t.jpg"></a><a rel="lightbox[set]" href="/photos/5066/5874040764_fbfdd74018_z.jpg" title="DSCF9222"><img src="/photos/5066/5874040764_fbfdd74018_t.jpg" data-thumb="/photos/5066/5874040764_fbfdd74018_t.jpg"></a><a rel="lightbox[set]" href="/photos/5264/5874040576_a8fb2d5852_z.jpg" title="DSCF9221"><img src="/photos/5264/5874040576_a8fb2d5852_t.jpg" data-thumb="/photos/5264/5874040576_a8fb2d5852_t.jpg"></a><a rel="lightbox[set]" href="/photos/6011/5873482223_c1c6cac248_z.jpg" title="DSCF9220"><img src="/photos/6011/5873482223_c1c6cac248_t.jpg" data-thumb="/photos/6011/5873482223_c1c6cac248_t.jpg"></a><a rel="lightbox[set]" href="/photos/5279/5874040176_2d6ff8e754_z.jpg" title="DSCF9219"><img src="/photos/5279/5874040176_2d6ff8e754_t.jpg" data-thumb="/photos/5279/5874040176_2d6ff8e754_t.jpg"></a><a rel="lightbox[set]" href="/photos/3083/5874040074_39a1c8d60b_z.jpg" title="DSCF9218"><img src="/photos/3083/5874040074_39a1c8d60b_t.jpg" data-thumb="/photos/3083/5874040074_39a1c8d60b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5064/5874039916_fe39821c23_z.jpg" title="DSCF9217"><img src="/photos/5064/5874039916_fe39821c23_t.jpg" data-thumb="/photos/5064/5874039916_fe39821c23_t.jpg"></a><a rel="lightbox[set]" href="/photos/3160/5873481619_60928ac84b_z.jpg" title="DSCF9216"><img src="/photos/3160/5873481619_60928ac84b_t.jpg" data-thumb="/photos/3160/5873481619_60928ac84b_t.jpg"></a><a rel="lightbox[set]" href="/photos/5153/5874039692_dc66c25dba_z.jpg" title="DSCF9215"><img src="/photos/5153/5874039692_dc66c25dba_t.jpg" data-thumb="/photos/5153/5874039692_dc66c25dba_t.jpg"></a><a rel="lightbox[set]" href="/photos/5146/5874039480_37bb4107ca_z.jpg" title="DSCF9214"><img src="/photos/5146/5874039480_37bb4107ca_t.jpg" data-thumb="/photos/5146/5874039480_37bb4107ca_t.jpg"></a><a rel="lightbox[set]" href="/photos/3188/5873481029_5442ee01cb_z.jpg" title="DSCF9213"><img src="/photos/3188/5873481029_5442ee01cb_t.jpg" data-thumb="/photos/3188/5873481029_5442ee01cb_t.jpg"></a>		</section>
