---
title: Mountain Biking at Fountainhead
summary: Some footage from the green and blue loops at Fountainhead on the hardtail 29"er.
published: 2015-10-01
tag: wheels
layout: default.hbs
---

	<p>Some footage from the green and blue loops at Fountainhead on the hardtail 29"er.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/RQbnc1asLHA" frameborder="0" allowfullscreen></iframe>
