---
title: North of San Francisco
summary: Riding a Triumph Bonneville north of San Francisco for the day.
published: 2011-08-30
tag: wheels
image: /photos/6090/6097775247_f984b50dd4_z.jpg
layout: default.hbs
---

	<p>I was out in San Francisco for a few weeks and rented a Triumph Bonneville from <a href="http://www.dubbelju.com/">these guys</a> for the weekend. I had seen plenty of this city, but this was the first time I'd ever really been to more rural areas in California.</p>
<p>Rode along the Embarcadero over to the Golden Gate bridge and spent a little time on the highway before getting off on Route 1. It's a road that is pretty much the cliche windy path through the cliffs along the beach. The curves are some of the best I've ever ridden. I rode north past <a href="http://www.nps.gov/muwo">Miur Woods</a> through some of the densest forests I've ever seen and then stopped at a few beaches. The coast is about half beaches and half bays which makes for amazing scenery.</p>
<p>This was the first Triumph I've ever ridden and it was a solid no frills standard motorcycle. Plenty of power at 865cc and not too bulky. Nothing makes me happier than to see standard bikes selling well in the US. Not everyone wants a huge cruiser or a sport bike. It definitely stands out too with nice vintage styling. My only complaint would be that the horn was pretty weak.
</p>
<p>
Eventually I headed east through Petaluma and then stopped in downtown Sonoma which has a nice park and downtown area. I kept heading east through wine country in Napa and then eventually headed south to Vallejo. I took 37 back which feels like a road in the middle of the water with marshland to the north and the San Pablo Bay to the south. Hopped on the highway and made it all the way back to San Francisco.
</p>
<p>I just spent the next 2 hours aimlessly riding around with no idea where I was going checking out the various neighborhoods and tearing up plenty of hills.</p>
<p>All in all a very fun city to ride in as evidenced by the number of riders out there and also tons of nice bikes. I spotted tons of nice old Japanese cafe racers and several Aprilia RSVs which I don't think I've ever seen in DC. I highly recommend renting a motorcycle out there if you ever get the chance.
</p>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/6146/6097773409_417386053a_z.jpg" title="DSCF9244"><img src="/photos/6146/6097773409_417386053a_t.jpg" data-thumb="/photos/6146/6097773409_417386053a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6205/6098320276_414812a922_z.jpg" title="DSCF9245"><img src="/photos/6205/6098320276_414812a922_t.jpg" data-thumb="/photos/6205/6098320276_414812a922_t.jpg"></a><a rel="lightbox[set]" href="/photos/6191/6098320362_ab771483cb_z.jpg" title="DSCF9246"><img src="/photos/6191/6098320362_ab771483cb_t.jpg" data-thumb="/photos/6191/6098320362_ab771483cb_t.jpg"></a><a rel="lightbox[set]" href="/photos/6135/6098320438_6dd22f9bc3_z.jpg" title="DSCF9247"><img src="/photos/6135/6098320438_6dd22f9bc3_t.jpg" data-thumb="/photos/6135/6098320438_6dd22f9bc3_t.jpg"></a><a rel="lightbox[set]" href="/photos/6061/6097773707_51af8a3355_z.jpg" title="DSCF9248"><img src="/photos/6061/6097773707_51af8a3355_t.jpg" data-thumb="/photos/6061/6097773707_51af8a3355_t.jpg"></a><a rel="lightbox[set]" href="/photos/6022/6097773867_b25a7c99a0_z.jpg" title="DSCF9251"><img src="/photos/6022/6097773867_b25a7c99a0_t.jpg" data-thumb="/photos/6022/6097773867_b25a7c99a0_t.jpg"></a><a rel="lightbox[set]" href="/photos/6142/6097773823_16df0b0c25_z.jpg" title="DSCF9250"><img src="/photos/6142/6097773823_16df0b0c25_t.jpg" data-thumb="/photos/6142/6097773823_16df0b0c25_t.jpg"></a><a rel="lightbox[set]" href="/photos/6189/6097773761_65307975d6_z.jpg" title="DSCF9249"><img src="/photos/6189/6097773761_65307975d6_t.jpg" data-thumb="/photos/6189/6097773761_65307975d6_t.jpg"></a><a rel="lightbox[set]" href="/photos/6192/6097773997_daa83f5d5d_z.jpg" title="DSCF9252"><img src="/photos/6192/6097773997_daa83f5d5d_t.jpg" data-thumb="/photos/6192/6097773997_daa83f5d5d_t.jpg"></a><a rel="lightbox[set]" href="/photos/6145/6097774141_cfde782895_z.jpg" title="DSCF9254"><img src="/photos/6145/6097774141_cfde782895_t.jpg" data-thumb="/photos/6145/6097774141_cfde782895_t.jpg"></a><a rel="lightbox[set]" href="/photos/6129/6097774219_3f82b08c0a_z.jpg" title="DSCF9255"><img src="/photos/6129/6097774219_3f82b08c0a_t.jpg" data-thumb="/photos/6129/6097774219_3f82b08c0a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6203/6098320866_6e3d7c5cc6_z.jpg" title="DSCF9253"><img src="/photos/6203/6098320866_6e3d7c5cc6_t.jpg" data-thumb="/photos/6203/6098320866_6e3d7c5cc6_t.jpg"></a><a rel="lightbox[set]" href="/photos/6183/6097774293_d37ce8a14f_z.jpg" title="DSCF9256"><img src="/photos/6183/6097774293_d37ce8a14f_t.jpg" data-thumb="/photos/6183/6097774293_d37ce8a14f_t.jpg"></a><a rel="lightbox[set]" href="/photos/6006/6098321188_16075b024a_z.jpg" title="DSCF9257"><img src="/photos/6006/6098321188_16075b024a_t.jpg" data-thumb="/photos/6006/6098321188_16075b024a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6085/6097774421_b11efb015a_z.jpg" title="DSCF9258"><img src="/photos/6085/6097774421_b11efb015a_t.jpg" data-thumb="/photos/6085/6097774421_b11efb015a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6133/6098321488_493e76c9e2_z.jpg" title="DSCF9260"><img src="/photos/6133/6098321488_493e76c9e2_t.jpg" data-thumb="/photos/6133/6098321488_493e76c9e2_t.jpg"></a><a rel="lightbox[set]" href="/photos/6064/6097774803_d5e351e69d_z.jpg" title="DSCF9262"><img src="/photos/6064/6097774803_d5e351e69d_t.jpg" data-thumb="/photos/6064/6097774803_d5e351e69d_t.jpg"></a><a rel="lightbox[set]" href="/photos/6198/6097774951_d7483abe99_z.jpg" title="DSCF9263"><img src="/photos/6198/6097774951_d7483abe99_t.jpg" data-thumb="/photos/6198/6097774951_d7483abe99_t.jpg"></a><a rel="lightbox[set]" href="/photos/6183/6097775043_01f5e6f825_z.jpg" title="DSCF9264"><img src="/photos/6183/6097775043_01f5e6f825_t.jpg" data-thumb="/photos/6183/6097775043_01f5e6f825_t.jpg"></a><a rel="lightbox[set]" href="/photos/6020/6097775165_4cabd5b21a_z.jpg" title="DSCF9265"><img src="/photos/6020/6097775165_4cabd5b21a_t.jpg" data-thumb="/photos/6020/6097775165_4cabd5b21a_t.jpg"></a><a rel="lightbox[set]" href="/photos/6090/6097775247_f984b50dd4_z.jpg" title="DSCF9266"><img src="/photos/6090/6097775247_f984b50dd4_t.jpg" data-thumb="/photos/6090/6097775247_f984b50dd4_t.jpg"></a><a rel="lightbox[set]" href="/photos/6003/6097775393_c55a1eee78_z.jpg" title="DSCF9267"><img src="/photos/6003/6097775393_c55a1eee78_t.jpg" data-thumb="/photos/6003/6097775393_c55a1eee78_t.jpg"></a><a rel="lightbox[set]" href="/photos/6131/6097775499_602afcbaf6_z.jpg" title="DSCF9268"><img src="/photos/6131/6097775499_602afcbaf6_t.jpg" data-thumb="/photos/6131/6097775499_602afcbaf6_t.jpg"></a><a rel="lightbox[set]" href="/photos/6029/6097775605_d1b1fb7199_z.jpg" title="DSCF9269"><img src="/photos/6029/6097775605_d1b1fb7199_t.jpg" data-thumb="/photos/6029/6097775605_d1b1fb7199_t.jpg"></a><a rel="lightbox[set]" href="/photos/6196/6097775701_4286483a2e_z.jpg" title="DSCF9270"><img src="/photos/6196/6097775701_4286483a2e_t.jpg" data-thumb="/photos/6196/6097775701_4286483a2e_t.jpg"></a><a rel="lightbox[set]" href="/photos/6199/6098322694_bab54a6aa7_z.jpg" title="DSCF9271"><img src="/photos/6199/6098322694_bab54a6aa7_t.jpg" data-thumb="/photos/6199/6098322694_bab54a6aa7_t.jpg"></a><a rel="lightbox[set]" href="/photos/6087/6097775943_d066f1a2ff_z.jpg" title="DSCF9272"><img src="/photos/6087/6097775943_d066f1a2ff_t.jpg" data-thumb="/photos/6087/6097775943_d066f1a2ff_t.jpg"></a><a rel="lightbox[set]" href="/photos/6186/6097776059_241a4da396_z.jpg" title="DSCF9273"><img src="/photos/6186/6097776059_241a4da396_t.jpg" data-thumb="/photos/6186/6097776059_241a4da396_t.jpg"></a><a rel="lightbox[set]" href="/photos/6137/6098323410_2e1d3b728e_z.jpg" title="DSCF9277"><img src="/photos/6137/6098323410_2e1d3b728e_t.jpg" data-thumb="/photos/6137/6098323410_2e1d3b728e_t.jpg"></a><a rel="lightbox[set]" href="/photos/6194/6097776661_5218830caf_z.jpg" title="DSCF9278"><img src="/photos/6194/6097776661_5218830caf_t.jpg" data-thumb="/photos/6194/6097776661_5218830caf_t.jpg"></a><a rel="lightbox[set]" href="/photos/6063/6097776827_b562465d1e_z.jpg" title="DSCF9279"><img src="/photos/6063/6097776827_b562465d1e_t.jpg" data-thumb="/photos/6063/6097776827_b562465d1e_t.jpg"></a><a rel="lightbox[set]" href="/photos/6074/6097776891_47139b16bd_z.jpg" title="DSCF9280"><img src="/photos/6074/6097776891_47139b16bd_t.jpg" data-thumb="/photos/6074/6097776891_47139b16bd_t.jpg"></a><a rel="lightbox[set]" href="/photos/6194/6097776949_e8267fda93_z.jpg" title="DSCF9281"><img src="/photos/6194/6097776949_e8267fda93_t.jpg" data-thumb="/photos/6194/6097776949_e8267fda93_t.jpg"></a><a rel="lightbox[set]" href="/photos/6188/6097777023_93580d30a4_z.jpg" title="DSCF9282"><img src="/photos/6188/6097777023_93580d30a4_t.jpg" data-thumb="/photos/6188/6097777023_93580d30a4_t.jpg"></a><a rel="lightbox[set]" href="/photos/6078/6098324044_a3428c5ee8_z.jpg" title="DSCF9283"><img src="/photos/6078/6098324044_a3428c5ee8_t.jpg" data-thumb="/photos/6078/6098324044_a3428c5ee8_t.jpg"></a><a rel="lightbox[set]" href="/photos/6203/6098618236_6ae596be45_z.jpg" title="IMG_20110813_092434"><img src="/photos/6203/6098618236_6ae596be45_t.jpg" data-thumb="/photos/6203/6098618236_6ae596be45_t.jpg"></a>		</section>
