---
title: Biking the Ohio to Erie Trail
summary: 4 days and 335 miles biking from Cincinnati to Cleveland
published: 2023-07-30
tag: wheels
image: /photos/ohio-to-erie/big/PXL_20230727_212243071.jpg
layout: default.hbs
---

<img src="/photos/ohio-to-erie/big/PXL_20230727_212243071.jpg" alt="Done" class="inline">

<p>I had been working a ton lately and my wife had been traveling for work frequently so it was time to checkout for a week and be by myself. Between work and the kids my whole day is pretty scripted so a week doing whatever I wanted with my time was what it was going to be. I've done <a href="/wheels/empire-state-erie-canal.html">two</a> <a href="/wheels/biking-from-pittsburgh-to-dc.html">other</a> similar bike trips so I know I enjoy them and started to plan a new one.</p>
</p>
<h2>Planning</h2>
<h3>Route</h3>
<p>
    I think I found it on one one of the bicycle touring subreddits, but the <a href="https://www.ohiotoerietrail.org/">Ohio to Erie Trail</a> looked perfect. It was 326 miles from Cincinnati to Cleveland of mostly paved bike path with plenty of places to stop along the way. Most of my other bike trips are planned about 6 months out with other people, but I think this one was only about 2 months from idea to trip. I ended up going by myself rather than with anyone else which gave the trip a different vibe, but worked out well given how long some of the days were.
</p>
<p>
    Since my trip last year I feel like I'm pretty good at bicycle touring so I decided to pack lighter this time and shoot for 4 days instead of 5. The trail website had a 4 day pre-set suggested ride itinerary so I just went with that. 5 days would have been a little too mellow and some of the days would have only been 40 miles, but 4 days was pretty tough with one day over 100 hundred miles. 4 days only worked out because I was solo, but would not have with a group.
</p>
<p>My cheapo little Garmin worked great to record every day and you can checkout all of the rides linked below on Strava.</p>

<iframe src="https://www.google.com/maps/d/embed?mid=12sYOKNBYy0e4n1-bQ9YMfnCLDHqR1s4&ehbc=2E312F" width="640" height="480"></iframe>

<h3>Bike</h3>
<p>I just had my normal <a href="/wheels/felt-f85x.html">commuter/towny/touring/whatever bike</a> that is all setup and settled the way I like. I just moved the controls in a little and put the bullhorn bar ends on it which is really nice for switching hand positions on long days. On the last one of these types of rides I used a pair of very big 30L MEC Panniers. This time I switched to a much smaller set of 18L Axiom Seymour Panniers which I usually just use for trips around DC. These worked great for long days with just a small banjo brothers frame triangle bag upfront.</p>

<h3>Packing Checklist</h3>
<p>I used my normal gear checklist, but trimmed it down even more. A few items on here I didn't end up using, but are worth it if you end up needing them. Things like a headlamp if you're ever changing a tire in the dark.</p>
<ul>
    <li>Gear
        <ul>
            <li>3X Bike Shorts</li>
            <li>3X Bike Shirts</li>
            <li>3X Socks</li>
            <li>2X Sweat bands</li>
            <li>Bike shoes</li>
            <li>1X Casual Shorts</li>
            <li>3X T-shirts</li>
            <li>3X Underwear</li>
            <li>Bike Gloves</li>
            <li>Bike</li>
            <li>Lock</li>
            <li>Jacket</li>
            <li>Helmet</li>
            <li>Energy drink pellets</li>
            <li>Ear Plugs</li>
            <li>Tissues</li>
            <li>Quarters (Laundry or Gas Station Air)</li>
            <li>Sunscreen</li>
            <li>Panniers</li>
            <li>Frame Bag</li>
            <li>Bike cell phone holder</li>
            <li>Knife</li>
            <li>Small Towel</li>
            <li>2X Bike Bottles</li>
            <li>A few Clif bars (can always buy more easily)</li>
            <li>Toiletries</li>
            <li>Paracord</li>
            <li>Watch</li>
            <li>Dirty clothes bag</li>
            <li>Bathing Suit</li>
            <li>Sandals</li>
            <li>Sunglasses</li>
            <li>Small first aid kit with medical tape</li>
            <li>Journal + pen</li>
            <li>Rag</li>
            <li>Coffee cup that fits on bike</li>
            <li>Tidepod/Laundry Detergent</li>
        </ul>
    </li>
    <li>
        Electronics
        <ul>
            <li>Headlamp</li>
            <li>Backup AAA batteries</li>
            <li>Bike headlight</li>
            <li>Garmin</li>
            <li>3 port USB charger brick (rather than bringing individual chargers)</li>
            <li>Backup rear light</li>
        </ul>
    </li>
    <li>
        Tools/Parts
        <ul>
            <li>Bike multi-tool</li>
            <li>Tire levers</li>
            <li>Tube</li>
            <li>Derailleur hanger</li>
            <li>Chain Link</li>
            <li>Chain Lube</li>
            <li>C02 Air + spare C02 cartridge</li>
            <li>Patch kit</li>
            <li>Cable ties</li>
        </ul>
    </li>
</ul>

<h2>Day 0 - Cincinnati</h2>
<p>I picked up a one way rental car from Hertz the day before which as always, is 10 times more painful than it should be. The car smelled like smoke and I didn't feel like dealing with getting a different one after already spending 30 minutes there. I also likely could have found a cheaper way to get to Cincinnati. I needed the car at times when the rental place was closed so I had to pay for 3 days and factoring in gas too, I probably could have packed a bike and flown for cheaper. It all ended up working out though because the car was returned a few blocks from my hotel which was only a few blocks from the beginning of the trail.</p>
<img src="/photos/ohio-to-erie/big/PXL_20230723_210940153.jpg" alt="Bike" class="inline">
<p>The drive there was uneventful and took about 8 hours from DC to Cincinnati. Sheetz saved the day for breakfast and lunch cause there weren't really any other no meat options to be had. Listened to <a href="https://armchairexpertpod.com">Armchair Expert</a> and made it to Cincinnati around 4:30PM. The city seemed really fun and it looked like a baseball game had just finished. Both the football and baseball stadiums are right on the water and only about a mile apart. I grabbed some dinner at a sportsbar near the water, prepped everything on the bike, and passed out early.</p>


<h2>Day 1 - Cedarville</h2>
<p><a href="https://www.strava.com/activities/9514475412"><em>78 Miles on Strava</em></a></p>
<p>I ate a nice big Hampton Inn breakfast and then cruised down to the water where the trail started.    
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230724_121648264.jpg" alt="Bike" class="inline">
<p>The trail was easy outta town, but then on the road for a bit before turning back into trail and looping closely around  Lunken Airport which looked like an old little airport for mostly personal flights.
    The trail was nice and wide here and I stopped at the Mile 42 coffee shopw in Loveland. It looked like a really nice place to hangout with a big public park in the middle of town surrounded by trailside restaurants, but it was a little too early for my lunch stop. I talked to two folks who asked me if I was riding the whole trail and it's nice how excited people get when you tell them your on a long multi-day bike trip.</p>
    <img src="/photos/ohio-to-erie/big/PXL_20230724_132147653.jpg" alt="Bike" class="inline">
    
<p>
    I booked it outta town with a good coffee and came up on Cartridge Brewery which is a wild big smoke stack poking out of the woods and rode with a local for a bit. He told me to ignore the trail detour signs ahead and just ride through. It started to pour and I was luckily mostly under the trees and found a pavilion next to a playground to wait it out at for only about 20 minutes. I stopped at a mexican restaurant in Morrow and inhaled the plate of chips when it came out and rounded out the meal with a massive burrito and big Modelo. The rest of the afternoon was smooth sailing and I saw almost no one else on the trail and finished for the day in Cedarville at 4:15PM.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230724_201201347.jpg" alt="Bike" class="inline">
<p>
    I didn't do extensive research before this trip and just used the suggested 4 day itinerary on the trail website so that's why I was at Cedarville. There's a nice little hotel right on the trail, but otherwise it wasn't a great place to stay. The main thing there is a giant baptist university there which I'm sure is related to not being able to buy a glass or can of beer anywhere in the entire town which is then also related to not having any good food. I had some mediocre mexican food, but luckily found a solid ice cream spot because I need some sort of comfort or vice after a long day on the bike. Called my boys, watched some old Simpsons episodes, and passed out early to get at it early tomorrow.
</p>

<h2>Day 2 - Mount Vernon</h2>
<p><a href="https://www.strava.com/activities/9521713715"><em>103 Miles on Strava</em></a></p>
<img src="/photos/ohio-to-erie/big/PXL_20230725_112108660.jpg" alt="Bike" class="inline">
<p>
    This was my longest day of the trip and my legs and butt weren't feeling great so I had to strategize a little bit. I decided to get up very early and get off the bike to move around every 5 miles which ended up being the right call. I got on the road at 6:15AM and had a cliff bar and water on the trail. There's not many places to get breakfast that early and it's honestly kinda hard to get moving after a big meal so this worked out great. It was very misty out and just getting light so I turned my lights on. I ran into a local walking the trail and chatted about the trip and then made it to the M&M diner in London, Ohio after 23 miles.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230725_142128226.jpg" alt="Bike" class="inline">
<p>
    I had a nice big breakfast and didn't stay long since there were a lot more miles to go. From here the trail went through a nature preserve which was nice since it looked totally different than everything so far and then I ended up south of Columbus in the suburbs. I stopped by Amy's Donuts for some sweets and coffee. After this I was off trail a few times and it looked pretty grimey around here. I eventually got back on course and everything looked nicer as I got further in the city.
    I attempted to make friends with 2 stray cats on the trail, but was unsuccessful.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230725_145137085.jpg" alt="Bike" class="inline">
<p>
    I think there are two trail options for getting through Columbus, I'm not 100% sure which is the real one, but I went north as soon as I could on the Olentangy trail which was one of the nicest sections of trail so far. There was a detour and I ended up going through the massive Ohio State campus and then was back on the real trail which just weaved along the river through various parks. I stopped at The Rusty Bucket around 1PM for lunch having done a little more than half my miles for the day.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230725_161759793.jpg" alt="Bike" class="inline">
<p>
    I had brought a Patagonia Houdini jacket which I thought I'd never need in summer, but hysterically used everytime I went into a heavily air conditioned building when I was soaked in sweat and exhausted. It's now one of my new favorite pieces of gear. It packs up the size of a tennis ball and fits in a pocket. Headed back out after an Impossible Burger and 2 beers.
</p>

<p>
    I was badly off trail in this section of the city and it's VERY common for these kinds of trails to be hard to follow through cities. I made what was easily my worst mistake on the trip and I kept pulling my phone out to check directions and next to my phone in my front bike bag was my wallet. I realized it had fallen out and there was no way I could re-trace the last 10 miles. I was pissed at myself for about 10 minutes, and then realized that on the scale of real bad stuff that can happen on a trip like this it wasn't so bad.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230725_223951711.jpg" alt="Bike" class="inline">
<p>
    I found a nearby CVS that accepted Google Pay on my phone, linked paypal to it, pounded a gatorade, and then bought a $200 pre-paid credit card. I also hadn't booked a hotel for the night because I wasn't sure I'd make the full distance this day, but was able to make a reservation and pay with paypal. I also had my wife text me a photo of my passport incase I needed it for anything. At this point I was feeling much better, but still had about 40 miles to go for the day so I quickly got back on the trail. I really wanted to be done with the day and my body was feeling much better so I made good time and rolled into Mount Vernon at 6:30PM
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230725_235343886.jpg" alt="Bike" class="inline">
<p>
    The town seemed really nice, but not a lot was open. There was a high end wine bar nearby called Adore so I setup shop there for 2 hours and had a massive meal, desert, and good wine. I was not the nicest dressed person there in my well worn hat and windbreaker, but wow did it feel good to sit and eat good food in a nice spot after such a long day. The staff were also really nice. I picked up some cliff bars for the next day and passed out at 9:30PM.
</p>

<h2>Day 3 - Massillon</h2>
<p><a href="https://www.strava.com/activities/9527654038"><em>80 Miles on Strava</em></a></p>

<p>I woke up nice and early since I'd gotten into a good groove of passing out earlier the night before. There wasn't really anywhere good to eat on the trail and the hotel actually started breakfast at 6. It looked like there were a lot of construction workers who stayed at the hotel who want to eat that early. It felt great to start riding knowing that my day wouldn't be as long as yesterday, but I also wanted to be done early since I needed to do laundry.</p>
<img src="/photos/ohio-to-erie/big/PXL_20230726_112744665.jpg" alt="Bike" class="inline">

<p>
    The trails here were really empty and has some neat bridges and this area looked to be home to lots of Amish and Mennonite folks so the bike trail is also shared with horse pulled buggies. The longest climb of the trip was here as well, but it was heavily shaded and cool in a forest so it wasn't too bad. This ended and there's a long stretch on the road heading into Killbuck. I got back on the trail here and it's worth noting this section of the trail and day in general had the least places to stop for food or water so if you ride around here plan accordingly.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230726_110457162.jpg" alt="Bike" class="inline">
<p>
    The trail here was massively wide and as big as most two lane roads and headed into Fredericksburg where I stopped for lunch. Had to order a personal pizza since there wasn't much else I could eat, but there was a really good ice cream and coffee place across the street. Two people I chatted with brought up crime in DC assuming the city is a complete wasteland and I really wanted to bring up how rural areas like they're in can also be miss-characterized completely by the news, but I stopped myself.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230726_125550812.jpg" alt="Bike" class="inline">
<p>
    One real cool thing here is almost all of the Mennonite families had e-bikes with burley trailers behind them. It was nice to see all of them getting around in a really rural area with just bikes. From here the trail is on the road for maybe 20 or so miles, but there's almost no traffic. Maybe a buggy or car once every 30 minutes. It was real hot on the road so I stopped for shade when I could find it.
 </p>   
 <img src="/photos/ohio-to-erie/big/PXL_20230726_185301962.jpg" alt="Bike" class="inline">
<p>
    Just outside of Dalton, someone had setup a little rest area for bikers on the corner of their property. I enjoyed the bench, some nice cold water, and signed the guest book. I texted them later in the day too and they sounded really happy how much I enjoyed their spot. It was really nice to mentally get back on a trail after getting through Dalton and not have to worry about cars. I didn't have any close calls or issues with drivers this entire trip, but you can really zone out on the trail which you can't do at all on the road. 
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230726_191948549.jpg" alt="Bike" class="inline">
<p>
    I rolled into Massillon at a very respectable 4:30PM. I grabbed a quick shower and then road to the further laundromat that everyone really liked and avoided the nearby one which all the local seemed to hate. As I had heard it was really nice inside. I had enough quarters to get the washer going, but didn't have coins or cash for a dryer. There was about 45 minutes of trying to figure out how to get cash out of my prepaid card before eventually figuring out only some pre-paid cards let you do this. I had lost my ATM card with my wallet so was in a real jam. I eventually just walked up to someone filling up their car and said to use the prepaid Visa to fill their tank and then just give me a $20 bill so they'd get free gas. They took me up on the deal, but then insisted on giving me cash for exactly how much gas they had used which was nice. I headed back to the laundromat and happily put everything in the drier. All the locals were really nice and asked about the bike with me and wanted to know more about the trip.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230726_214414449.jpg" alt="Bike" class="inline">
<p>
    It's a great feeling knowing your bags are full of clean laundry rather than really gross stuff you've biked full days in. Once laundry was done I felt like I could truly relax. There was a Seinfeld themed bar next to the hotel called Kosmos. I setup there and had a massive pile of pasta with two beers before watching a little TV and passing right out.
</p>

<h2>Day 4 - Cleveland</h2>
<p><a href="https://www.strava.com/activities/9533910325"><em>72 Miles on Strava</em></a></p>
<p>
    I was meeting a friend for lunch so I actually couldn't start as early as I usually do and slept in until 7 and felt great. Helped myself to a hotel breakfast and for the first time they actually had decent hot sauce for the eggs. Cholula or Franks are great. Tabasco is never worth it. Headed out happy and full right around 8. On the last day of these trips I'm definitely cruising faster cause I'm excited to be done. The trail here was rougher than any other section and included some previously paved but now gravel kind of stuff and I managed to get a flat. I pulled everything apart and there wasn't any punctures so probably a pinch flat. Yes I run tubes cause I don't feel like worrying about sealant drying out and having another item to maintain on this bike. I usually patch tires when I can, but didn't want to waste CO2 on the trail so I just put a new tube in and was back on my way in 15 minutes.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230727_124252276.jpg" alt="Bike" class="inline">
<p>
    The rest of the morning went great and I rolled into Missing Falls brewery in Akron right at 11AM as planned. I met Aaron there who I know from when I was previously very into going to Vintage Vespa rallies. Enjoyed a few beers and a good Impossible burger in what was the old Goodyear Tire factory which is slowly evolving into breweries and some other neat things.
 </p>
 <img src="/photos/ohio-to-erie/big/PXL_20230727_153744620.jpg" alt="Bike" class="inline">
 <p>
    Headed out around 1PM and the trail here looks a lot like the C&O Canal Path near DC. I eventually saw a 19 mile marker which I took to mean 19 miles to the end of the trail and sped up a little. Let the countdown to being done begin! I was in a real industrial part south of Cleveland and running low on water, but found a working water fountain as I got closer in the city.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230727_195306637.jpg" alt="Bike" class="inline">
<p>
    I had mentioned before that these kinds of trails are always a pain to follow through cities. I stayed on what looked like the obvious bike trail and ended up a few miles off course. I wasn't in the mood to mess around so I just put the destination in my phone and mounted it to my handlebars. After about 5 more miles I had made it to Lake Erie. Edgewater Park was nice and everyone was hanging out at the little beach. I relaxed for a few and relished in finishing what I set out to do... and then I had to ride 3 miles back the way I came to my hotel.
  </p>
  <img src="/photos/ohio-to-erie/big/PXL_20230727_212426931.jpg" alt="Bike" class="inline">
  <p>
    I stayed at the Drury Inn which was the only hotel I could find with a hot tub and I really wanted to sit in one to help my sore muscles. It's a really neat old building right in the middle of Cleveland and I'd highly recommend it. I brought my bike up to the room and leaned it against a wall knowing I was completely done riding it. Grabbed a shower and then went downstairs for the 3 free beers they provided for happy hour. I enjoyed a nice long soak in the hot tub before remembering how much I sweat in them, then walked down the street to Masthead brewing for drinks and demolished a full size pizza. The hotel was really cool and was the former Board of Education building and I don't think I've ever seen a hotel with stone floors compared to the same boring carpet they all have usually.
    </p>
    <img src="/photos/ohio-to-erie/big/PXL_20230728_000525256.jpg" alt="Bike" class="inline">
<p>
    I found a nice coffee shop the next morning after a hotel breakfast, relaxed there and read my book (Devil House by John Darnielle, the lead singer of The Mountain Goats), and my Dad rolled in around 10AM to pick me up. We took a spin through the Rock and Roll Hall of Fame. He dug all the old timer stuff and I was happy to see a Pretenders exhibit and they also had a temporary rotating section with a bunch of stuff about Tiger Army. They had a lot of good stuff on the congressional hearings to censor music and clips of Frank Zappa testifying. We hit the road and made it back to DC in time for dinner.
</p>
<img src="/photos/ohio-to-erie/big/PXL_20230728_145832644.jpg" alt="Bike" class="inline">

<h2>After the Trip</h2>
<p>I couldn't have asked for the trip to go any better. I had maybe 30 minutes of rain, no major bike problems, no injuries, and losing my wallet didn't really affect anything at all. A few thoughts in hindsight:</p>
<ul>
    <li>Some of the paved trails are the nicest bike trails I've ever ridden. Perfectly smooth and wider than the rural roads around them.</li>
    <li>The overall trail has terrible signage. Like most of these big trail projects it's lots of smaller trails connected, but there isn't really one consistent easy to see distinct sign all along it where it's needed on turns. There is kind of one, but it's a very easy to miss small green and white sign with a sticker arrow on it. Compared to the Empire State Trail with a big unique colored easy to spot sign and clear arrows it was annoying. I would have saved hours on two days if I had pre-programmed a route into my GPS so I'd suggest anyone else riding this trail do that.</li>
    
    <li>It was really nice riding solo since it let me leave really early and ride some longer days. Riding with people and drinking beers later is nice, but it was good to be able to ride as much as I wanted to and stop for breaks whenever I felt like it.</li>
    <li>I don't know what went wrong with how my bike was fitting on the first day, but if riding ever doesn't feel right, stop immediately and adjust things. Don't just power through. I really should have stopped to adjust my seat a few times on the first day.</li>
    <li>I'm not sure if there's a better option than Cedarville on a 4 day trip, but it really didn't cut it for recovering nicely after a long day on the bike.</li>
    <li>Pack light! In hindsight on one of my past trips, I have no idea why I needed so much stuff. What I brought on this one was just right.</li>
</ul>

<h2>Photos</h2>

<section class="thumbnails">
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230723_210940153.jpg">
        <img src="/photos/ohio-to-erie/small/PXL_20230723_210940153.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230723_210940153.jpg">
        </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230723_213813827.jpg">
        <img src="/photos/ohio-to-erie/small/PXL_20230723_213813827.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230723_213813827.jpg">
        </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_003157876.jpg">
        <img src="/photos/ohio-to-erie/small/PXL_20230724_003157876.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_003157876.jpg">
        </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_121648264.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_121648264.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_121648264.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_122036046.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_122036046.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_122036046.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_125657236.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_125657236.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_125657236.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_131007342.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_131007342.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_131007342.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_131017584.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_131017584.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_131017584.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_132147653.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_132147653.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_132147653.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_134308954.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_134308954.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_134308954.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_135953977.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_135953977.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_135953977.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_144636518.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_144636518.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_144636518.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_152256509.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_152256509.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_152256509.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_152350102.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_152350102.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_152350102.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_153534109.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_153534109.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_153534109.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_153539225.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_153539225.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_153539225.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_161354818.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_161354818.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_161354818.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_173600161.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_173600161.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_173600161.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_182102857.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_182102857.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_182102857.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_191218170.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_191218170.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_191218170.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_191401566.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_191401566.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_191401566.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230724_201201347.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230724_201201347.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230724_201201347.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_102207035.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_102207035.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_102207035.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_102329560.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_102329560.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_102329560.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_104811372.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_104811372.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_104811372.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_112108660.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_112108660.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_112108660.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_133025030.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_133025030.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_133025030.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_142128226.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_142128226.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_142128226.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_145137085.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_145137085.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_145137085.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_150712702.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_150712702.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_150712702.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_160458864.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_160458864.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_160458864.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_161759793.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_161759793.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_161759793.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_172428459.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_172428459.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_172428459.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_201158082.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_201158082.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_201158082.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_211155996.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_211155996.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_211155996.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_223951711.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_223951711.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_223951711.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230725_235343886.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230725_235343886.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230725_235343886.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_110457162.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_110457162.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_110457162.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_112744665.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_112744665.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_112744665.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_114657193.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_114657193.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_114657193.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_125203055.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_125203055.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_125203055.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_125550812.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_125550812.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_125550812.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_133751360.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_133751360.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_133751360.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_142747786.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_142747786.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_142747786.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_145132557.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_145132557.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_145132557.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_153109005.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_153109005.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_153109005.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_174345173.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_174345173.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_174345173.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_185301962.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_185301962.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_185301962.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_191948549.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_191948549.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_191948549.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_195854276.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_195854276.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_195854276.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_200349297.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_200349297.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_200349297.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230726_214414449.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230726_214414449.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230726_214414449.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_120517513.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_120517513.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_120517513.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_123620248.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_123620248.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_123620248.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_124252276.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_124252276.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_124252276.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_130839552.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_130839552.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_130839552.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_144620036.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_144620036.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_144620036.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_144815136.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_144815136.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_144815136.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_153744620.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_153744620.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_153744620.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_174517680.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_174517680.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_174517680.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_182342466.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_182342466.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_182342466.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_182911790.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_182911790.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_182911790.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_195306637.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_195306637.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_195306637.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_202249544.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_202249544.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_202249544.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_204629395.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_204629395.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_204629395.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_212243071.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_212243071.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_212243071.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230727_212426931.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230727_212426931.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230727_212426931.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230728_000525256.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230728_000525256.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230728_000525256.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230728_145211488.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230728_145211488.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230728_145211488.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230728_145832644.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230728_145832644.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230728_145832644.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230728_152427006.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230728_152427006.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230728_152427006.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230728_153248442.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230728_153248442.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230728_153248442.jpg">
    </a>
    <a rel="lightbox[set]" href="/photos/ohio-to-erie/big/PXL_20230728_154601483.jpg">
    <img src="/photos/ohio-to-erie/small/PXL_20230728_154601483.jpg" data-thumb="/photos/ohio-to-erie/small/PXL_20230728_154601483.jpg">
    </a>
    </section>

