---
title: Scooter Cannonball
summary: I rode a 1979 Vespa P200 2500 miles across the US as part of the 2012 Scooter Cannonball Run.
published: 2012-10-19
tag: wheels
image: /photos/7211/6971267670_27dc005b2e_z.jpg
layout: default.hbs
---

	<div id="cannonball_summary">
I rode a 1979 Vespa P200 2500 miles across the US as part of the <a href="http://www.scootercannonball.com/">2012 Scooter Cannonball Run</a>. The whole story from start to finish is below and you can checkout all of the photos <a href="http://www.flickr.com/photos/matt_toigo/sets/72157629615896875">here</a>.
</div>

    <section>

      <h2><a href="scooter-cannonball.html">Largest Parts Order Ever</a></h2>
      <div class="date_tags">March 18th, 2012</div>
      <p>
A massive order from <a href="http://www.scooterworks.com/">Scooterworks</a> and <a href="http://www.scootermercato.com/">Scooter Mercato</a>. This was the only way that I could get all of it to my garage. Hopefully I've gotten most of the spare parts I could potentially need covered. I'll post a detailed parts list soon as well.</p>

<img class="screenshot" src="/photos/6092/6995225873_e83994b11d_z.jpg" class="screenshot" />
<br style="clear: both" />
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">What I&#8217;ll Be Sitting on For 8 Days</a></h2>
      <div class="date_tags">April 2nd, 2012</div>
      <p>
I'm running a 1979 <a href="http://scooterlounge.com/vespa/buyers-guide/vespa-p.shtml">Vespa P200</a> that I've owned for a little over a year or so now with 12k miles on it. I purchased the bike from a retired guy in Maryland for $1,500 who was pretty excited that the bike was going to someone who was going to take care of it and ride it constantly. He also gave me a Vespa clock he made. The original ad on Craigslist had no photos and just said the following "Have P200, good condition, everything works".
</p>
<img class="screenshot" src="/photos/2780/5815238466_3f97931897_z.jpg" /><div class="caption">Previous Owner Saying Goodbye</div>
<p>
P200s are some of the last 2-stroke manual shift vintage vespas that were sold in the US. For anyone reading this who doesn't dork out on scooters, most <a href="http://www.vespausa.com/scooters.html#!s=home/lx-50-4v">new Vespas</a> you see on the road now use a 4 stroke engine and an automatic transmission which makes for cleaner exhaust, reliability, and easier riding. This also means that they are not as easy to work on and not nearly as much fun to drive. 2 stroke engines can make more power with the same displacement but they also require oil to be mixed in with the gas. There is something about the sound and smell of them though that's a huge draw. There's a good comparison of the 2 engine styles <a href="http://www.deepscience.com/articles/engines.html">here</a> and head on over to <a href="http://www.animatedengines.com/">Animated Engines</a> to see how they actually work or if you were ever interested in how any gas powered engine functions.
</p>
<img class="screenshot" src="/photos/5066/5874040764_fbfdd74018_z.jpg" /><div class="caption">Enjoying Some Sun</div>
<p>
P200s aren't as cool looking as earlier Vespas produced in the 60s and 70s, but they make up for it with much better reliability and performance. Prior to this I had a very beat up 74 Vespa Super that I was riding around and constantly replacing cables on.
</p>
<img class="screenshot" src="/photos/3003/5815014523_f7654ce5fa_z.jpg" /><div class="caption">The 74 Super. How it never burst into flames is a mystery</div>
<p>
My bike is stock except for a Leo Vince exhaust, an SIP Front shock and the BBQ Rack on the back. So far I've been able to tackle any maintenance that it's needed and the following have recently been done.

<ul>
<li>New Front and Rear Brake Pads</li>
<li>New Cables</li>
<li>Cleaned/Rebuilt the Carburetor</li>
<li>Rebuilt the Clutch</li>
</ul>

<img class="screenshot" src="/photos/6205/6138651255_6effe784cd_z.jpg" class="screenshot" /><div class="caption">Everything Else in Life is Optional</div>

<p>The top speed is about 65mph, but I'll probably keep it around 50 to 55mph for the majority of the cannonball since I'd rather not push something older than me to it's absolute limit for 8 days straight.</p>
<img class="screenshot" src="/photos/7096/6995257557_e8fa1b4265_z.jpg" class="screenshot" /><div class="caption">Little Sister and Little Cousin</div>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">300 Mile Practice Ride</a></h2>
      <div class="date_tags">April 15th, 2012</div>
      <p>Woke up nice and early before sunrise, packed up the bike, and then sat on my stoop drinking coffee and waiting for my support vehicle for the day to show up.
</p>
<img class="screenshot" src="/photos/7222/6849102348_bc6d88e64f_z.jpg"><div class="caption">Still Dark Out</div>
<p>The plan was to do 300 miles in a single day on the P200 to make sure it was going to hold up to the 8 days of abuse it was about to take. Each leg of the Cannonball is between 300 and 350 miles, and it's critical to have a pretty stable bike before you even start.
</p>
<img class="screenshot" src="/photos/5446/7080156965_44e7d8475a_z.jpg" class="screenshot" /><div class="caption">Support Vehicle for the Day</div>
<p>Anthony showed up on his 2006 Street Bob and we headed out for the day. Luckily we managed to avoid road closures related to the National Marathon which pretty much shut down the entire city. Our route was simple, take 50 all the way out to Ocean City, get some lunch, and head back.
</p>
<img class="screenshot" src="/photos/5156/6934129588_c4de19069f_z.jpg" class="screenshot" /><div class="caption">Usually I stay for a Few Days When I Make This Ride</div>
<p>It's pretty much one road all the way from DC to the beach which is actually pretty scenic in parts. There's also plenty of great bridges. Kept the bike in the low 50s as far as speed, but got it up to 64mph according to the GPS. The top speed of the P200 had been somewhat of a mystery since my speedometer definitely is not accurate. People always smile when they're going that fast and they look next to them and see a scooter.</p>
<p>Got out to ocean city around noon and people were already drinking for St Patrick's Day. Walked up and down the boardwalk which was pretty empty since it's still a little too early for everything to open up. Had a beer and some decent BBQ which was actually a struggle to find any food that looked editable.</p>
<p>We searched around for a proper going away present for our friend Lucas since it was his last weekend in DC. We found the perfect gift, but it would take half an hour to be ready so we hit the arcade next door. My two favorite arcade games of all time are Time Crisis 1 and 2. I've probably beaten each about a dozen times and sure enough they had 2 there at the arcade.
</p>
<img class="screenshot" src="/photos/6118/6995253211_87ffdec999_z.jpg" class="screenshot"><div class="caption">Note the Ending Credits on the Screen</div>
<p>
Played for about 45 minutes and beat it with only a few continues. Just as much fun as I remember it being. We headed back next door to pickup Lucas's present which was well worth the money.</p>
<img class="screenshot" src="/photos/7252/6995255241_983fb35b99_z.jpg" class="screenshot"><div class="caption">You Can't Go Wrong with an Airbrushed Hat</div>
<p>We hopped on the bikes and had an uneventful ride back. Cruised back into DC feeling much more confident in my bike and what it would need to accomplish in a few weeks.</p>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Truck Full of Scooters and Girlfriends</a></h2>
      <div class="date_tags">April 16th, 2012</div>
      <p>Woke up nice and early and headed over to the garage to load the scooter into a Zipcar pickup truck. Grabbed some breakfast at <a href="http://www.jimmytsplace.com/">Jimmy Ts</a> which was great and cheap as usual. Katie and I headed south to meet up with Chris and Julie.</p>
<p>I have a wedding to go to the Saturday before the cannonball so I'll actually be flying down that night before the race starts on Sunday. Obviously the Vespa isn't flying, so it had to get to Richmond before making the rest of it's journey down to Savannah.</p>
<p>Got to Alexandria to pickup Chris and Julie and took way too long to load the bikes and all the gear mostly due to the Zipcar pickup missing the pieces where you would usually hook tow straps to in the bed. Roughly an hour later with 2 scooters, tons of gear, and both girls in the truck we were ready to leave....and ended up sitting in 395 traffic for about an hour. How bad weekend traffic is around DC still boggles my mind.</p>
<img class="screenshot" src="/photos/7177/7085651299_1569d883c8_z.jpg" class="screenshot"><div class="caption">Tight Fit</div>
<p>Finally rolled into <a href="http://www.scootrichmond.com/">Scoot Richmond</a> around lunch time. Backed the truck up to their loading dock and eased the bikes off.</p>
<p>I was under the impression that we were using Rob's trailer which is just a flat open trailer, however Ed of the <a href="http://7hillsscooterclub.com/">Seven Hills Scooter Club</a> stepped up and loaned us his covered trailer and damn is it sweet. The bikes will be safe and there's plenty of room in it to store gear and tools. We're also hauling some supplies for one other rider too. I took the bike for one last spin and it started up first kick and hadn't been run in over a week. This is the only time I've ever seen the bike do this rather than its usual 2 or 3 kicks. Once everything was in we double checked that all the gear was in there and I think I checked to make sure my fuel tap was turned off about 3 times.
</p>
<img class="screenshot" src="/photos/7215/6934032492_5c2827f645_z.jpg" class="screenshot"><div class="caption">Thanks Ed!</div>
<img class="screenshot" src="/photos/7083/6934029580_5a6502e114_z.jpg" class="screenshot"><div class="caption">Where the beer drinking will be happening.</div>
<p>Grabbed some lunch at new little cafe next door. We said thanks to Ed several more times and then headed over to the <a href="http://www.rvastreetart.com/">Richmond Street Art Festival</a>. One of my coworkers at <a href="http://www.akqa.com/">AKQA</a> helped organize it and another developed the website.</p>
<img class="screenshot" src="/photos/7115/7085665765_68615afe81_z.jpg" class="screenshot"><div class="caption">Katie Wondering Why She Date's a Maniac Who Rides Old Vespas</div>
<img class="screenshot" src="/photos/7212/6939594966_b8c4708c30_z.jpg" class="screenshot"><div class="caption">Artists Doing Their Thing</div>
<img class="screenshot" src="/photos/7114/7085689029_806b1449e5_z.jpg" class="screenshot"><div class="caption">My Favorite</div>
<p>Grabbed some booze and watched people still working on their paintings. Pretty neat to actually watch someone slowly creating art on that large of a scale. Walked along a drainage pipe next to the river and enjoyed the view. The way the James  river runs through Richmond is gorgeous.
</p>
<img class="screenshot" src="/photos/7078/6939620080_560fec6dfb_z.jpg" class="screenshot"><div class="caption">Looking Across the James River</div>
<img class="screenshot" src="/photos/5276/7085696225_1170125c46_z.jpg" class="screenshot">
<p>
Everything is packed and prepped... only 4 days until the start.
</p>
<img class="screenshot" src="/photos/7041/7085690697_9ca5614224_z.jpg" class="screenshot"><div class="caption">Looking West to San Diego</div>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Ready</a></h2>
      <div class="date_tags">April 20th, 2012</div>
      <p>The time is almost here. I've got pretty much everything I planned done. I'm in the final stages of making sure I have all the last little items and studying the route. 2 days from now I'll be at the start of spending 8 days seeing 2500 miles of the US. I've only really been up and down both coasts so it should be pretty cool to see parts of the country that I've never seen before.</p>
<img class="screenshot" src="/photos/5159/7095293269_edf4e6037e_z.jpg" class="screenshot" /><div class="caption">The plan is to hold this giant map in front of me while I drive</div>
<p>A huge thanks goes out to my 2 teammates Rob and Chris. Rob has provided much needed logistics (and his father to drive support) to make this happen and Chris has done a great job with planning the route and getting directions together.</p>
<img class="screenshot" src="/photos/5340/6939584538_49e12832a9_z.jpg" class="screenshot" /><div class="caption">Rob, Myself, and Chris with the mothership</div>
<p>If anyone was curious you can checkout my parts, gear, prep, and work I'll be doing during the race below.</p>

<style type="text/css">.c6
{
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c3
{
  background-color: #ffffff;
  font-weight: bold;
}
.c2
{
  color: #ff0000;
}
.c7
{
  color: #1155cc;
}
.c8
{
  color: #9900ff;
}
.c4
{
  font-weight: bold;
}
.c9
{
  color: #ff9900;
}
.c5
{
  height: 11pt;
}
.c1
{
  direction: ltr;
}
.c0
{
  color: #38761d;
}
.title
{
  color: #000000;
  font-family: Arial;
  font-size: 36pt;
  font-weight: bold;
  line-height: 1.15;
  padding-bottom: 6pt;
  padding-top: 24pt;
  text-align: left;
}
.subtitle
{
  color: #666666;
  font-family: Georgia;
  font-size: 24pt;
  font-style: italic;
  line-height: 1.15;
  padding-bottom: 4pt;
  padding-top: 18pt;
  text-align: left;
}</style><p class="c1"><span class="c4">Cables/Bits</span></p><p class="c1"><span class="c0">2 Front Brake + Housing</span></p><p class="c1"><span class="c0">2 Rear Brake + Housing</span></p><p class="c1"><span class="c0">2 Clutch</span></p><p class="c1"><span class="c0">2 Throttle + Housing</span></p><p class="c1"><span class="c0">2 Gear + Housing</span></p><p class="c1"><span class="c0">4 Top Hats</span></p><p class="c1"><span class="c0">5</span><span class="c0"> Smaller Barrel Ends (Fit into levers)</span></p><p class="c1"><span class="c0">5</span><span class="c0"> Larger Barrel Ends (Rear brake cable + shift box)</span></p><p class="c1"><span class="c0">1 Front Brake Cable Linkage </span></p><p class="c1"><span class="c0">1 Rear Brake Cable Linkage</span></p><p class="c1"><span class="c0">3 Plastic Tophats</span></p><p class="c1"><span class="c0">4 Cable Adjusters</span></p><p class="c1"><span class="c0">4 Cable Housing Ends</span></p><p class="c1"><span class="c0">Spring Clip</span></p><p class="c5 c1"><span class="c0"></span></p><p class="c1"><span class="c4">Rubber</span></p><p class="c1"><span class="c0">1 </span><span class="c0">Spare Tire Inflated</span></p><p class="c1"><span class="c0">2 Extra Tires</span></p><p class="c1"><span class="c0">5 Extra Tubes (One to use on spare tire)</span></p><p class="c1"><span class="c0">1 Vee Rubber Tire All Weather</span></p><p class="c5 c1"><span></span></p><p class="c1"><span class="c4">Electrical</span></p><p class="c1"><span class="c0">1 Spare Headlight Bulb</span></p><p class="c1"><span class="c0">1 Tail light 5W</span></p><p class="c1"><span class="c0">1 Brake light 10W</span></p><p class="c1"><span class="c0">3 Fuses</span></p><p class="c1"><span class="c0">3 B7ES</span></p><p class="c1"><span class="c7">CDI (Have the ducati one installed)</span></p><p class="c1"><span class="c0">Spare Rectifier</span></p><p class="c5 c1"><span></span></p><p class="c1"><span class="c4">Fluid</span></p><p class="c1"><span class="c0">8 </span><span class="c0">2 Stroke Oil</span></p><p class="c1"><span class="c0">1 Quart of Crank Case Oil Castrol GTX 10W30</span></p><p class="c5 c1"><span class="c2"></span></p><p class="c1"><span class="c4">Engine</span></p><p class="c1"><span class="c0">Flywheel Side Woodruff Key</span></p><p class="c1"><span class="c0">Clutch Side Woodruff Key</span></p><p class="c1"><span class="c0">Cruciform</span></p><p class="c1"><span class="c0">Seal Kit</span></p><p class="c5 c1"><span class="c2"></span></p><p class="c1"><span class="c4">Fuel</span></p><p class="c1"><span class="c0">Carb Bits</span></p><p class="c1"><span class="c0">Fuel Valve</span></p><p class="c1"><span class="c0">Fuel Valve Gasket</span></p><p class="c1"><span class="c0">Fuel Rod Clip</span></p><p class="c5 c1"><span></span></p><p class="c1"><span class="c4">Clutch/Transmission</span></p><p class="c1"><span class="c0">C</span><span class="c0">ork Clutch Plates</span></p><p class="c1"><span class="c0">Gear Selector Rod</span></p><p class="c5 c1"><span></span></p><p class="c1"><span class="c4">Misc</span></p><p class="c1"><span class="c0">2 </span><span class="c0">Cotter Pins for Axles</span></p><p class="c1"><span class="c0">2 Oil Nuts</span></p><p class="c1"><span class="c0">Gas Cap Bits</span></p><p class="c1"><span class="c0">3 Spare Misc Levers</span></p><p class="c1"><span class="c0">Oil Filter Assembly</span></p><p class="c1"><span class="c0">Rear Hub Nut</span></p><p class="c1"><span class="c0">Brake Shoe Spring</span></p><p class="c1"><span class="c0">Osprey Pack Cover</span></p><p class="c1"><span class="c0">Keys</span></p><p class="c1"><span class="c0">Spare Vespa Key (Test)</span></p><p class="c1"><span class="c0">Spare Lock Key (Test)</span></p><p class="c1"><span class="c0">Spare Glove Box Key (Test)</span></p><p class="c1"><span class="c0">Cable Ties</span></p><p class="c1"><span class="c0">Spare Glasses or Contacts</span></p><p class="c1"><span class="c0">Small Road Atlas</span></p><p class="c1"><span class="c0">GPS</span></p><p class="c1"><span class="c0">GPS Charger</span></p><p class="c1"><span class="c0">Good Headlamp </span></p><p class="c1"><span class="c0">Spare Headlamp Batteries</span></p><p class="c1"><span class="c0">Gas Gan</span></p><p class="c1"><span class="c0">Gloves</span></p><p class="c1"><span class="c0">Orange Vest</span></p><p class="c1"><span class="c0">Boots</span></p><p class="c1"><span class="c0">Vespa Restore Book</span></p><p class="c1"><span class="c0">P200 Manual</span></p><p class="c1"><span class="c0">Ear Plugs</span></p><p class="c1"><span class="c0">Lock</span></p><p class="c1"><span class="c0">Camera</span></p><p class="c1"><span class="c0">Camera Charger</span></p><p class="c1"><span class="c0">Bungee Cords</span></p><p class="c1"><span class="c0">Paracord</span></p><p class="c1"><span class="c0">Tinted Visor</span></p><p class="c1"><span class="c0">Water Bottle/Bag</span></p><p class="c1"><span class="c0">Sunscreen</span></p><p class="c1"><span class="c0">Raingear</span></p><p class="c1"><span class="c0">Back Support </span></p><p class="c1"><span class="c0">Hair Dryer for Boots</span></p><p class="c1"><span class="c0">Waterproof Bags</span></p><p class="c1"><span class="c0">Knife</span></p><p class="c1"><span class="c0">Towel</span></p><p class="c1"><span class="c0">Duct Tape</span></p><p class="c1"><span class="c0">Small Hose Clamps</span></p><p class="c1"><span class="c0">Mastercard CC</span></p><p class="c1"><span class="c0">Insurance Card</span></p><p class="c1"><span class="c0">Watch</span></p><p class="c1"><span class="c0">Spare Cellphone Battery</span></p><p class="c1"><span class="c0">Helmet</span><span class="c8"> </span></p><p class="c5 c1"><span class="c2"></span></p><p class="c1"><span class="c4">Tools</span></p><p class="c1"><span class="c0">All the normal stuff</span></p><p class="c1"><span class="c0">Clutch Compressor</span></p><p class="c1"><span class="c0">Clutch Holding Tool</span></p><p class="c1"><span class="c0">Gas Tank Tool</span></p><p class="c1"><span class="c0">Small Bike Pump</span></p><p class="c1"><span class="c7">Torch</span></p><p class="c5 c1"><span class="c2"></span></p><p class="c1"><span class="c4">PREP</span></p><p class="c1"><span class="c0">Fresh Rear Tire</span></p><p class="c1"><span class="c0">Fix Choke Cable</span></p><p class="c1"><span class="c0">Wash + Wax</span></p><p class="c1"><span class="c0">Tighten Clutch</span></p><p class="c1"><span class="c0">Tighten Gear Cables</span></p><p class="c1"><span class="c0">300 Mile Ride in the Month Before</span></p><p class="c1"><span class="c0">Oil Change - Castrol GTX 10W30 </span></p><p class="c1"><span class="c0">Top off 2 Stroke Oil</span></p><p class="c1"><span class="c0">Tighten Front and Back Brakes</span></p><p class="c1"><span class="c0">Tighten Throttle</span></p><p class="c1"><span class="c0">30PSI in both tires + spare</span></p><p class="c5 c1"><span></span></p><p class="c1"><span class="c4">EACH NIGHT</span></p><p class="c1"><span>Top Off 2 Stroke</span></p><p class="c1"><span>Make Sure Petcock is Off</span></p><p class="c1"><span>Top Off Gas</span></p><p class="c1"><span>Check Axle Nuts</span></p><p class="c1"><span>Check Rim Nuts</span></p><p class="c1"><span>Check Carb Bolts</span></p><p class="c1"><span>Call Katie</span></p><p class="c1"><span>Top off gearbox oil mid week</span></p><p class="c1 c5"><span></span></p>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 1 - Watch for Wild Boar</a></h2>
      <div class="date_tags">April 22nd, 2012</div>
      <p>The journey starts with leaving Kirby and Jenn's wedding tearing back through DC in a suit on Katie's Vespa. Everyone smiles at you when you're riding a scooter in a suit. Got home, changed, and grabbed my bags already packed for the cannonball. Grabbed a cab to the airport and arrived with plenty of time to spare.</p>
<img class="screenshot" src="../images/cannonball_photos/wedding.jpg" /><div class="caption">One of Approximately 1.5 Times a Year I'm Wearing a Tie</div>
<p>Ate a little food and then noticed my flight was delayed... and then undelayed. They were planning to try to beat some bad weather that was coming in. So the flight boards ontime, but we end up sitting on the runway for 30 minutes. We take off and encounter what is the worst turbulence I've ever felt. The kind where the plan keeps dropping and people lift slightly out of their seats.</p>
<p>We manage to make it to Atlanta where I have a transfer to Savannah that is leaving in 10 minutes. So I take off hauling my duffel bag running through the airport in a motorcycle jacket and make it with only a few minutes to spare. Luckily everything on this flight goes fine and I end up in Savannah at 11PM.</p>
<p>I get to my hotel nearby and start my bike up just to make sure everything is still good and feel less stressed the second I hear it start. It's midnight at this point and I attempt some sleep which ends up being maybe 2 or 3 hours before I wake up at 5AM.</p>
I grab all of my gear for the entire trip (including clothes and tools that I won't be riding with) and get it all tied to the bike with bungee coords and then take off for the start with Chris.</p>
<p>We ride over on what has got to be the worst road I have ever ridden a scooter on. Wet cobblestones with old train tracks along them so your tire just slides in front of you if you try to ride over them at too shallow of an angle. I almost bit it twice, but started smiling when I rolled up to 50 scooterists gathered by the water before the sun was even up.
</p>
<img class="screenshot" src="../images/cannonball_photos/d1s1.png" /><br style="clear: both" />
<p>There are about 10 vintage scooters competing in the event and there was every other kind of bike you could imagine there with people sitting on them who look like they are no strangers to riding way further than is sane or necessary. We had a riders meeting which the only major take away was DON'T CRASH, no matter what else, DON'T CRASH and everything will be OK. I load some of my gear into our trailer, and officially check in since I couldn't do it on Sunday.
</p>
<img class="screenshot" src="../images/cannonball_photos/d1s2.png" /><div class="caption">NO CRASHING</div>
<p>Rob, Chris, and I take a photo so we have a timestamp of when we left  (6:36AM) and then ride out of the city as the sun was rising.</p>
<p>I had a pretty huge smile on my face for about the first 10 minutes of riding and was laughing in my helmet. No more stress, no more logistics to work out, just the start of the one thing I've been planning for months to do. Ride an old Vespa across the US.
</p>
<p>The day was a little rainy and cold, but it didn't even matter. The pack of scooterists widened out and then it was just us 3 riding together. We had 3 checkpoints to hit that day and they all went without incident or getting lost. The weather got warmer in the afternoon and western Georgia was gorgeous. The only incident was having to honk at a pack of 20 wild boars that was about to cross the road in front of us.</p>
<img class="screenshot" src="../images/cannonball_photos/d1s3.png" /><br style="clear: both" />
<p>In mid afternoon we rolled in to Troy, Alabama after 328 miles. You can see the route <a href="http://www.scootercannonball.com/route/day01.php">here.</a>. The parking lot was filled with everyone else I'd seen that morning in a haze and most people were already working on their bikes. I took some time to relax and sort out what I even had on my bike since I didn't have a chance to before starting the race. I replaced a broken choke cable and talked old Italian bikes with people who know more about the topic than anyone.</p>
<img class="screenshot" src="../images/cannonball_photos/d1s5.png" /><div class="caption">Trailer Looking Legit with Some Fresh Scoot Richmond Stickers</div>
<p>It's a great scene in the parking lot. Some of the best scooter mechanics you'll ever run into jumping at the chance to spend all night helping anyone with any problem they might be having with their bikes with the simple goal of just getting them running come sun rise tomorrow morning.
</p>
<img class="screenshot" src="../images/cannonball_photos/d1s4.png" />
<br style="clear: both" />
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 2 - Alabama and Mississippi</a></h2>
      <div class="date_tags">April 24th, 2012</div>
      <p><a href="http://www.scootercannonball.com/route/day02.php">304 Miles - Troy Alabama to Hazlehurst Mississippi</a></p>

<p>
Woke up at 6 after sleeping better than I had in several days and helped myself to coffee, biscuits, and gravy. A very nice way to start the day rather than on an empty stomach and 3 hours of semisleep like the previous day. We kicked off with the riders meeting at 6:30AM with the standard advice of No Crashing (which some people hadn't listened to yesterday) and to cool our jets when riding through small towns.
</p>
<img class="screenshot" src="/photos/8011/7110765507_009dda4ece_z.jpg" class="screenshot">
<div class="caption">You Gotta Respect the Small Frame</div>
<p>
One of my teammates is in the process of working through some mechanical issues so that morning Rob and I left with him manning the jeep. Hopefully he should have everything all fixed tomorrow and be back in action. He did leave me his consolidated directions which were a huge help today.
</p>
<img class="screenshot" src="/photos/7066/6964693048_38608b271a_z.jpg" class="screenshot"><div class="caption">Because Maps Are Difficult to Hold at 60mph</div>
<p>
I'm starting to realize that I have not been wearing warm enough gear in the mornings because even in the south it is still damn cold in 50mph wind at 7AM in the morning. I probably didn't notice the first day because I was just so damn happy to be riding. After about an hour of shivering and worrying that my cold hands can't work drum brakes very well it finally started to warm up.
</p>
<p>
Mississippi seems a lot more scenic than Alabama with plenty or bridges and dense forests. Spent the day split between roads where all I saw were logging trucks (I decided to keep some distance behind their beds of freshly cut trees) and skinny winding hilly roads with overhanging trees.
</p>
<img class="screenshot" src="/photos/7037/7110771865_44b5ba4b26_z.jpg" class="screenshot" /><br style="clear: both" />
<p>
I stopped at a few gas stations which all were cash only and don't shut off when you hit the amount you paid for. People asked about the Vespa and when I told them what I was up to they always smiled and had plenty of questions.
</p>
<p>
I met up with a few other riders towards the end of the day who I'd talked to for a while and we finished out the last 100 miles. We rolled into the hotel with everyone enjoying beers.
</p>
<img class="screenshot" src="/photos/7104/7110775253_e3a5a1cbb1_z.jpg" class="screenshot" /><br style="clear: both" />
<p>
The current leader in the race is this guy.
</p>
<img class="screenshot" src="/photos/7054/7110779639_4244f39162_z.jpg" class="screenshot" /><div class="caption">A 1946 Salsbury Scooter</div>
<p>
The bike sounds just like my Ninja 250 because it's a 1940s scooter with an EX250 engine swapped into it and a Vespa front end and damn is it awesome. The shear ammount of work he had to put into the bike sounds massive and it's been stable for 2 days in the race which is a pretty impressive accomplishment for this type of build.
</p>
<p>
And now to sleep even better than the last 2 nights.
</p>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 3 - Drive Friendly</a></h2>
      <div class="date_tags">April 24th, 2012</div>
      <p><a href="http://www.scootercannonball.com/route/day03.php">300 Miles - Hazlehurst MS to Lufkin TX</a></p>
<p>Woke up and brewed some coffee and ate a quick few granola bars after a new record 7 hours of sleep. The riders meeting was just a reminder that we go through school zones when school is in session so slow way down.</p>
<p>I took off around 6:45AM without the support truck before most people but was quickly past by most of the modern bikes about 30 minutes later. It's still cold in the morning but mittens and long johns made it much easier.</p>
<p>As I crossed over the Mississippi River into Louisiana everything got much warmer. Also went over the Red river which I really should have stopped and checked out, but I wanted a good finish time for the day. Today was definitely the nicest day of riding so far. About 70 degrees with no wind.</p>
<p>I managed to only stop to fuel up my tank and gas jug once which is the first time I've accomplished timing that properly. The best part of the day was crossing over Toledo Bend Reservoir going into Texas.</p>
<img class="screenshot" src="/photos/7060/6964718224_ccd4551400_z.jpg" /><br style="clear: both" />
<p>
The last stretch in Texas was an easy 60 miles and I pulled into the hotel in Lufkin, Texas before 2PM. Grabbed a BBQ steak sandwich, some local beer, hauled a chair out of the room into the sun and properly lounged.
</p>
<img class="screenshot" src="/photos/7127/7110789489_81e7ee4e37_z.jpg" /><br style="clear: both" />
<p>Next up.... two more days of Texas because it's a pretty wide state.</p>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 4 - Nothing But Texas</a></h2>
      <div class="date_tags">April 25th, 2012</div>
      <p><a href="http://www.scootercannonball.com/route/day04.php">Lufkin TX to Abilene TX - 346 miles</a></p>
<p>Left Lufkin, TX at 6:45AM from what is the grimiest motel I have ever been at and that is saying something.</p>
<img class="screenshot" src="/photos/7110/6968334242_a4f60c8ccc_z.jpg" class="screenshot"><div class="caption">I think we were the only people who weren't living there</div>
<p>The ride was pretty uneventful since central Texas is pretty baren. Mostly just straight two lane roads through tiny little towns. Lots of ranches and beef cows.</p>
<img class="screenshot" src="/photos/7139/7114413417_e7f3a5dbea_z.jpg" class="screenshot"><div class="caption">I had to give Chris back his fancy armband direction holder</div>
<p>It was definitely one of the more brutal days with straight dusty, windy roads and temperatures near 100.</p>
<img class="screenshot" src="/photos/8023/6968338232_a63ceddeed_z.jpg" class="screenshot"><div class="caption">Nothing fancy, just one of the checkpoints for the day.</div>
<p>The last stretch to Abilene was grueling and I rolled in around 2PM exhausted.</p>
<p>Since it's halfway through the cannonball, that means I'll start wearing a different shirt. It also means the bike gets a full tune up. Previously I've just been checking it over every night, but the kind of riding we've been doing warrants some proactive maintenance.</p>
<img class="screenshot" src="/photos/8157/7114417793_1d0902147c_z.jpg" class="screenshot"><div class="caption">Been Running a Little Too Hot</div>
<p>I changed the oil, cleaned out the gear selector box and regreased it, swapped in a new spark plug, topped off the 2 stroke oil, made sure nothing on the carb was loose, and put on a fresh rear tire.</p>
<img class="screenshot" src="/photos/7206/7114420635_7b74787ae0_z.jpg" class="screenshot"><div class="caption">And that's why there's always a milk crate on the back of the scooter</div>
<p>I also managed to setup an enhanced seat thanks to some carpet padding and zip ties</p>
<img class="screenshot" src="/photos/7182/6968341406_7d43825522_z.jpg" class="screenshot"><div class="caption">I had to do something about the butt hurt</div>
<p>A reporter stopped by and interviewed a bunch of us about the cannonball for a local news story tonight.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ZEOGE1JihPs" frameborder="0" allowfullscreen></iframe></p>
<p>We'll be waking up good and early tomorrow to try to get to New Mexico before it get's as hot as it did today.</p>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 5 - Beat the Heat</a></h2>
      <div class="date_tags">April 26th, 2012</div>
      <p><a href="http://scootercannonball.com/route/day05.php">Abilene TX to Roswell NM - 326 Miles</a></p>
<p>Rolled out of the hotel nice and early at 5:45PM in the dark cool air. We were worried that we would see 3 digit temperatures like we had the day before so we wanted to get as much riding done as early as possible. Chris, Rob, and I threw on our reflective gear and headed out on the beltway around Abilene. It's pretty fun cruising at night that way with a few friends and no traffic. The bikes ran great in the colder weather.</p>
<img class="screenshot" src="/photos/7206/6971266844_97ee0184f7_z.jpg" class="screenshot" /><div class="caption">It doesn't matter how goofy you look as long as drivers can see you</div>
<p>We headed north as the sun rose to the east and cruised to the first two checkpoints.</p>
<img class="screenshot" src="/photos/7201/7117346037_1c6f3e85be_z.jpg" class="screenshot" /><br style="clear: both" />
<p>A bunch of riders from the local <a href="https://groups.google.com/forum/#!forum/too-flat-scooter-club">Too Flat Scooter Club</a> rode down to say hi. They had a banner setup with cold drinks and snacks.</p>
<img class="screenshot" src="/photos/7090/6971269214_969e3e3167_z.jpg" class="screenshot" /><div class="caption">Huge thanks go out to these guys</div>
<p>After crossing into New Mexico from Texas it's about a 100 mile stretch with no gas stations or anything at all. Just nothing but oil fields.</p>
<img class="screenshot" src="/photos/7181/6971271270_62f50653ce_z.jpg" class="screenshot" /><div class="caption">100 Miles of This, but It's Still Interesting Since it Looks Like Nowhere Else I've Ever Been in the US</div>
<p>Rolled into Roswell around 2PM pretty exhausted since I really need to start getting to sleep earlier. The town seems pretty nice. Much more walkable than anywhere in Texas and plenty of cheesy alien stuff. Had my usual large lunch and 2 beers to feel human again and then set right to work on a couple of small maintenance tasks on the bike.</p>
<img class="screenshot" src="/photos/7077/7117350491_653f383644_z.jpg" class="screenshot" /><div class="caption">It has the taste tourists prefer.</div>
<p>Rode over to gas up before putting the bike away and managed to snap a clutch cable. It's a very good thing that this snapped during the 1 mile I was riding around town rather than the hundreds of miles in the dessert. I would have had what I would have needed to fix it, but damn would laying down on the side of a scorching road trying to pry off a hot grimey exhaust been rough.</p>
<img class="screenshot" src="/photos/7124/7117350163_9998eb5128_z.jpg" class="screenshot" /><div class="caption">None more filthy</div>
<p>5 days down and 3 more left. Tomorrow we head for higher altitude.</p>
<img class="screenshot" src="/photos/7211/6971267670_27dc005b2e_z.jpg" class="screenshot" /><br style="clear: both" />

    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 6 - High Altitude</a></h2>
      <div class="date_tags">April 28th, 2012</div>
      <p><a href="http://www.scootercannonball.com/route/day06.php">Roswell NM to Show Low AZ - 364 miles</a></p>
<p>Woke up good and early again with plenty of sleep since I barely resisted drinking and shooting pool last night at a pretty fun bar across the street from our hotel. We left Roswell at 5:45AM and headed west in the chilly dark.</p>
<img class="screenshot" src="/photos/7217/6974237298_f362ce6fea_z.jpg" class="screenshot" /><br style="clear: both" />
<p>This was the longest leg of the Cannonball (364 miles) and by far the most grueling. It was a little colder than I'd been used to since we're in the desert, but wasn't bad at first. Rediculously strong winds directly against us and constant long steep hills made for a pretty rough ride. Luckily I caught our support truck at a gas station and grabbed mittens and an extra layer. The first checkpoint was also 140 miles away rather than the usual 100 or less</p>

<img class="screenshot" src="/photos/7113/6974237732_09dae5dc30_z.jpg" class="screenshot" /><br style="clear: both" />

<p>I spent the majority of the day in 2nd and 3rd gears fighting the wind and cold as we wound up canyons. Hitting a down hill was always a huge relieve followed by a dozen miles of flat and then more hills. High up east of Socorro I also passed by the <a href="http://www.vla.nrao.edu/">NRAO Very Large Array</a></p>

<p>I chose not to rejet my carburator for the higher altitude today. I chose poorly and this made the hill climbs even worse and I was limited to about 15 miles per hour on some of the steeper hills around 7,000 feet. As altitude increases there is less oxygen in the air which causes the air fuel mixture in the carburator to become too rich (too much gas, not enough oxygen) and the bike starts to bog down. You can use smaller jets (tiny holes that regulate the amount of gas in the carburator) to get the ratio correct by decreasing the amount of fuel and this is what I should have done, but didn't.</p>

<p>The result was a 12 hour ride today and plenty of cars passing me. However, this was still my favorite part of the trip in terms of scenery. It's probably because I'm usually on the east coast and there is nothing around that looks anything like western New Mexico and Arizona. It's huge flat areas surounded by beautiful hills and mountains. As you go west into Arizona everything changes from desert to fields of tall grass.</p>

<img class="screenshot" src="/photos/7085/7120326057_a96fde9ac4_z.jpg" style="screenshot" /><br style="clear: both" />

<p>Rolled into Show Low, Arizona 12 hours later exhausted. I've got a strategy to deal with the higher altitude tomorrow, that I'll elaborate on if it works well.</p>

<p>Only 2 days left until I run down the beach and jump in the ocean.</p>

<img class="screenshot" src="/photos/7262/7120325593_6c89fd1a90_z.jpg" style="screenshot" /><br style="clear:both" />
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 7 - Arizona</a></h2>
      <div class="date_tags">April 28th, 2012</div>
      <p><a href="http://scootercannonball.com/route/day07.php">Show Low AZ to Parker AZ - 354 miles</a></p>
<p>Woke up a little later than usual to let it warm up a bit since this was one of the coldest mornings of the trip, and the hotel also provided breakfast that started at 6:30AM. We hit the road a little before 7.</p>
<p>My perception of Arizona before this trip was that it was pretty much just desert, but wow was I wrong. This was my favorite day so far and also probably some of the best roads I've ever ridden in my life.</p>
<img class="screenshot" src="/photos/7241/6986384292_af0547d7a0_z.jpg" class="screenshot" /><br style="clear: both" />
<p>We rolled out of Show Low, AZ and headed north west into the mountains. We were greeted by freshly paved roads with long winding curves overlooking dense forests and mountains in the distance.</p>
<img class="screenshot" src="/photos/7240/6986389288_1a7f401cca_z.jpg" class="screenshot" /><br style="clear: both" />
<p>I ascended switchbacks cut into red rocks before flying down hill back into an open valley.</p>
<img class="screenshot" src="/photos/7263/7132478149_a4ccba918d_z.jpg" class="screenshot" /><br style="clear: both" />
<p>After making sure I had plenty of gas I started up the <a href="http://en.wikipedia.org/wiki/Mingus_Mountain">Mingus Mountain</a> and through the old mining town of <a href="http://en.wikipedia.org/wiki/Jerome,_Arizona">Jerome</a> cut into the side of the mountain. This was one of the most fun parts of the ride. <p>Constant sharp turns with great views any direction you looked.</p>
<img class="screenshot" src="/photos/7055/6986446024_a6ec5aa47a_z.jpg" class="screenshot" /><br style="clear: both" />
<p>We hit 7,000 ft which was one of the checkpoints for the day and stopped for a break and to reattach my air filter on my carburator. I mentioned yesterday that my bike was running like crap due to higher altitude, and I used the quick fix that a local recommended of just running the bike without the air filter so that it could get more air. This worked extremely well and I easily accelerated up any of the hills. I put it back on at 7,000 ft though because we'd be descending for the rest of the day and it needs to be on at lower altitudes to keep the bike from running too lean (too much air) and overheating.
</p>
<img class="screenshot" src="/photos/7080/6986495184_1368714262_z.jpg" class="screenshot" /><br style="clear: both" />
<p>Cruised down the hills into Prescott Valley where a bike race was going on and then headed up more fun roads on top of Mt Union and flew down the other side.</p>
<img class="screenshot" src="/photos/7215/7132586341_0ee35a05da_z.jpg" class="screenshot" /><br style="clear: both" />
<p>This was some of the most enjoyable riding I've ever done, but all good things come with a price and that price was 200 miles of straight roads in the scorching desert. No turns, only a town every 50 miles or so, and the only interesting thing to look at were cacti.</p>
<p>Made it in to Parker, Arizona a little before 5 and scoured the town before finding the only restaurant other than fast food for dinner.</p>
<p>Only 1 day and 325 miles left until I cross the finish in San Diego.</p>
<img class="screenshot" src="/photos/7247/7132630727_d40cfb9f8e_z.jpg" class="screenshot" /><br style="clear: both" />
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Day 8 - West Coast</a></h2>
      <div class="date_tags">May 1st, 2012</div>
      <p>Woke up an hour before my alarm completely awake at 5:30AM, no coffee necessary and hit the road.</p>
<img class="screenshot" src="/photos/8026/7133990605_f5278e8235_z.jpg" class="screenshot" /><div class="caption">Woke up right on the border</div>
<p>118 miles of desert with the sun rising at my back. If you have to go through the desert, 6AM is the time to do it because driving it in the afternoon heat almost puts you to sleep.</p>
<img class="screenshot" src="/photos/8014/6987907540_cd1cb9f125_z.jpg" class="screenshot" /><br style="clear: both" />
<p>
Gassed up when I hit Twentynine Palms and headed south into <a href="http://www.nps.gov/jotr/index.htm">Joshua Tree National Park</a>.</p>
<img class="screenshot" src="/photos/7192/7133988653_6a4d3280ee_z.jpg" class="screenshot" /><br style="clear: both" />
<p>Simply amazing. Winding roads surrounded by trees that look nothing like trees anywhere I've seen. Rounded off rocks jutting out of the hills casting shadow across the road.</p>
<img class="screenshot" src="/photos/7259/7133987049_a01e415401_z.jpg" class="screenshot" /><br style="clear: both" />
<p>Now today's route was definitely the most complicated in terms of turns to make. I had directions taped to both arms rather than just the left. Somewhere in Joshua Tree I missed a turn and ended up west of my second checkpoint for the day. A few other riders missed turns in this section of the course too because the roads constantly change names without turns and the turns you did need to make were poorly labeled.</p>
<p>I knew a town near the second checkpoint so I plugged it into the GPS and tore off down an interstate. About 10 miles from the exit for checkpoint two I started to loose power. It felt just like when the bike is normally low on gas so I flipped the fuel to reserve but didn't feel the fuel kick back in. I rolled to a stop on a dusty exit and immediately felt the 95 degree heat.</p>
<p>I've ridden old Vespas for a bit, so I was not shocked at all. I start pulling apart the bike figuring that likely the CDI went which was causing a lack of spark. At first I thought I couldn't see a spark, but it was just so bright out it was difficult to see.</p>
<p>There are 3 systems that an engine needs to run. Spark, Fuel, and Compression. Gas flowed to the carb from the tank no problem so I start tearing it apart to clean it since it did look pretty filthy. I get the carb all back together and still nothing. I poored a little gas directly in the crank case too and still nothing.</p>
<p>Fuel and spark seemed fine which are the most common reasons an engine won't start. The third is compression. I loosened up the 4 cylinder head bolts to see what was up inside the cylinder and there it was. A big old hole in the piston.</p>
<img class="screenshot" src="/photos/7249/6987905940_145997c0e4_z.jpg" class="screenshot" /><div class="caption">Not supposed to be there...</div>
<p>A problem that is not getting fixed without some extensive work and a new piston which I didn't have. Now that I think about it the engine sounded completely different than usual when I was trying to kick it over and this was why. I was about 150 miles from the finish.</p>
<p>I got our support driver on the phone and he headed over. I had about 10 minutes of being pissed off and thinking of everything that I could have done differently. Cooler spark plug, ran a richer jet after we came down from higher altitude, ran the bike with the cowl off to cool it better (but risk trashing it if it dropped on the right side), done more to check that the bike was running correctly with the aftermarket exhaust it came with, driven a little slower instead of being in "drive fast and get back on course immediately mode".</p>
<p>I'd run the bike for over a year before the Cannonball and it had always ran great. At the end of the day it's a 33 year old Vespa that was never designed to run 350 miles a day for 8 days in a row in scorching weather so the risk of a breakdown is always there no matter what. The hole in the piston was either caused by the engine getting way too hot causing combustion before the spark as the piston was traveling up the cylinder, or incorrect ignition timing which I think is less likely. Judging from the spark plug I pulled out and the cylinder it looks like it got way too damn hot and the gas lit before the spark.</p>
<p>Another P200 rider had the same exact piston failure earlier in the week and other riders had been on the trailer for days so I really didn't have any reason to be pissed since I got to ride all 8 days of the cannonball.</p>
<p>I called the finish at <a href="http://www.scooterwest.com/">Motorsport Scooters</a> and told them not to worry and that I was en route. I got there, pulled the bike out of the trailer, pushed it to a good rolling start and sat on it as it rolled accross the finish as everyone there cheered. I actually ended up finishing <a href="http://www.scootercannonball.com/">31st out of 50 riders</a> despite the breakdown which I'm pretty happy with.</p>
<img class="screenshot" src="/photos/8149/6988219678_41cd73c465_z.jpg" class="screenshot" /><div class="caption">Flintstone powered vespa rolling across the finish</div>
<p>
Katie was there waiting with a 22 of Stone IPA and Champaign which I got right to work on.</p>
<img class="screenshot" src="/photos/7048/7134308891_396e201ace_z.jpg" class="screenshot" /><div class="caption">Good girlfriend</div>
<img class="screenshot" src="/photos/8151/6988224662_da146b00b3_z.jpg" class="screenshot" /><div class="caption">Both bottles were absolutely necessary</div>
<p>Got a little buzzed since I had only had 2 Cliff bars to eat all day, and reminissed about the last week with all the other riders there and everything we had been through. Both of my teammates Rob and Chris were there to shake my hand as well. I've ridden further with these guys than I've ever ridden with anyone</p>
<img class="screenshot" src="/photos/7198/7134327129_99efae01f9_z.jpg" class="screenshot" /><div class="caption">Worried on Day 1</div>
<img class="screenshot" src="/photos/7075/7134327003_0883c05bfc_z.jpg" class="screenshot" /><div class="caption">Feeling good at the finish line</div>
<img class="screenshot" src="/photos/7095/7134323881_f86eb6b2e6_z.jpg" class="screenshot" /><div class="caption">Glad to be done</div>

The shop there also had the new piston I needed so of course I bought it with plans of a full engine rebuild as soon as the bike is back in DC since the missing piece of the piston could be down in the crank case of the engine.
</p>
<img class="screenshot" src="/photos/8143/6987903814_712a763197_z.jpg" class="screenshot" /><div class="caption">Now with 100% less hole</div>
<p>
I went out for a massive BBQ dinner where we watched some footage from the 2010 Cannonball and the recent news clip in Abilene, Texas and passed out at 10.</p>
<p>Woke up the next morning glad that I wasn't going to be sitting on a scooter for 8 hours and helped pack up the trailer for its ride back to the east coast. It was loaded to the brim with 4 scooters and every piece of gear we had been hauling for the last week.</p>
<img class="screenshot" src="/photos/7255/6988231980_f29d962956_z.jpg" class="screenshot" /><div class="caption">See you in DC old friend</div>
<img class="screenshot" src="/photos/7067/7134322827_d7189836d7_z.jpg" class="screenshot" /><div class="caption">Trailer is riding low</div>
<p>I had the day to relax in San Diego and then fly back home to DC and normal life.</p>
<p><strong>Well that's the end of the Matt Toigo 2012 Scooter Cannonball saga.</strong></p>
<p>Did everything go as planned? Nope. Did I have an absolute blast and get to see parts of my country that I've never seen before? Sure did. So why did I ride an old scooter 2500 miles across the US? Adventure. That's why. Real. Genuine. Adventure. Life is pretty boring when you play it safe and are 100% sure everything is going to work out exactly as planned. Life is great when you are so excited and nervous about something that you can barely sleep for an entire week before you start it. It's even better when you are alone in the middle of the dessert at 6AM, going 60mph, hoping pieces of metal and rubber older than you will hold together, and laughing out loud because you're so happy.</p>

<p><strong>If this trip has taught me anything, it's that life is best spent trying to accomplish goals that you're not sure you can. Living it any other way is cheating yourself out of the most satisfying feeling there is.</strong></p>
<img class="screenshot" src="/photos/7262/7134316039_b6943895fc_z.jpg" class="screenshot" /><div class="caption">Will this new piston be travelling across the country in the 2014 Scooter Cannonball?</div>

<p><em>You can also look through all 173 photos from the trip <a href="http://www.flickr.com/photos/matt_toigo/sets/72157629615896875/">here</a>.</em></p>
    </section>

    <section>

      <h2><a href="scooter-cannonball.html">Two Extra Cannonball Videos</a></h2>
      <div class="date_tags">May 31st, 2012</div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JQtqjbzcpZU" frameborder="0" allowfullscreen></iframe>
<p>Interviews with all of the riders. I'm there at 9:30</p>

<iframe src="https://player.vimeo.com/video/42948612" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>Pushing the bike across the finish line in San Diego</p>
    </section>
