---
title: Vespa P200 Full Rebuild
summary: Photos and details on going through my old Vespa.
published: 2013-01-13
tag: wheels
image: /photos/8215/8379072692_f663f6f492_z.jpg
layout: default.hbs
---

	<p>The P200 got banged up in the CORSA IFP so I decided to go through the whole bike over winter. I pretty much went through everything except the engine which only has about 1000 miles on it since I <a href="vespa-engine-rebuild.html">rebuilt it last summer</a>. At this point every single bit of the bike has been apart so maybe I'll stop screwing with it.</p>

<ul>
<li>Painted with Summit Racing Single Stage Urethane paint which turned out OK, but not great. The bike isn't as glossy as it should be mostly due to not using reducer with the primer and using a touch up gun which definitely needed thinner primer than I was spraying. I'll likely sand it and respray it next winter. Overall it seems like a pretty good paint system and they have very detailed instructions on how to use all their products. It would have been $800 to have someone professionally paint the bike, and this ended up being about $100 in materials. Looking back I shouldn't have even bothered with the primer and I would have had a very nice paint job for only $50.
</li><li>A bunch of misc bits are rattle canned black.
</li><li>SIP Diamond plate foorboards to replace the normal rails. There's also a center piece for the channel, but I didn't like how it looked.
</li><li>All new external cables.
</li><li>New wiring harness
</li><li>New rectifier since I had a spare from the cannonball
</li><li>Rubber legshield trim to replace the standard metal trim
</li><li>New Grips
</li><li>Halogen headlight conversion
</li><li>New rubber bits anywhere wires or cables were going through the frame
</li><li>New upper fork bearing
</li><li>Fixed busted steering stop
</li><li>SIP Digital Speedometer which does engine RPM, temperature, and trip distance and ran the button for it to the left controls
</li><li>Sorted all the bits in the headset (top hats and cable ends to make sure everything was right)
</li><li>Sport seat (I'm not sure of the brand)
</li><li>Smoke turn signals with orange bulbs
</li><li>Aluminum centerstand boots
</li><li>Vespa PX Taillight conversion
</li><li>Bolted a plate puller to the back
</li><li>Painted the exhaust black with high temperature paint
</li><li>Painted both of the indicators in the headset black cause they were broken and I never look at them anyway</li>
</ul>

<h2>What's Left</h2>
<ul>
<li>Ordered an all black mudflap to replace the worn out grey looking one</li>
<li>Ordered black levers</li>
<li>I'm going to try to find mirrors that I like the look of, but the chances are pretty low.</li>
<li>I ordered a matching rear SIP Shock, but it's backordered for a bit.</li>
</ul>


		<section class="thumbnails">
		<a rel="lightbox[set]" href="/photos/8193/8377997481_ec2df0eaa2_z.jpg" title="IMG_20120919_075914"><img src="/photos/8193/8377997481_ec2df0eaa2_q.jpg" data-thumb="/photos/8193/8377997481_ec2df0eaa2_q.jpg"></a><a rel="lightbox[set]" href="/photos/8474/8379074180_75dbf63045_z.jpg" title="IMG_20120921_171033"><img src="/photos/8474/8379074180_75dbf63045_q.jpg" data-thumb="/photos/8474/8379074180_75dbf63045_q.jpg"></a><a rel="lightbox[set]" href="/photos/8505/8379073898_88bff782c0_z.jpg" title="IMG_20120924_180953"><img src="/photos/8505/8379073898_88bff782c0_q.jpg" data-thumb="/photos/8505/8379073898_88bff782c0_q.jpg"></a><a rel="lightbox[set]" href="/photos/8370/8377996913_abbbf43ee1_z.jpg" title="IMG_20120925_203404"><img src="/photos/8370/8377996913_abbbf43ee1_q.jpg" data-thumb="/photos/8370/8377996913_abbbf43ee1_q.jpg"></a><a rel="lightbox[set]" href="/photos/8189/8377996807_43b3338509_z.jpg" title="IMG_20120926_200325"><img src="/photos/8189/8377996807_43b3338509_q.jpg" data-thumb="/photos/8189/8377996807_43b3338509_q.jpg"></a><a rel="lightbox[set]" href="/photos/8476/8379073466_9cfd4938b5_z.jpg" title="IMG_20120926_213302"><img src="/photos/8476/8379073466_9cfd4938b5_q.jpg" data-thumb="/photos/8476/8379073466_9cfd4938b5_q.jpg"></a><a rel="lightbox[set]" href="/photos/8214/8379073406_b919c5eff1_z.jpg" title="IMG_20121110_154315"><img src="/photos/8214/8379073406_b919c5eff1_q.jpg" data-thumb="/photos/8214/8379073406_b919c5eff1_q.jpg"></a><a rel="lightbox[set]" href="/photos/8500/8379073192_66b72eaa8f_z.jpg" title="IMG_20121110_154324"><img src="/photos/8500/8379073192_66b72eaa8f_q.jpg" data-thumb="/photos/8500/8379073192_66b72eaa8f_q.jpg"></a><a rel="lightbox[set]" href="/photos/8092/8379072942_775f103538_z.jpg" title="IMG_20121202_194940"><img src="/photos/8092/8379072942_775f103538_q.jpg" data-thumb="/photos/8092/8379072942_775f103538_q.jpg"></a><a rel="lightbox[set]" href="/photos/8492/8379072830_fe967184d2_z.jpg" title="IMG_20121208_201158"><img src="/photos/8492/8379072830_fe967184d2_q.jpg" data-thumb="/photos/8492/8379072830_fe967184d2_q.jpg"></a><a rel="lightbox[set]" href="/photos/8095/8377995887_6048de1953_z.jpg" title="IMG_20121219_212720"><img src="/photos/8095/8377995887_6048de1953_q.jpg" data-thumb="/photos/8095/8377995887_6048de1953_q.jpg"></a><a rel="lightbox[set]" href="/photos/8185/8379072680_9ddb8e93aa_z.jpg" title="582303_663926924983_277850664_n"><img src="/photos/8185/8379072680_9ddb8e93aa_q.jpg" data-thumb="/photos/8185/8379072680_9ddb8e93aa_q.jpg"></a><a rel="lightbox[set]" href="/photos/8215/8379072692_f663f6f492_z.jpg" title="427761_663926276283_497393097_n"><img src="/photos/8215/8379072692_f663f6f492_q.jpg" data-thumb="/photos/8215/8379072692_f663f6f492_q.jpg"></a><a rel="lightbox[set]" href="/photos/8377/8379072756_cce550b003_z.jpg" title="394969_663926875083_1761425439_n"><img src="/photos/8377/8379072756_cce550b003_q.jpg" data-thumb="/photos/8377/8379072756_cce550b003_q.jpg"></a><a rel="lightbox[set]" href="/photos/8326/8378015695_4155ed06e8_z.jpg" title="543894_664077667893_1902460172_n"><img src="/photos/8326/8378015695_4155ed06e8_q.jpg" data-thumb="/photos/8326/8378015695_4155ed06e8_q.jpg"></a>		</section>
