---
title: Vespa Engine Rebuild
summary: A little bit about what it took to get the P200 back on the road after the cannonball.
published: 2012-10-25
tag: wheels
image: /photos/5280/7416493940_e6823f0282_z.jpg
layout: default.hbs
---

	<p>It's now 7 weeks after the end of the <a href="http://scootercannonball.com/results/2012Updates.php">Scooter Cannonball</a> and I just finished a full engine rebuild on the P200 and took it for a couple of laps around Potomac Park in DC.</p>

<p>On the last day of the Cannonball I put a hole through my piston and decided rather than just install a new piston I would rebuild the whole engine just to make sure there weren't bits of piston down in the engine and I'm glad I did. After taking everything apart there was a very fine sludge/sand in the crank case and it was in the flywheel side bearing which caused it to make a wonderful grinding sound when it spun. Also someone had advanced the ignition timing on the bike and that's what probably caused the piston to blow. Very tempted to tear apart and rebuild any bike I buy at this point because you never know what the hell was done to it beforehand. And while I had the cases split and the engine off the bike here's everything that ended up getting replaced.</p>

<ul>
<li>All Seals (Flywheel side, Clutch Side, and Hub)</li>
<li>All Gaskets (Everything, a full gasket kit was totally worth it)</li>
<li>Cruciform</li>
<li>Gear Selector Rod</li>
<li>Flywheel Side Crank Bearing</li>
<li>New Piston 1st Over</li>
<li>Cylinder Bored by <a href="http://hotrodscooters.com/">Hotrod Al</a> to 1st Over</li>
<li>Wrist Pin Bearing</li>
<li>Stator Rewired by <a href="http://www.scooterwest.com/">Motorsport Scooters</a></li>
<li>New Ducati CDI</li>
<li>Helicoil in Oil Plug Threads (definitely the way to go rather than tapping for a larger thread)</li>
<li>Replaced the Fuel Line</li>
<li>New Fuel Tap</li>
<li>Fixed some old grimey wiring and connectors</li>
<li>Running a B8ES Spark Plug rather than a B7ES</li>
<li>Switched to a 118 main jet from the stock 116 jet in the 24/24 Carb</li>
</ul>

<p>I'd estimate the total time it took me was about 40 hours or so and now I've got 470 miles of break in left since it's pretty much a new engine at this point so no whacking the throttle for a month. The bikes feels snappier, but I'll wait to really push it and find out how fast it actually is in the CORSA this fall.</p>

<p>Below are some photos from the rebuild.</p>

<img src="/photos/5151/7416508002_003168d632_z.jpg" class="screenshot"><div class="caption">Aaannnndd..... we're off!</div>

<img src="/photos/7236/7299333584_48eee45271_z.jpg" class="screenshot"><div class="caption">Crank case with a new seal and all the piston gunk cleaned out</div>

<img src="/photos/7095/7264877864_7cf71ebe3b_z.jpg" class="screenshot"><div class="caption">Left case half with the primary and secondary drive removed</div>

<img src="/photos/7128/7416499286_dfa2e42d3d_z.jpg" class="screenshot"><div class="caption">Putting the case halves back together</div>

<img src="/photos/8028/7416496888_f8da0426be_z.jpg" class="screenshot"><div class="caption">Cases back together and about to put the clutch cover on</div>

<img src="/photos/8154/7416502088_73e8da67e6_z.jpg" class="screenshot"><div class="caption">New piston and bored cylinder delivered at work. Notice the old piston in the background serving as perhaps the most kickass paperweight in my entire office</div>

<img src="/photos/7262/7416495378_4ebd3470e6_z.jpg" class="screenshot"><div class="caption">New piston on the connecting rod</div>

<img src="/photos/5280/7416493940_e6823f0282_z.jpg" class="screenshot"><div class="caption">Almost fully assembled engine waiting to go back on the bike.</div>

<img src="/photos/7120/7416477704_fdd0fe4979_z.jpg" class="screenshot"><div class="caption"> Inaugural ride out to Hains Point</div>

<p>It's been fun riding the Ninja 250 around since it makes a great city bike, but it's damn good to have the Vespa back.</p>
