---
title: Wednesday Night Spins Video
summary: Onboard footage from the awesome Wednesday Night Spins race series that Crosshairs Cycling put on in a parking garage in Crystal City. This footage is from the C Group Race on March 26th.
published: 2015-04-03
tag: wheels
layout: default.hbs
---

	<p>Onboard footage from the awesome Wednesday Night Spins race series that <a href="http://www.crosshairscycling.com/">Crosshairs Cycling</a> put on in a parking garage in Crystal City. This footage is from the C Group Race on March 26th.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/U4N1q47LtsQ" frameborder="0" allowfullscreen></iframe>
